Repository scalableminds/webknossos, pull requests merged in 2019-06, with the labels that each got.

#4122 add sleep in volume data download
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
Labels: backend, bug

#4105 Add histogram to dataset settings
  CHANGELOG.md
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/api_flow_types.js
  frontend/javascripts/dashboard/dataset/dataset_import_view.js
  frontend/javascripts/dashboard/dataset/default_config_component.js
  frontend/javascripts/libs/datasource.schema.json
  frontend/javascripts/libs/datasource.types.js
  frontend/javascripts/oxalis/geometries/materials/plane_material_factory.js
  frontend/javascripts/oxalis/model/reducers/settings_reducer.js
  frontend/javascripts/oxalis/shaders/main_data_fragment.glsl.js
  frontend/javascripts/oxalis/store.js
  frontend/javascripts/oxalis/view/settings/dataset_settings_view.js
  frontend/javascripts/oxalis/view/settings/histogram_view.js
  frontend/javascripts/test/puppeteer/dataset_rendering.screenshot.js
  frontend/stylesheets/trace_view/_user_settings_view.less
Labels: enhancement, frontend

#4119 Allow experience domains creation in task creation
  CHANGELOG.md
  frontend/javascripts/admin/task/task_create_form_view.js
  frontend/javascripts/admin/user/experience_modal_view.js
  frontend/javascripts/components/select_experience_domain.js
Labels: enhancement, frontend-easy

#4135 speed up refresh speed for dataset reports
  MIGRATIONS.md
  app/controllers/DataSetController.scala
  app/controllers/WKDataStoreController.scala
  app/models/binary/DataSet.scala
  app/models/binary/DataSetService.scala
  app/models/team/Team.scala
  conf/evolutions/044-datasource-hash.sql
  conf/evolutions/reversions/044-datasource-hash.sql
  test/db/dataSets.csv
  tools/postgres/schema.sql
  util/src/main/scala/com/scalableminds/util/tools/TimeLogger.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceRepository.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
Labels: backend

#4138 Fix ignoring of reported datasets of unknown orga
  app/controllers/DataSetController.scala
  app/controllers/WKDataStoreController.scala
  app/models/binary/DataSet.scala
  app/models/binary/DataSetService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceRepository.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
Labels: backend, bug

#4146 default to guessing wkw as dataformat
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
Labels: backend

#4153 Fix layout in gallery
  frontend/stylesheets/main.less
Labels: frontend-easy

#4151 Update ThreeJS to v105
  frontend/javascripts/oxalis/shaders/main_data_fragment.glsl.js
  frontend/javascripts/oxalis/view/rendering_utils.js
  package.json
  yarn.lock
Labels: frontend
