Repository scalableminds/webknossos, pull requests merged in 2019-04, with the labels that each got.

#3963 Add cross origin api
  frontend/javascripts/oxalis/api/cross_origin_api.js
  frontend/javascripts/oxalis/view/layouting/tracing_layout_view.js
Labels: frontend

#3968 Fix endless render loop when segmentation is not rendered (second try)
  frontend/javascripts/oxalis/model/bucket_data_handling/layer_rendering_manager.js
  frontend/javascripts/oxalis/model/bucket_data_handling/texture_bucket_manager.js
Labels: bug, frontend

#3959 Transfer volume data zip as whole file rather than chunked
  app/models/annotation/AnnotationService.scala
  app/models/annotation/TracingStoreRpcClient.scala
  util/src/main/scala/com/scalableminds/util/io/ZipIO.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/rpc/RPCRequest.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
  webknossos-tracingstore/conf/com.scalableminds.webknossos.tracingstore.routes
Labels: backend, bug

#3981 Create publications.md
  docs/hello.md
  docs/index.md
  docs/publications.md
Labels: documentation

#3977 Remove badge shown when no user is logged in
  frontend/javascripts/navbar.js
Labels: frontend, frontend-easy

#3989 Make isDisabled optional and added alpha to schema
  frontend/javascripts/libs/datasource.schema.json
Labels: bug, frontend-easy

#3982 Attach wkconnect
  conf/application.conf
  docker-compose.yml
  start-docker.sh
  tools/proxy/proxy.js
Labels: infrastructure

#3985 Always send Datastore Access Errors as Json
  app/models/binary/DataStore.scala
Labels: backend

#3988 Fix dropdown login padding
  frontend/javascripts/admin/auth/login_form.js
  frontend/javascripts/navbar.js
Labels: enhancement, frontend-easy

#3995 Only re-compute bounding sphere of skeletons if something changed
  CHANGELOG.md
  frontend/javascripts/oxalis/geometries/skeleton.js
Labels: performance

#3999 Re-fetch buckets if fetching them failed
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket.js
  frontend/javascripts/oxalis/model/bucket_data_handling/pullqueue.js
  frontend/javascripts/oxalis/model/bucket_data_handling/wkstore_adapter.js
Labels: bug, frontend

#3461 Tensorflow segmentation
  conf/messages
  docker-compose.yml
  docs/keyboard_shortcuts.md
  flow-typed/npm/redux-saga_v0.16.x.js
  flow-typed/npm/redux-saga_v1.x.x.js
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/help/keyboardshortcut_view.js
  frontend/javascripts/libs/ThreeDMap.js
  frontend/javascripts/libs/floodfill.js
  frontend/javascripts/libs/mjs.js
  frontend/javascripts/libs/toast.js
  frontend/javascripts/oxalis/api/api_latest.js
  frontend/javascripts/oxalis/controller/combinations/volumetracing_plane_controller.js
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.js
  frontend/javascripts/oxalis/model/actions/volumetracing_actions.js
  frontend/javascripts/oxalis/model/sagas/automatic_brush_saga.js
  frontend/javascripts/oxalis/model/sagas/effect-generators.js
  frontend/javascripts/oxalis/model/sagas/effect-generators.js.flow
  frontend/javascripts/oxalis/model/sagas/save_saga.js
  frontend/javascripts/oxalis/model/sagas/volumetracing_saga.js
  frontend/javascripts/oxalis/workers/tensorflow.impl.js
  frontend/javascripts/oxalis/workers/tensorflow.worker.js
  frontend/javascripts/test/helpers/sagaHelpers.js
  frontend/javascripts/test/sagas/save_saga.spec.js
  frontend/javascripts/test/sagas/skeletontracing_saga.spec.js
  frontend/javascripts/test/sagas/volumetracing_saga.spec.js
  frontend/stylesheets/antd_overwrites.less
  package.json
  project/Dependencies.scala
  public/tf-models/group1-shard1of1
  public/tf-models/seg-model.json
  util/src/main/scala/com/scalableminds/util/tools/Math.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/BinaryDataController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/FindDataService.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
  webpack.config.js
  yarn.lock
Labels: Epic, backend, datastore-changes, frontend

#3994 Add details view for publications
  frontend/javascripts/dashboard/publication_card.js
  frontend/javascripts/dashboard/publication_details_view.js
  frontend/javascripts/dashboard/publication_view.js
  frontend/javascripts/dashboard/spotlight_view.js
  frontend/javascripts/router.js
  frontend/stylesheets/main.less
Labels: enhancement, frontend

#3992 Prefer annotation zoom over dataset zoom
  frontend/javascripts/oxalis/model_initialization.js
Labels: bug, frontend-easy

#4019 Hiding pricing and features link in iframe
  frontend/javascripts/navbar.js
Labels: enhancement, frontend-easy

#4020 Updates the Docs
  docs/getting_started.md
  docs/index.md
  docs/skeleton_annotation.md
  docs/tracing_ui.md
  docs/videos/11_mapping.mp4
  docs/volume_annotation.md
Labels: documentation

#4029 Don't re-render voulme tool bar unnecessarily
  frontend/javascripts/oxalis/view/action-bar/volume_actions_view.js
Labels: bug, frontend-easy

#4012 Slow down brush size change for small sizes
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.js
Labels: enhancement, frontend-easy

#4035 Use full prefix in sitemap urls
  app/RequestHandler.scala
Labels: backend

#4025 Check health of enabled modules
  app/controllers/Application.scala
  conf/messages
  conf/webknossos.latest.routes
Labels: backend

#4016 Add default organization to onboarding flow
  frontend/javascripts/admin/onboarding.js
Labels: enhancement, frontend-easy

#4031 Fix mouse input after layout reset
  frontend/javascripts/libs/input.js
  frontend/javascripts/libs/utils.js
  frontend/javascripts/oxalis/controller/td_controller.js
  frontend/javascripts/oxalis/controller/viewmodes/arbitrary_controller.js
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.js
Labels: bug, frontend-easy

#4033 Optional usage of existing segmentation layer in hybrid tracings
  CHANGELOG.md
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/api_flow_types.js
  frontend/javascripts/dashboard/advanced_dataset/dataset_action_view.js
  frontend/javascripts/oxalis/view/action_bar_view.js
Labels: enhancement, frontend

#4036 Add boss db dataset
  CHANGELOG.md
  docker-compose.yml
  flow-typed/npm/antd_vx.x.x.js
  frontend/javascripts/admin/api_flow_types.js
  frontend/javascripts/admin/auth/change_password_view.js
  frontend/javascripts/admin/auth/finish_reset_password_view.js
  frontend/javascripts/admin/auth/login_form.js
  frontend/javascripts/admin/auth/registration_form.js
  frontend/javascripts/admin/auth/registration_view.js
  frontend/javascripts/admin/dataset/dataset_add_boss_view.js
  frontend/javascripts/admin/dataset/dataset_add_neuroglancer_view.js
  frontend/javascripts/admin/dataset/dataset_add_view.js
  frontend/javascripts/admin/dataset/dataset_components.js
  frontend/javascripts/dashboard/explorative_annotations_view.js
  frontend/javascripts/libs/hammerjs_wrapper.js
  frontend/javascripts/navbar.js
  frontend/javascripts/oxalis/model/sagas/automatic_brush_saga.js
  frontend/javascripts/pages/frontpage/features_view.js
  frontend/stylesheets/antd_overwrites.less
  frontend/stylesheets/main.less
  package.json
  yarn.lock
Labels: frontend
