Repository scalableminds/webknossos, pull requests merged in 2019-07, with the labels that each got.

#4154 Fix viewing of public datasets
  app/controllers/DataSetController.scala
Labels: backend, bug

#4159 Fix converting volume to hybrid
  CHANGELOG.md
  app/models/annotation/AnnotationService.scala
Labels: backend, bug

#4141 ESC and Enter to blur vector inputs
  frontend/javascripts/libs/vector_input.js
  frontend/javascripts/oxalis/view/components/input_component.js
Labels: enhancement, frontend-easy

#4143 Collapse and Expand all groups feature
  CHANGELOG.md
  docs/skeleton_annotation.md
  frontend/javascripts/oxalis/view/right-menu/tree_hierarchy_view.js
  frontend/javascripts/oxalis/view/right-menu/tree_hierarchy_view_helpers.js
Labels: enhancement, frontend-easy

#4121 Further Time Tacking Improvement
  CHANGELOG.md
  frontend/javascripts/admin/time/time_line_chart_view.js
  frontend/javascripts/admin/time/time_line_view.js
  frontend/javascripts/libs/format_utils.js
  frontend/javascripts/libs/utils.js
  frontend/stylesheets/_google-charts-overwrites.less
Labels: bug, enhancement, frontend

#4136 Make tables horizontally scrollable on overflow and add wordbreak in tables
  CHANGELOG.md
  frontend/javascripts/dashboard/advanced_dataset/dataset_table.js
  frontend/javascripts/dashboard/explorative_annotations_view.js
  frontend/stylesheets/antd_overwrites.less
Labels: enhancement, frontend-easy

#4144 Fetching only datasets according to filter criteria
  app/controllers/DataSetController.scala
  app/models/binary/DataSetService.scala
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/dashboard/dataset_view.js
Labels: frontend-easy, performance

#4168 Only apply blur on enter/esc behaviour to vector inputs and tree/group name input
  frontend/javascripts/oxalis/view/components/input_component.js
Labels: bug, frontend

#4175 Allow magnification restriction for volume tasks
  frontend/javascripts/admin/tasktype/task_type_create_view.js
Labels: frontend

#4176 Added more space between tree names and checkbox
  frontend/javascripts/oxalis/view/right-menu/tree_hierarchy_view.js
Labels: bug, frontend

#4180 API: Send error chain also with ParamFailures
  util/src/main/scala/com/scalableminds/util/mvc/ExtendedController.scala
Labels: backend

#4167 Improve Volume Project Handling
  CHANGELOG.md
  app/models/annotation/AnnotationMerger.scala
  app/models/annotation/AnnotationService.scala
  app/models/annotation/AnnotationStore.scala
  util/src/main/scala/com/scalableminds/util/io/ZipIO.scala
Labels: backend

#4178 Fixed Bug with Collapse/Expand All Tree Groups
  CHANGELOG.md
  frontend/javascripts/oxalis/view/right-menu/tree_hierarchy_view.js
Labels: bug, frontend

#4152 Support uint16 color layers
  CHANGELOG.md
  docs/data_formats.md
  frontend/javascripts/oxalis/geometries/materials/plane_material_factory.js
  frontend/javascripts/oxalis/model/accessors/dataset_accessor.js
  frontend/javascripts/oxalis/shaders/main_data_fragment.glsl.js
  frontend/javascripts/oxalis/view/settings/dataset_settings_view.js
  frontend/javascripts/oxalis/view/settings/histogram_view.js
  frontend/javascripts/test/shaders/shader_syntax.spec.js
Labels: backend, frontend

#4183 Log Annotation resetToBase, including old Tracing ID
  app/models/annotation/AnnotationService.scala
Labels: backend

#4188 Fix scrambled uint24 data
  CHANGELOG.md
  frontend/javascripts/oxalis/api/api_latest.js
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket.js
Labels: bug

#3770 Migrate to Play 2.7
  app/RequestHandler.scala
  app/SilhouetteModule.scala
  app/WebKnossosModule.scala
  app/controllers/Authentication.scala
  project/Dependencies.scala
  project/plugins.sbt
  webknossos-datastore/app/DsRequestHandler.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/DataStoreModule.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TracingStoreModule.scala
Labels: backend, refactoring

#4202 Do not load data for disabled or invisible layers
  CHANGELOG.md
  frontend/javascripts/oxalis/model/accessors/dataset_accessor.js
  frontend/javascripts/oxalis/model/bucket_data_handling/layer_rendering_manager.js
  frontend/javascripts/oxalis/model/data_layer.js
  frontend/javascripts/oxalis/model/sagas/prefetch_saga.js
  frontend/javascripts/test/sagas/prefetch_saga.spec.js
Labels: performance

#4160 Fix adding sample dataset after registration bug
  frontend/javascripts/admin/onboarding.js
Labels: bug, frontend

#4206 Followup fixes for "collapse/expand all subgroups"
  CHANGELOG.md
  frontend/javascripts/oxalis/view/right-menu/tree_hierarchy_view.js
  frontend/javascripts/oxalis/view/right-menu/tree_hierarchy_view_helpers.js
Labels: bug, frontend-easy

#4212 add bulldozer config
  .bulldozer.yml
Labels: infrastructure

#4215 newer circleci machine image
  .circleci/config.yml
Labels: automerge
