Repository scalableminds/webknossos, pull requests merged in 2019-05, with the labels that each got.

#4017 Added optional skipping of adding dataset in onboarding
  frontend/javascripts/admin/api_flow_types.js
  frontend/javascripts/admin/onboarding.js
Labels: enhancement, frontend-easy

#4032 Add find data button for segmentation layer
  frontend/javascripts/oxalis/view/settings/dataset_settings_view.js
Labels: enhancement, frontend-easy

#4066 Add optional param skipVolumeData to annotation download requests
  app/controllers/AnnotationIOController.scala
  app/models/annotation/AnnotationService.scala
  app/models/annotation/TracingStoreRpcClient.scala
  conf/webknossos.latest.routes
  util/src/main/scala/com/scalableminds/util/tools/Fox.scala
Labels: backend

#4065 allow user token to fetch full volume data
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
Labels: backend

#4082 Batch merger mode to make it work with large tracings, add progress
  frontend/javascripts/oxalis/merger_mode.js
  frontend/javascripts/oxalis/view/settings/merger_mode_modal_view.js
  frontend/javascripts/oxalis/view/settings/user_settings_view.js
Labels: bug

#4084 Update vulnerable jquery version
  yarn.lock
Labels: security

#4083 Fix maximize and empty tree list
  frontend/stylesheets/goldenlayout_overwrites.less
Labels: bug

#4058 Add extent to dataset list
  CHANGELOG.md
  frontend/javascripts/dashboard/advanced_dataset/dataset_table.js
  frontend/javascripts/dashboard/publication_card.js
  frontend/javascripts/libs/format_utils.js
  frontend/javascripts/oxalis/model/accessors/dataset_accessor.js
  frontend/javascripts/oxalis/view/right-menu/dataset_info_tab_view.js
Labels: frontend-easy

#4081 Dont move plane when pressing alt + shift
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.js
Labels: frontend

#4085 ignoring scrolling input when dragging on a plane
  CHANGELOG.md
  frontend/javascripts/libs/input.js
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.js
Labels: enhancement, frontend-easy

#4092 Update screenshots
  frontend/javascripts/test/screenshots/2017-05-31_mSEM_aniso-test.png
  frontend/javascripts/test/screenshots/2017-05-31_mSEM_scMS109_bk_100um_v01-aniso.png
  frontend/javascripts/test/screenshots/Cortex_knossos.png
  frontend/javascripts/test/screenshots/ROI2017_wkw.png
  frontend/javascripts/test/screenshots/ROI2017_wkw_fallback.png
  frontend/javascripts/test/screenshots/confocal-multi_knossos.png
  frontend/javascripts/test/screenshots/dsA_2.png
  frontend/javascripts/test/screenshots/e2006_knossos.png
  frontend/javascripts/test/screenshots/fluro-rgb_knossos.png
Labels: testing

#4077 Embeded Youtube Links in Documentation
  docs/dashboard.md
  docs/datasets.md
  docs/getting_started.md
  docs/sharing.md
  docs/skeleton_annotation.md
  docs/tasks.md
  docs/tracing_ui.md
  docs/volume_annotation.md
Labels: frontend

#4098 Fix pane maximization breaking the 3D view
  CHANGELOG.md
  frontend/javascripts/oxalis/controller/camera_controller.js
Labels: bug, frontend

#4094 Support float layers
  frontend/javascripts/admin/api_flow_types.js
  frontend/javascripts/libs/datasource.schema.json
  frontend/javascripts/messages.js
  frontend/javascripts/oxalis/api/api_latest.js
  frontend/javascripts/oxalis/geometries/materials/plane_material_factory.js
  frontend/javascripts/oxalis/model/accessors/dataset_accessor.js
  frontend/javascripts/oxalis/model/bucket_data_handling/bounding_box.js
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket.js
  frontend/javascripts/oxalis/model/bucket_data_handling/data_cube.js
  frontend/javascripts/oxalis/model/bucket_data_handling/data_rendering_logic.js
  frontend/javascripts/oxalis/model/bucket_data_handling/layer_rendering_manager.js
  frontend/javascripts/oxalis/model/bucket_data_handling/pullqueue.js
  frontend/javascripts/oxalis/model/bucket_data_handling/texture_bucket_manager.js
  frontend/javascripts/oxalis/model/bucket_data_handling/wkstore_adapter.js
  frontend/javascripts/oxalis/model/data_layer.js
  frontend/javascripts/oxalis/model_initialization.js
  frontend/javascripts/oxalis/shaders/main_data_fragment.glsl.js
  frontend/javascripts/test/model/binary/cube.spec.js
  frontend/javascripts/test/model/binary/data_rendering_logic.spec.js
  frontend/javascripts/test/model/binary/layers/wkstore_adapter.spec.js
  frontend/javascripts/test/model/binary/pullqueue.spec.js
  frontend/javascripts/test/model/binary/temporal_bucket_manager.spec.js
  frontend/javascripts/test/model/texture_bucket_manager.spec.js
  frontend/javascripts/test/puppeteer/dataset_rendering.screenshot.js
  frontend/javascripts/test/screenshots/float_test_dataset.png
  frontend/javascripts/test/shaders/shader_syntax.spec.js
Labels: frontend

#4103 Speed up mapping creation/activation
  CHANGELOG.md
  frontend/javascripts/oxalis/api/api_latest.js
  frontend/javascripts/oxalis/api/api_v2.js
  frontend/javascripts/oxalis/default_state.js
  frontend/javascripts/oxalis/model/actions/settings_actions.js
  frontend/javascripts/oxalis/model/bucket_data_handling/mappings.js
  frontend/javascripts/oxalis/model/reducers/settings_reducer.js
  frontend/javascripts/oxalis/store.js
  frontend/javascripts/oxalis/view/settings/dataset_settings_view.js
  frontend/javascripts/test/puppeteer/dataset_rendering.screenshot.js
  frontend/javascripts/test/puppeteer/dataset_rendering_helpers.js
  frontend/javascripts/test/screenshots/ROI2017_wkw_with_mapping_axons.png
Labels: performance

#4028 Allow users to see their time statistics
  CHANGELOG.md
  app/controllers/TimeController.scala
  frontend/javascripts/admin/time/time_line_view.js
  frontend/javascripts/components/formatted_date.js
  frontend/javascripts/libs/format_utils.js
  frontend/javascripts/router.js
  frontend/stylesheets/_google-charts-overwrites.less
  frontend/stylesheets/main.less
Labels: backend, frontend

#4097 renamed `Reset Rotation` to `Invert Direction`
  docs/keyboard_shortcuts.md
  frontend/javascripts/admin/help/keyboardshortcut_view.js
Labels: enhancement, frontend-easy

#4111 Update antd to 3.18
  .eslintrc.json
  frontend/javascripts/admin/project/transfer_all_tasks_modal.js
  frontend/javascripts/router.js
  frontend/javascripts/test/api/api_skeleton_latest.spec.js
  frontend/javascripts/test/api/api_v2.spec.js
  frontend/javascripts/test/api/api_volume_latest.spec.js
  frontend/javascripts/test/api/overwrite_middleware.spec.js
  frontend/javascripts/test/backend-snapshot-tests/annotations.e2e.js
  frontend/javascripts/test/backend-snapshot-tests/datasets.e2e.js
  frontend/javascripts/test/backend-snapshot-tests/misc.e2e.js
  frontend/javascripts/test/backend-snapshot-tests/projects.e2e.js
  frontend/javascripts/test/backend-snapshot-tests/scripts.e2e.js
  frontend/javascripts/test/backend-snapshot-tests/tasks.e2e.js
  frontend/javascripts/test/backend-snapshot-tests/tasktypes.e2e.js
  frontend/javascripts/test/backend-snapshot-tests/teams.e2e.js
  frontend/javascripts/test/backend-snapshot-tests/teamstructure.e2e.js
  frontend/javascripts/test/backend-snapshot-tests/timetracking.e2e.js
  frontend/javascripts/test/backend-snapshot-tests/users.e2e.js
  frontend/javascripts/test/controller/url_manager.spec.js
  frontend/javascripts/test/enzyme/e2e-setup.js
  frontend/javascripts/test/geometries/skeleton.spec.js
  frontend/javascripts/test/helpers/ajaxDownload.js
  frontend/javascripts/test/helpers/apiHelpers.js
  frontend/javascripts/test/libs/async_task_queue.spec.js
  frontend/javascripts/test/libs/chainReducer.spec.js
  frontend/javascripts/test/libs/deferred.spec.js
  frontend/javascripts/test/libs/diffable_map.spec.js
  frontend/javascripts/test/model/binary/cube.spec.js
  frontend/javascripts/test/model/binary/data_rendering_logic.spec.js
  frontend/javascripts/test/model/binary/layers/wkstore_adapter.mock.js
  frontend/javascripts/test/model/binary/layers/wkstore_adapter.spec.js
  frontend/javascripts/test/model/binary/pullqueue.spec.js
  frontend/javascripts/test/model/binary/temporal_bucket_manager.spec.js
  frontend/javascripts/test/model/collisions.spec.js
  frontend/javascripts/test/model/edge_collection.spec.js
  frontend/javascripts/test/model/flycam_accessors.spec.js
  frontend/javascripts/test/model/model.spec.js
  frontend/javascripts/test/model/texture_bucket_manager.spec.js
  frontend/javascripts/test/puppeteer/dataset_rendering.screenshot.js
  frontend/javascripts/test/puppeteer/dataset_rendering_helpers.js
  frontend/javascripts/test/puppeteer/screenshot_helpers.js
  frontend/javascripts/test/reducers/flycam_reducer.spec.js
  frontend/javascripts/test/reducers/save_reducer.mock.js
  frontend/javascripts/test/reducers/save_reducer.spec.js
  frontend/javascripts/test/reducers/skeletontracing_reducer.spec.js
  frontend/javascripts/test/sagas/saga_integration.mock.js
  frontend/javascripts/test/sagas/save_saga.spec.js
  frontend/javascripts/test/sagas/skeletontracing_saga.mock.js
  frontend/javascripts/test/sagas/volumetracing_saga.mock.js
  frontend/javascripts/test/shaders/shader_test_utils.js
  frontend/stylesheets/antd_overwrites.less
  package.json
  yarn.lock
Labels: frontend

#4116 check more files when guessing dataset type
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
Labels: backend, bug

#4110 remove redundant access check for timespan update
  app/models/user/time/TimeSpan.scala
  app/models/user/time/TimeSpanService.scala
Labels: backend

#4118 Fix bulk description and position icon
  frontend/javascripts/admin/task/task_create_bulk_view.js
  frontend/javascripts/oxalis/view/action-bar/dataset_position_view.js
Labels: bug, frontend
