Repository scalableminds/webknossos, pull requests merged in 2019-03, with the labels that each got.

#3842 Updated scm logo to monochrome version
  frontend/javascripts/dashboard/spotlight_view.js
  public/images/scalableminds_logo.svg
Labels: frontend-easy

#3844 Fix infinite token retries and datastore health check memoization
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/datastore_health_check.js
  frontend/javascripts/libs/request.js
Labels: bug

#3801 Seamless fallback
  CHANGELOG.md
  MIGRATIONS.md
  docs/tracing_ui.md
  frontend/javascripts/admin/tasktype/recommended_configuration_view.js
  frontend/javascripts/libs/user_settings.schema.json
  frontend/javascripts/messages.js
  frontend/javascripts/oxalis/api/api_latest.js
  frontend/javascripts/oxalis/constants.js
  frontend/javascripts/oxalis/controller/scene_controller.js
  frontend/javascripts/oxalis/geometries/arbitrary_plane.js
  frontend/javascripts/oxalis/geometries/materials/plane_material_factory.js
  frontend/javascripts/oxalis/geometries/materials/plane_material_factory_helpers.js
  frontend/javascripts/oxalis/model/accessors/flycam_accessor.js
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket.js
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket_picker_strategies/orthogonal_bucket_picker.js
  frontend/javascripts/oxalis/model/bucket_data_handling/data_cube.js
  frontend/javascripts/oxalis/model/bucket_data_handling/layer_rendering_manager.js
  frontend/javascripts/oxalis/model/bucket_data_handling/loading_strategy_logic.js
  frontend/javascripts/oxalis/model/bucket_data_handling/prefetch_strategy_plane.js
  frontend/javascripts/oxalis/model/bucket_data_handling/texture_bucket_manager.js
  frontend/javascripts/oxalis/shaders/coords.glsl.js
  frontend/javascripts/oxalis/shaders/filtering.glsl.js
  frontend/javascripts/oxalis/shaders/main_data_fragment.glsl.js
  frontend/javascripts/oxalis/shaders/segmentation.glsl.js
  frontend/javascripts/oxalis/shaders/texture_access.glsl.js
  frontend/javascripts/oxalis/store.js
  frontend/javascripts/oxalis/view/layouting/tracing_layout_view.js
  frontend/javascripts/oxalis/view/settings/dataset_settings_view.js
  frontend/javascripts/oxalis/view/settings/setting_input_views.js
  frontend/javascripts/oxalis/view/settings/user_settings_view.js
  frontend/javascripts/test/model/flycam_accessors.spec.js
  frontend/javascripts/test/model/texture_bucket_manager.spec.js
  frontend/javascripts/test/puppeteer/dataset_rendering.screenshot.js
  frontend/stylesheets/antd_overwrites.less
Labels: rendering

#3834 Allow to export current reslices as image files
  CHANGELOG.md
  frontend/javascripts/libs/input.js
  frontend/javascripts/libs/utils.js
  frontend/javascripts/oxalis/controller/combinations/skeletontracing_plane_controller.js
  frontend/javascripts/oxalis/controller/viewmodes/arbitrary_controller.js
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.js
  frontend/javascripts/oxalis/geometries/plane.js
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.js
  frontend/javascripts/oxalis/view/arbitrary_view.js
  frontend/javascripts/oxalis/view/plane_view.js
  frontend/javascripts/oxalis/view/rendering_utils.js
Labels: frontend, new feature

#3860 Fix crosshair display
  frontend/javascripts/oxalis/geometries/plane.js
Labels: bug

#3725 Download Sample Datasets
  CHANGELOG.md
  app/models/binary/DataStore.scala
  conf/messages
  docs/datasets.md
  docs/getting_started.md
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/api_flow_types.js
  frontend/javascripts/admin/dataset/dataset_add_foreign_view.js
  frontend/javascripts/admin/dataset/dataset_add_view.js
  frontend/javascripts/admin/onboarding.js
  frontend/javascripts/dashboard/dataset/sample_datasets_modal.js
  frontend/javascripts/dashboard/dataset_view.js
  frontend/javascripts/libs/react_helpers.js
  frontend/javascripts/libs/vector_input.js
  frontend/stylesheets/main.less
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/DataStoreModule.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/SampleDataSourceService.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
Labels: backend, frontend

#3861 Check user setting boundaries in reducer to avoid invalid values
  CHANGELOG.md
  frontend/javascripts/dashboard/dataset/validation.js
  frontend/javascripts/libs/user_settings.schema.js
  frontend/javascripts/libs/user_settings.schema.json
  frontend/javascripts/messages.js
  frontend/javascripts/oxalis/constants.js
  frontend/javascripts/oxalis/controller.js
  frontend/javascripts/oxalis/controller/url_manager.js
  frontend/javascripts/oxalis/controller/viewmodes/arbitrary_controller.js
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.js
  frontend/javascripts/oxalis/model/reducers/flycam_reducer.js
  frontend/javascripts/oxalis/model/reducers/settings_reducer.js
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer.js
  frontend/javascripts/oxalis/model/sagas/settings_saga.js
  frontend/javascripts/oxalis/view/layouting/tracing_layout_view.js
  frontend/javascripts/oxalis/view/settings/user_settings_view.js
  frontend/javascripts/test/api/api_skeleton_latest.spec.js
  frontend/javascripts/test/api/api_v2.spec.js
  frontend/javascripts/test/helpers/apiHelpers.js
  frontend/javascripts/test/sagas/saga_integration.spec.js
Labels: bug

#3859 Upgrade dependencies and fix security alerts
  frontend/javascripts/oxalis/controller/combinations/volumetracing_plane_controller.js
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/misc.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/projects.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/scripts.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/tasks.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/tasktypes.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/teams.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/timetracking.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/users.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/enzyme/snapshot.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/enzyme/snapshot.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/libs/nml.spec.js.snap
  package.json
  yarn.lock
Labels: security

#3645 Add "missing dataset"-button to the spotlight view
  conf/application.conf
  frontend/javascripts/admin/api_flow_types.js
  frontend/javascripts/dashboard/spotlight_view.js
  frontend/javascripts/test/enzyme/snapshot.e2e.js
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/misc.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/misc.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/enzyme/snapshot.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/enzyme/snapshot.e2e.js.snap
  frontend/stylesheets/_dashboard.less
  public/images/add-missing-dataset-thumbnail.jpg
Labels: discussion, enhancement, frontend

#3864 Sorting mappings in UI
  CHANGELOG.md
  frontend/javascripts/oxalis/view/right-menu/mapping_info_view.js
Labels: enhancement, frontend-easy

#3888 Fix bi- and trilinear filtering along z axis
  CHANGELOG.md
  frontend/javascripts/oxalis/shaders/filtering.glsl.js
Labels: rendering

#3843 Allow to add datasets through wk-connect
  CHANGELOG.md
  MIGRATIONS.md
  app/controllers/InitialDataController.scala
  app/models/binary/DataSetService.scala
  app/models/binary/DataStore.scala
  conf/evolutions/041-add-datastore-isconnector.sql
  conf/evolutions/reversions/041-add-datastore-isconnector.sql
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/api_flow_types.js
  frontend/javascripts/admin/dataset/dataset_add_view.js
  frontend/javascripts/admin/dataset/dataset_add_wk_connect_view.js
  frontend/javascripts/admin/dataset/dataset_components.js
  frontend/javascripts/admin/dataset/dataset_upload_view.js
  frontend/javascripts/admin/onboarding.js
  frontend/javascripts/dashboard/dataset/dataset_import_view.js
  frontend/javascripts/dashboard/dataset/sample_datasets_modal.js
  frontend/javascripts/dashboard/dataset/simple_advanced_data_form.js
  frontend/javascripts/messages.js
  frontend/javascripts/oxalis/store.js
  frontend/javascripts/test/fixtures/skeletontracing_server_objects.js
  frontend/javascripts/test/fixtures/tasktracing_server_objects.js
  frontend/javascripts/test/fixtures/volumetracing_server_objects.js
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/misc.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/misc.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/tasks.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/tasks.e2e.js.snap
  test/db/dataStores.csv
  tools/postgres/schema.sql
Labels: backend, frontend

#3889 Make brush size independent of zoom value
  CHANGELOG.md
  frontend/javascripts/oxalis/model/volumetracing/volumelayer.js
  frontend/javascripts/oxalis/shaders/segmentation.glsl.js
Labels: frontend

#3880 Improve flight mode tracing performance for large tracings
  CHANGELOG.md
  frontend/javascripts/libs/diffable_map.js
  frontend/javascripts/oxalis/model/edge_collection.js
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer_helpers.js
  frontend/javascripts/oxalis/model/sagas/save_saga.js
  frontend/javascripts/test/libs/diffable_map.spec.js
  frontend/javascripts/test/model/edge_collection.spec.js
Labels: enhancement, frontend, performance

#3829 Transactional Batch Saving
  CHANGELOG.md
  MIGRATIONS.md
  README.md
  conf/application.conf
  docker-compose.yml
  frontend/javascripts/oxalis/model/actions/save_actions.js
  frontend/javascripts/oxalis/model/bucket_data_handling/wkstore_adapter.js
  frontend/javascripts/oxalis/model/helpers/action_logger_middleware.js
  frontend/javascripts/oxalis/model/reducers/save_reducer.js
  frontend/javascripts/oxalis/model/sagas/save_saga.js
  frontend/javascripts/oxalis/model/sagas/save_saga_constants.js
  frontend/javascripts/oxalis/model/sagas/skeletontracing_saga.js
  frontend/javascripts/oxalis/store.js
  frontend/javascripts/oxalis/view/version_list.js
  frontend/javascripts/test/helpers/saveHelpers.js
  frontend/javascripts/test/model/binary/layers/wkstore_adapter.mock.js
  frontend/javascripts/test/model/binary/layers/wkstore_adapter.spec.js
  frontend/javascripts/test/reducers/save_reducer.mock.js
  frontend/javascripts/test/reducers/save_reducer.spec.js
  frontend/javascripts/test/sagas/saga_integration.mock.js
  frontend/javascripts/test/sagas/saga_integration.spec.js
  frontend/javascripts/test/sagas/save_saga.spec.js
  frontend/javascripts/test/sagas/skeletontracing_saga.mock.js
  frontend/javascripts/test/sagas/skeletontracing_saga.spec.js
  frontend/javascripts/test/sagas/volumetracing_saga.mock.js
  frontend/javascripts/test/sagas/volumetracing_saga.spec.js
  project/Dependencies.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/RedisTemporaryStore.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TracingStoreConfig.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/Application.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/TracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/TracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/UpdateActions.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/SkeletonTracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
  webknossos-tracingstore/conf/standalone-tracingstore.conf
  webknossos-tracingstore/deployment/config/tracingstore-docker.conf
  webknossos-tracingstore/deployment/docker-compose.yml
  webknossos-tracingstore/deployment/webknossos-tracingstore.service
Labels: backend

#3900 Add DomVisibilityObserver to conditionally render tree search shortcut
  frontend/javascripts/oxalis/view/components/dom_visibility_observer.js
  frontend/javascripts/oxalis/view/right-menu/advanced_search_popover.js
Labels: enhancement, frontend

#3901 Adds SEO tags and custom title
  CHANGELOG.md
  MIGRATIONS.md
  app/utils/WkConf.scala
  app/views/main.scala.html
  conf/application.conf
Labels: frontend

#3892 Avoid endless render loop when segmentation is not rendered
  frontend/javascripts/oxalis/model/bucket_data_handling/texture_bucket_manager.js
Labels: bug, frontend

#3885 Streamline UI and allow embedding in iframes
  .circleci/cache_version
  conf/application.conf
  frontend/javascripts/admin/auth/login_form.js
  frontend/javascripts/admin/time/time_line_view.js
  frontend/javascripts/components/brain_spinner.js
  frontend/javascripts/dashboard/dashboard_view.js
  frontend/javascripts/libs/utils.js
  frontend/javascripts/libs/vector_input.js
  frontend/javascripts/messages.js
  frontend/javascripts/navbar.js
  frontend/javascripts/oxalis/controller.js
  frontend/javascripts/oxalis/model/actions/ui_actions.js
  frontend/javascripts/oxalis/model/reducers/flycam_reducer.js
  frontend/javascripts/oxalis/model/reducers/ui_reducer.js
  frontend/javascripts/oxalis/store.js
  frontend/javascripts/oxalis/view/action-bar/dataset_position_view.js
  frontend/javascripts/oxalis/view/action-bar/save_button.js
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.js
  frontend/javascripts/oxalis/view/action-bar/view_modes_view.js
  frontend/javascripts/oxalis/view/action-bar/volume_actions_view.js
  frontend/javascripts/oxalis/view/action_bar_view.js
  frontend/javascripts/oxalis/view/layouting/default_layout_configs.js
  frontend/javascripts/oxalis/view/layouting/golden_layout_adapter.js
  frontend/javascripts/oxalis/view/layouting/layout_persistence.js
  frontend/javascripts/oxalis/view/layouting/portal_utils.js
  frontend/javascripts/oxalis/view/layouting/tracing_layout_view.js
  frontend/javascripts/oxalis/view/right-menu/comment_tab/comment_tab_view.js
  frontend/javascripts/oxalis/view/right-menu/trees_tab_view.js
  frontend/javascripts/router.js
  frontend/javascripts/test/sagas/saga_integration.spec.js
  frontend/javascripts/test/snapshots/public/test-bundle/test/enzyme/snapshot.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/enzyme/snapshot.e2e.js.snap
  frontend/stylesheets/_variables.less
  frontend/stylesheets/antd_overwrites.less
  frontend/stylesheets/main.less
  frontend/stylesheets/trace_view/_action_bar.less
  frontend/stylesheets/trace_view/_tracing_view.less
  package.json
  public/images/brain.png
  tools/test-iframe-page.html
  yarn.lock
Labels: enhancement, frontend

#3916 Removes fps meter
  CHANGELOG.md
  frontend/javascripts/oxalis/controller.js
  frontend/javascripts/oxalis/controller/viewmodes/arbitrary_controller.js
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.js
  frontend/javascripts/test/puppeteer/dataset_rendering_helpers.js
  frontend/stylesheets/main.less
  package.json
  yarn.lock
Labels: frontend

#3876 Enable maximized gl components
  CHANGELOG.md
  frontend/javascripts/oxalis/view/layouting/default_layout_configs.js
  frontend/javascripts/oxalis/view/layouting/golden_layout_adapter.js
  frontend/stylesheets/goldenlayout_overwrites.less
Labels: frontend, rendering

#3893 Hide login/register and redirect to onboarding when there are no organizations
  frontend/javascripts/admin/auth/registration_form.js
  frontend/javascripts/main.js
  frontend/javascripts/navbar.js
  frontend/javascripts/oxalis/model/actions/ui_actions.js
  frontend/javascripts/oxalis/model/reducers/ui_reducer.js
  frontend/javascripts/oxalis/store.js
  frontend/javascripts/router.js
Labels: UX, frontend

#3919 Fix halo covering nodes and clipping issues
  CHANGELOG.md
  frontend/javascripts/oxalis/controller/camera_controller.js
  frontend/javascripts/oxalis/geometries/materials/node_shader.js
Labels: frontend, rendering

#3917 updated documentation front page
  docs/hello.md
  docs/sharing.md
  docs/tracing_ui.md
Labels: documentation

#3930 remove alt text for abstract brain loading image
  frontend/javascripts/components/brain_spinner.js
Labels: UX, frontend-easy

#3902 Perform bucket picking in web workers and other performance optimizations
  CHANGELOG.md
  frontend/javascripts/libs/deferred.js
  frontend/javascripts/libs/latest_task_executor.js
  frontend/javascripts/libs/utils.js
  frontend/javascripts/oxalis/model/accessors/flycam_accessor.js
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket_picker_strategies/flight_bucket_picker.js
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket_picker_strategies/oblique_bucket_picker.js
  frontend/javascripts/oxalis/model/bucket_data_handling/layer_rendering_manager.js
  frontend/javascripts/oxalis/model/bucket_data_handling/texture_bucket_manager.js
  frontend/javascripts/oxalis/model/helpers/position_converter.js
  frontend/javascripts/oxalis/shaders/main_data_fragment.glsl.js
  frontend/javascripts/oxalis/shaders/texture_access.glsl.js
  frontend/javascripts/oxalis/view/right-menu/dataset_info_tab_view.js
  frontend/javascripts/oxalis/workers/async_bucket_picker.worker.js
  frontend/javascripts/oxalis/workers/comlink_wrapper.js
  frontend/javascripts/test/libs/latest_task_executor.spec.js
  frontend/javascripts/test/model/position_converter.spec.js
  frontend/javascripts/test/model/texture_bucket_manager.spec.js
  webpack.config.js
Labels: rendering

#3927 Add shortcut to maximize golden layout panes
  .eslintrc.json
  CHANGELOG.md
  docs/keyboard_shortcuts.md
  frontend/javascripts/admin/help/keyboardshortcut_view.js
  frontend/javascripts/components/loop.js
  frontend/javascripts/oxalis/view/action-bar/save_button.js
  frontend/javascripts/oxalis/view/layouting/golden_layout_adapter.js
  frontend/javascripts/oxalis/view/right-menu/abstract_tree_tab_view.js
  frontend/javascripts/oxalis/view/right-menu/comment_tab/comment_tab_view.js
  frontend/javascripts/oxalis/view/right-menu/mapping_info_view.js
  frontend/javascripts/oxalis/view/version_list.js
Labels: frontend

#3913 add webknossos-connect to setup
  CHANGELOG.md
  app/controllers/InitialDataController.scala
  app/utils/WkConf.scala
  conf/application.conf
  conf/connect/.gitignore
  conf/connect/config.json
  docker-compose.yml
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/misc.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/misc.e2e.js.snap
  test/db/dataStores.csv
  tools/proxy/proxy.js
Labels: infrastructure

#3878 Enhance tree search functionallity
  CHANGELOG.md
  frontend/javascripts/libs/utils.js
  frontend/javascripts/oxalis/model/accessors/flycam_accessor.js
  frontend/javascripts/oxalis/view/components/dom_visibility_observer.js
  frontend/javascripts/oxalis/view/right-menu/advanced_search_popover.js
  frontend/javascripts/oxalis/view/right-menu/search_popover.js
  frontend/javascripts/oxalis/view/right-menu/trees_tab_view.js
  frontend/stylesheets/trace_view/_right_menu.less
Labels: enhancement, frontend

#3929 allow uploading nml for public dataset of different orga
  app/controllers/AnnotationIOController.scala
Labels: backend, bug

#3619 Enable merger mode in skeleton and hybrid tracings
  CHANGELOG.md
  docs/tracing_ui.md
  frontend/javascripts/admin/auth/change_password_view.js
  frontend/javascripts/admin/auth/finish_reset_password_view.js
  frontend/javascripts/admin/auth/registration_form.js
  frontend/javascripts/messages.js
  frontend/javascripts/oxalis/api/api_latest.js
  frontend/javascripts/oxalis/merger_mode.js
  frontend/javascripts/oxalis/model/actions/skeletontracing_actions.js
  frontend/javascripts/oxalis/model/helpers/overwrite_action_middleware.js
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer.js
  frontend/javascripts/oxalis/store.js
  frontend/javascripts/oxalis/view/right-menu/mapping_info_view.js
  frontend/javascripts/oxalis/view/right-menu/trees_tab_view.js
  frontend/javascripts/oxalis/view/settings/merger_mode_modal_view.js
  frontend/javascripts/oxalis/view/settings/setting_input_views.js
  frontend/javascripts/oxalis/view/settings/user_settings_view.js
  frontend/stylesheets/main.less
  frontend/stylesheets/trace_view/_user_settings_view.less
Labels: enhancement, frontend

#3928 only show team names of own organization
  app/controllers/DataSetController.scala
  app/models/binary/DataSetService.scala
Labels: backend, bug

#3944 Reintroduce assets prefix for static assets routes
  MIGRATIONS.md
  app/RequestHandler.scala
  app/controllers/InitialDataController.scala
  app/views/main.scala.html
  docs/hello.md
  frontend/javascripts/admin/onboarding.js
  frontend/javascripts/admin/scripts/script_list_view.js
  frontend/javascripts/components/brain_spinner.js
  frontend/javascripts/dashboard/advanced_dataset/dataset_action_view.js
  frontend/javascripts/dashboard/spotlight_view.js
  frontend/javascripts/navbar.js
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.snap
  frontend/javascripts/test/snapshots/public/test-bundle/test/enzyme/snapshot.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/enzyme/snapshot.e2e.js.snap
  frontend/stylesheets/_dashboard.less
  frontend/stylesheets/main.less
  test/db/organizations.csv
  tools/proxy/proxy.js
  webpack.config.js
Labels: backend, infrastructure

#3940 Added Feature Highlight Page
  docs/sharing.md
  frontend/javascripts/components/credits_footer.js
  frontend/javascripts/dashboard/spotlight_view.js
  frontend/javascripts/navbar.js
  frontend/javascripts/pages/frontpage/features_view.js
  frontend/javascripts/pages/frontpage/pricing_view.js
  frontend/javascripts/router.js
  frontend/stylesheets/main.less
  public/images/background_main_1080.jpg
  public/images/brain_hd.png
  public/images/brain_hd.svg
  public/images/collaboration-icon.svg
  public/images/custom-hosting-icon.svg
  public/images/feature-checkmark.svg
  public/images/feature-datasets.png
  public/images/feature-flightmode.png
  public/images/feature-projects.png
  public/images/feature-sharing.png
  public/images/feature-skeleton.png
  public/images/feature-volume.png
  public/images/high-speed-tracing-icon.svg
  public/images/original/feature-datasets.png
  public/images/original/feature-flightmode.png
  public/images/original/feature-projects.png
  public/images/original/feature-sharing.png
  public/images/original/feature-skeleton.png
  public/images/original/feature-volume.png
  public/images/premium-hosting-icon.svg
  public/images/public-hosting-icon.svg
  public/images/volume-annotation-icon.svg
Labels: enhancement, frontend

#3941 Extra logging for volume task download
  app/models/annotation/AnnotationService.scala
  util/src/main/scala/com/scalableminds/util/io/ZipIO.scala
  util/src/main/scala/com/scalableminds/util/tools/TextUtils.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: backend

#3954 In asset path resolution, remove only first “assets” occurrence
  app/RequestHandler.scala
Labels: backend, bug

#3949 Enable mappings in volume/hybrid tracings
  CHANGELOG.md
  frontend/javascripts/admin/api_flow_types.js
  frontend/javascripts/oxalis/model/bucket_data_handling/mappings.js
  frontend/javascripts/oxalis/model/data_layer.js
  frontend/javascripts/oxalis/model_initialization.js
  frontend/javascripts/oxalis/view/right-menu/mapping_info_view.js
Labels: enhancement

#3953 Make mappings work with 8 and 16 bit segmentations
  CHANGELOG.md
  frontend/javascripts/oxalis/model/bucket_data_handling/data_rendering_logic.js
  frontend/javascripts/oxalis/model/bucket_data_handling/texture_bucket_manager.js
  frontend/javascripts/oxalis/shaders/segmentation.glsl.js
  frontend/javascripts/oxalis/shaders/texture_access.glsl.js
  frontend/javascripts/oxalis/view/settings/user_settings_view.js
Labels: enhancement, frontend

#3967 Disable PID file creation
  conf/application.conf
Labels: backend

#3943 Add toggle color layer visibility button
  CHANGELOG.md
  docs/tracing_ui.md
  frontend/javascripts/dashboard/dataset/dataset_import_view.js
  frontend/javascripts/libs/datasource.schema.json
  frontend/javascripts/libs/datasource.types.js
  frontend/javascripts/oxalis/geometries/materials/plane_material_factory.js
  frontend/javascripts/oxalis/model/reducers/settings_reducer.js
  frontend/javascripts/oxalis/store.js
  frontend/javascripts/oxalis/view/settings/dataset_settings_view.js
  frontend/javascripts/oxalis/view/settings/setting_input_views.js
  frontend/javascripts/test/puppeteer/dataset_rendering.screenshot.js
Labels: enhancement, frontend-easy
