Repository scalableminds/webknossos, pull requests merged in 2020-08, with the labels that each got.

#4740 Show failing bucket requests
  CHANGELOG.unreleased.md
  frontend/javascripts/libs/request.js
  frontend/javascripts/libs/toast.js
  frontend/javascripts/oxalis/model/bucket_data_handling/wkstore_adapter.js
  frontend/javascripts/oxalis/workers/comlink_wrapper.js
  frontend/javascripts/oxalis/workers/headers_transfer_handler.js
  frontend/javascripts/test/model/binary/layers/wkstore_adapter.spec.js
  package.json
  yarn.lock
Labels: enhancement, frontend

#4746 fix tree ids in multicomponent tree splitter
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/MultiComponentTreeSplitter.scala
Labels: automerge, backend, bug

#4758 Make number slider more robust against weird input values
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/settings/setting_input_views.js
Labels: automerge

#4706 Apply-Agglomerate Performance Increase #2
  CHANGELOG.unreleased.md
  conf/application.conf
  util/src/main/scala/com/scalableminds/util/cache/LRUConcurrentCache.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/DataStoreConfig.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/AgglomerateService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/IsosurfaceService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/AgglomerateCache.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/AgglomerateFileCache.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/CumsumParser.scala
  webknossos-datastore/conf/standalone-datastore.conf
Labels: backend

#4752 Check if mesh is exists before saving
  frontend/javascripts/messages.js
  frontend/javascripts/oxalis/model/sagas/isosurface_saga.js
  frontend/javascripts/oxalis/view/right-menu/meshes_view.js
Labels: bug, frontend, hybrid

#4750 Keep zoom during rotation using the buttons of the 3D-viewport
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/controller/camera_controller.js
  frontend/javascripts/oxalis/model/accessors/dataset_accessor.js
Labels: bug, frontend

#4745 List of projects with a specific TaskType
  CHANGELOG.unreleased.md
  app/controllers/ProjectController.scala
  app/controllers/TaskController.scala
  app/models/project/Project.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/project/project_list_view.js
  frontend/javascripts/admin/tasktype/task_type_list_view.js
  frontend/javascripts/router.js
Labels: backend, frontend, new feature

#4730 Render patterns in volume segments to increase distinguishability
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/tasktype/recommended_configuration_view.js
  frontend/javascripts/libs/user_settings.schema.js
  frontend/javascripts/messages.js
  frontend/javascripts/oxalis/api/api_latest.js
  frontend/javascripts/oxalis/api/api_v2.js
  frontend/javascripts/oxalis/controller/scene_controller.js
  frontend/javascripts/oxalis/default_state.js
  frontend/javascripts/oxalis/geometries/materials/plane_material_factory.js
  frontend/javascripts/oxalis/model/helpers/shader_editor.js
  frontend/javascripts/oxalis/shaders/main_data_fragment.glsl.js
  frontend/javascripts/oxalis/shaders/segmentation.glsl.js
  frontend/javascripts/oxalis/shaders/utils.glsl.js
  frontend/javascripts/oxalis/store.js
  frontend/javascripts/oxalis/view/right-menu/mapping_info_view.js
  frontend/javascripts/oxalis/view/settings/dataset_settings_view.js
  frontend/javascripts/test/puppeteer/dataset_rendering.screenshot.js
  frontend/javascripts/test/screenshots/2017-05-31_mSEM_aniso-test.png
  frontend/javascripts/test/screenshots/2017-05-31_mSEM_scMS109_bk_100um_v01-aniso.png
  frontend/javascripts/test/screenshots/Cortex_knossos.png
  frontend/javascripts/test/screenshots/ROI2017_wkw.png
  frontend/javascripts/test/screenshots/ROI2017_wkw_fallback.png
  frontend/javascripts/test/screenshots/ROI2017_wkw_with_mapping_axons.png
  frontend/javascripts/test/screenshots/confocal-multi_knossos.png
  frontend/javascripts/test/screenshots/dsA_2.png
  frontend/javascripts/test/screenshots/e2006_knossos.png
  frontend/javascripts/test/screenshots/float_test_dataset.png
  frontend/javascripts/test/screenshots/fluro-rgb_knossos.png
  package.json
Labels: automerge

#4763 Put dataset permissions in sharing tab
  CHANGELOG.unreleased.md
  frontend/javascripts/dashboard/dataset/dataset_import_view.js
  frontend/javascripts/dashboard/dataset/import_general_component.js
  frontend/javascripts/dashboard/dataset/import_sharing_component.js
Labels: frontend, good first issue

#4768 Rotate camera on sphere via quaternions
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/controller/camera_controller.js
Labels: automerge

#4767 Show dataset name or explorative tracing name in webknossos tab title
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/components/tab_title_component.js
  frontend/javascripts/oxalis/view/layouting/tracing_layout_view.js
  package.json
  yarn.lock
Labels: UX, enhancement, frontend

#4770 Disable brush in merge mode
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/action-bar/volume_actions_view.js
  frontend/stylesheets/trace_view/_tracing_view.less
Labels: frontend, hybrid

#4773 Update flow to 0.110.0
  frontend/javascripts/components/text_with_description.js
  frontend/javascripts/libs/read_file.js
  frontend/javascripts/oxalis/model/sagas/effect-generators.js.flow
  frontend/javascripts/oxalis/store.js
  frontend/javascripts/oxalis/view/components/editable_text_label.js
  package.json
  yarn.lock
Labels: automerge

#4774 Fix nightly test
  frontend/javascripts/test/screenshots/2017-05-31_mSEM_aniso-test.png
  frontend/javascripts/test/screenshots/Cortex_knossos.png
  frontend/javascripts/test/screenshots/ROI2017_wkw.png
  frontend/javascripts/test/screenshots/confocal-multi_knossos.png
  frontend/javascripts/test/screenshots/dsA_2.png
  frontend/javascripts/test/screenshots/e2006_knossos.png
  frontend/javascripts/test/screenshots/float_test_dataset.png
  frontend/javascripts/test/screenshots/fluro-rgb_knossos.png
Labels: automerge

#4766 Allow to remove fallback layer
  CHANGELOG.unreleased.md
  frontend/javascripts/messages.js
  frontend/javascripts/oxalis/model/actions/volumetracing_actions.js
  frontend/javascripts/oxalis/model/reducers/volumetracing_reducer.js
  frontend/javascripts/oxalis/model/reducers/volumetracing_reducer_helpers.js
  frontend/javascripts/oxalis/model/sagas/update_actions.js
  frontend/javascripts/oxalis/model/sagas/volumetracing_saga.js
  frontend/javascripts/oxalis/view/settings/dataset_settings_view.js
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeUpdateActions.scala
Labels: backend, frontend, hybrid

#4776 Update setup instructions in Readme
  README.md
Labels: documentation

#4771 Add volume undo/redo support
  .prettierrc
  CHANGELOG.unreleased.md
  frontend/javascripts/messages.js
  frontend/javascripts/oxalis/controller/combinations/volumetracing_plane_controller.js
  frontend/javascripts/oxalis/model/actions/save_actions.js
  frontend/javascripts/oxalis/model/actions/volumetracing_actions.js
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket.js
  frontend/javascripts/oxalis/model/bucket_data_handling/data_cube.js
  frontend/javascripts/oxalis/model/sagas/effect-generators.js
  frontend/javascripts/oxalis/model/sagas/effect-generators.js.flow
  frontend/javascripts/oxalis/model/sagas/save_saga.js
  frontend/javascripts/oxalis/model/sagas/volumetracing_saga.js
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.js
  frontend/javascripts/oxalis/workers/byte_array_lz4_compression.worker.js
  frontend/javascripts/test/sagas/volumetracing_saga.spec.js
Labels: frontend, hybrid, new feature

#4781 Update screenshots for CI
  frontend/javascripts/test/screenshots/2017-05-31_mSEM_scMS109_bk_100um_v01-aniso.png
  frontend/javascripts/test/screenshots/ROI2017_wkw_fallback.png
  frontend/javascripts/test/screenshots/ROI2017_wkw_with_mapping_axons.png
Labels: automerge

#4782 Fix project download loading indicator
  frontend/javascripts/admin/project/project_list_view.js
Labels: bug, frontend

#4783 Update font awesome
  frontend/javascripts/admin/onboarding.js
  frontend/javascripts/components/text_with_description.js
  frontend/javascripts/dashboard/explorative_annotations_view.js
  frontend/javascripts/oxalis/view/action-bar/share_modal_view.js
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.js
  frontend/javascripts/oxalis/view/components/button_component.js
  frontend/javascripts/oxalis/view/right-menu/comment_tab/comment.js
  frontend/javascripts/oxalis/view/right-menu/comment_tab/comment_tab_view.js
  frontend/javascripts/oxalis/view/right-menu/meshes_view.js
  frontend/javascripts/oxalis/view/right-menu/trees_tab_view.js
  frontend/javascripts/oxalis/view/settings/dataset_settings_view.js
  frontend/stylesheets/main.less
  frontend/stylesheets/react_sortable_tree_overwrites.less
  package.json
  yarn.lock
Labels: automerge, enhancement, frontend
