Repository scalableminds/webknossos, pull requests merged in 2020-07, with the labels that each got.

#4671 Display Loading... instead of No Data when creating a task
  frontend/javascripts/admin/project/project_create_view.js
  frontend/javascripts/admin/scripts/script_create_view.js
  frontend/javascripts/admin/task/task_create_form_view.js
  frontend/javascripts/admin/task/task_search_form.js
  frontend/javascripts/admin/tasktype/task_type_create_view.js
  frontend/javascripts/admin/time/time_line_view.js
  frontend/javascripts/dashboard/dataset/team_selection_component.js
  frontend/javascripts/oxalis/view/action-bar/merge_modal_view.js
Labels: UX, frontend, good first issue

#4647 Add more information to task csv download
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/task/task_create_form_view.js
Labels: enhancement, frontend

#4693 Add text to auth token view
  docs/rest_api.md
  frontend/javascripts/admin/auth/auth_token_view.js
Labels: frontend, good first issue

#4703 Avoid gt and lt signs in dummy descriptions
  frontend/javascripts/oxalis/view/right-menu/dataset_info_tab_view.js
Labels: automerge, frontend

#4700 fix initial color of user bounding boxes
  frontend/javascripts/libs/utils.js
Labels: automerge, enhancement, frontend

#4702 Fix wrong form submission during Experience Assignments
  frontend/javascripts/admin/user/experience_modal_view.js
Labels: bug, frontend, good first issue

#4688 Split Multi-Component Trees in Backend NML Parser
  CHANGELOG.unreleased.md
  app/models/annotation/nml/NmlParser.scala
  project/Dependencies.scala
  test/backend/NMLUnitTestSuite.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/MultiComponentTreeSplitter.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/TreeValidator.scala
Labels: backend

#4694 When exploring dataset layer, use previous category if available
  CHANGELOG.unreleased.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/wkw/WKWDataFormat.scala
Labels: backend

#4695 Show Warning When Creating Inaccessible Tasks
  CHANGELOG.unreleased.md
  app/controllers/Controller.scala
  app/controllers/TaskController.scala
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/task/task_create_bulk_view.js
  frontend/javascripts/admin/task/task_create_form_view.js
  frontend/javascripts/dashboard/dataset/dataset_import_view.js
  frontend/javascripts/test/backend-snapshot-tests/tasks.e2e.js
Labels: backend, frontend

#4698 Prevent Zero Admins in Organization
  CHANGELOG.unreleased.md
  app/controllers/UserController.scala
  app/models/user/User.scala
  conf/messages
Labels: automerge, backend

#4701 Extract Default Mail Sender to application.conf
  CHANGELOG.unreleased.md
  app/controllers/Authentication.scala
  app/oxalis/mail/DefaultMails.scala
  app/utils/WkConf.scala
  conf/application.conf
Labels: automerge, backend, infrastructure

#4630 Add possibility to edit min and max of intensity range
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/reducers/settings_reducer.js
  frontend/javascripts/oxalis/model/sagas/load_histogram_data_saga.js
  frontend/javascripts/oxalis/store.js
  frontend/javascripts/oxalis/view/settings/dataset_settings_view.js
  frontend/javascripts/oxalis/view/settings/histogram_view.js
  frontend/javascripts/oxalis/view/settings/setting_input_views.js
  frontend/javascripts/test/puppeteer/dataset_rendering.screenshot.js
Labels: automerge, frontend, new feature

#4707 Include Server Time in Error Replies
  CHANGELOG.unreleased.md
  util/src/main/scala/com/scalableminds/util/mvc/ExtendedController.scala
Labels: backend

#4711 Dont warn if team has transitive dataset access
  app/controllers/TaskController.scala
  app/models/user/User.scala
Labels: automerge, backend

#4724 Release 20.08
  CHANGELOG.released.md
  CHANGELOG.unreleased.md
  MIGRATIONS.released.md
  MIGRATIONS.unreleased.md
Labels: automerge

#4717 Add nml explanation to docs
  docs/data_formats.md
Labels: documentation, frontend

#4729 Disable brush autofill when erasing
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/sagas/volumetracing_saga.js
Labels: enhancement, frontend

#4696 Allow deleting datasets on disk
  CHANGELOG.unreleased.md
  app/controllers/UserTokenController.scala
  app/utils/WkConf.scala
  conf/application.conf
  conf/messages
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/api_flow_types.js
  frontend/javascripts/dashboard/dataset/dataset_import_view.js
  frontend/javascripts/dashboard/dataset/import_delete_component.js
  frontend/javascripts/messages.js
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/misc.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/misc.e2e.js.snap
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/AccessTokenService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
Labels: backend

#4734 Update config default to allow dataset deletion
  conf/application.conf
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/misc.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/misc.e2e.js.snap
Labels: automerge, backend, infrastructure

#4728 Apply d/f switching option to copying slices
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/reducers/flycam_reducer.js
  frontend/javascripts/oxalis/model/sagas/volumetracing_saga.js
Labels: bug, frontend

#4735 Fix groups in multicomponent tree splitter
  CHANGELOG.unreleased.md
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/MultiComponentTreeSplitter.scala
Labels: backend, bug

#4722 Improve visual separation of layer-specific sections in settings
  frontend/javascripts/oxalis/view/layouting/tracing_layout_view.js
  frontend/javascripts/oxalis/view/settings/dataset_settings_view.js
  frontend/javascripts/oxalis/view/settings/histogram_view.js
  frontend/stylesheets/_variables.less
Labels: frontend, good first issue
