Repository scalableminds/webknossos, pull requests merged in 2021-07, with the labels that each got.

#5605 Invert nux info on new controls, so new users are not bothered
  MIGRATIONS.unreleased.md
  conf/evolutions/073-modern-controls-user-conf.sql
  conf/evolutions/reversions/073-modern-controls-user-conf.sql
  frontend/javascripts/oxalis/view/novel_user_experiences/01-present-modern-controls.js
  frontend/javascripts/types/api_flow_types.js
  tools/postgres/schema.sql
Labels: enhancement, frontend

#5592 Include orga name in job notification
  app/models/job/Job.scala
Labels: backend, enhancement

#5594 Add colored icons to status in jobs list
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/job/job_list_view.js
Labels: enhancement, frontend

#5596 Fix Wrapping Nested Tree Groups During Upload
  CHANGELOG.unreleased.md
  app/models/annotation/nml/NmlService.scala
Labels: backend, bug

#5603 Send Session ID With Back-End Analytics
  app/WebKnossosModule.scala
  app/models/analytics/AnalyticsService.scala
  app/utils/WkConf.scala
  conf/application.conf
Labels: enhancement

#5602 Add readable error messages for Project/TaskType unique checks
  app/controllers/ProjectController.scala
  app/controllers/TaskTypeController.scala
  app/models/task/TaskType.scala
  conf/messages
Labels: backend, enhancement

#5402 Call webknossos-worker Generate Mesh File Job
  app/controllers/JobsController.scala
  conf/messages
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/dataset/dataset_upload_view.js
  frontend/javascripts/admin/job/job_list_view.js
  frontend/javascripts/oxalis/view/context_menu.js
  frontend/javascripts/oxalis/view/right-border-tabs/meshes_view.js
  tools/proxy/proxy.js
Labels: backend, frontend, new feature

#5604 Make owner foreign key in jobs table
  MIGRATIONS.unreleased.md
  conf/evolutions/074-jobs-owner-foreign-key.sql
  conf/evolutions/reversions/074-jobs-owner-foreign-key.sql
  tools/postgres/schema.sql
Labels: backend

#5622 Poll jobs in meshes tab only if jobs are enabled
  frontend/javascripts/oxalis/view/right-border-tabs/meshes_view.js
Labels: bug, frontend

#5616 Dataset Upload: Improve Progress Display
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/dataset/dataset_upload_view.js
Labels: enhancement, frontend

#5613 Switch status bar content
  frontend/javascripts/oxalis/view/statusbar.js
  frontend/stylesheets/trace_view/_status_bar.less
Labels: enhancement, frontend

#5585 VX CTAs
  frontend/javascripts/admin/dataset/dataset_add_view.js
  frontend/javascripts/admin/dataset/dataset_upload_view.js
  frontend/javascripts/types/api_flow_types.js
  frontend/stylesheets/main.less
  public/images/vx/alignment-schema.png
  public/images/vx/segmentation-l4dense_motta_et_al_demo_rotated.jpg
Labels: frontend

#5632 Select mag of segmentation layer for meshfile computation
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/right-border-tabs/meshes_view.js
Labels: bug, frontend

#5626 Call wk-worker nuclei inferral job
  CHANGELOG.unreleased.md
  app/controllers/JobsController.scala
  conf/messages
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/job/job_list_view.js
  frontend/javascripts/types/api_flow_types.js
Labels: new feature

#5595 cross origin api sends acc message when done
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/api/cross_origin_api.js
Labels: automerge
