Repository scalableminds/webknossos, pull requests merged in 2021-08, with the labels that each got.

#5647 Only poll api/jobs from meshes tab while logged in
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/right-border-tabs/meshes_view.js
Labels: bug, frontend

#5635 Refactor RPC Class/Variable Naming
  app/controllers/Application.scala
  app/controllers/JobsController.scala
  app/controllers/UserTokenController.scala
  app/controllers/WKRemoteDataStoreController.scala
  app/controllers/WKRemoteTracingStoreController.scala
  app/models/annotation/AnnotationMerger.scala
  app/models/annotation/TracingStore.scala
  app/models/annotation/WKRemoteTracingStoreClient.scala
  app/models/binary/DataSetService.scala
  app/models/binary/WKRemoteDataStoreClient.scala
  app/models/task/TaskCreationService.scala
  conf/webknossos.latest.routes
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/DataStoreModule.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/AccessTokenService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSRemoteWebKnossosClient.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceRepository.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/SampleDataSourceService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TSRemoteWebKnossosClient.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TracingStoreModule.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/SkeletonTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/TracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingDownsampling.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: backend, refactoring

#5608 Fix volume undo for unfetched data
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/actions/volumetracing_actions.js
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket.js
  frontend/javascripts/oxalis/model/bucket_data_handling/data_cube.js
  frontend/javascripts/oxalis/model/sagas/save_saga.js
  frontend/javascripts/oxalis/model/volumetracing/volume_annotation_sampling.js
  frontend/javascripts/test/model/volumetracing/volume_annotation_sampling.spec.js
Labels: bug, frontend, automerge

#5660 Update akkaHttp
  CHANGELOG.unreleased.md
  project/Dependencies.scala
Labels: bug, backend

#5666 Fix context menu positioning
  frontend/javascripts/oxalis/view/context_menu.js
Labels: bug, urgent, frontend

#5668 Fix hideUnmappedIds resetting once placing a node in merger mode
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/reducers/settings_reducer.js
Labels: bug, frontend

#5678 Explorative Resolutions Followup: Fix nightly, add padding
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/dashboard/advanced_dataset/create_explorative_modal.js
  frontend/javascripts/test/puppeteer/dataset_rendering_helpers.js
Labels: bug, frontend, testing

#5679 Blur viewport maximize button after toggling it
  frontend/javascripts/oxalis/view/layouting/flex_layout_wrapper.js
Labels: enhancement, frontend

#5663 Disable jobs for non-local datasets
  CHANGELOG.unreleased.md
  app/models/binary/DataSetService.scala
  frontend/javascripts/messages.js
  frontend/javascripts/oxalis/default_state.js
  frontend/javascripts/oxalis/view/components/setting_input_views.js
  frontend/javascripts/oxalis/view/right-border-tabs/bounding_box_tab.js
  frontend/javascripts/oxalis/view/right-border-tabs/export_bounding_box_modal.js
  frontend/javascripts/oxalis/view/right-border-tabs/meshes_view.js
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.snap
  frontend/javascripts/types/api_flow_types.js
Labels: bug, frontend

#5673 Add tooltips for settings in left sidebar
  CHANGELOG.unreleased.md
  frontend/javascripts/messages.js
  frontend/javascripts/oxalis/view/components/setting_input_views.js
  frontend/javascripts/oxalis/view/left-border-tabs/controls_and_rendering_settings_tab.js
Labels: enhancement, frontend

#5662 Auto switch organization suggestion
  app/controllers/Application.scala
  app/controllers/AuthenticationController.scala
  app/models/user/User.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/oxalis/controller.js
  frontend/javascripts/oxalis/model.js
  frontend/javascripts/oxalis/model_initialization.js
  util/src/main/scala/com/scalableminds/util/tools/Fox.scala
Labels: enhancement, frontend

#5674 Fix rendering missing data black and wrong segment id being displayed
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/bucket_data_handling/data_cube.js
  frontend/javascripts/oxalis/model/bucket_data_handling/texture_bucket_manager.js
  frontend/javascripts/oxalis/model/helpers/position_converter.js
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.js
Labels: bug, enhancement, frontend

#5676 Fix rendering for intensity range of 0
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/shaders/main_data_fragment.glsl.js
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.js
Labels: bug, frontend, rendering

#5670 Update displayed position in statusbar when flycam changes
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/accessors/view_mode_accessor.js
  frontend/javascripts/oxalis/view/left-border-tabs/mapping_settings_view.js
  frontend/javascripts/oxalis/view/statusbar.js
Labels: bug, frontend

#5669 Add nuclei inferral UI
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/oxalis/view/right-border-tabs/dataset_info_tab_view.js
  frontend/javascripts/oxalis/view/right-border-tabs/nuclei_inferral_modal.js
  frontend/stylesheets/dark.less
  public/images/nuclei_inferral_example.jpg
Labels: frontend, new feature

#5682 Make not rendered layer info less verbose + more precise
  frontend/javascripts/oxalis/geometries/materials/plane_material_factory.js
  frontend/javascripts/oxalis/model/accessors/dataset_accessor.js
  frontend/javascripts/oxalis/view/viewport_status_indicator.js
Labels: enhancement, frontend, UX

#5677 Add shortcut hints to context menu
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/context_menu.js
Labels: enhancement, frontend
