Repository scalableminds/webknossos, pull requests merged in 2021-03, with the labels that each got.

#5217 Add is_superuser property to analytics events
  app/models/analytics/AnalyticsService.scala
Labels: backend, enhancement

#5222 Adapt Agglomerate Mapping Max Mag to correct value
  frontend/javascripts/oxalis/model/sagas/annotation_saga.js
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataService.scala
Labels: frontend

#5182 Refactor AuthenticationController, remove unused files
  app/Startup.scala
  app/WebKnossosModule.scala
  app/controllers/AnnotationController.scala
  app/controllers/AnnotationIOController.scala
  app/controllers/AuthenticationController.scala
  app/controllers/DataSetController.scala
  app/controllers/InitialDataController.scala
  app/controllers/JobsController.scala
  app/controllers/OrganizationController.scala
  app/controllers/WKDataStoreController.scala
  app/controllers/WKTracingStoreController.scala
  app/models/analytics/AnalyticsService.scala
  app/models/annotation/AnnotationService.scala
  app/models/annotation/handler/SavedTracingInformationHandler.scala
  app/models/binary/DataSet.scala
  app/models/binary/DataSetService.scala
  app/models/organization/Organization.scala
  app/models/organization/OrganizationService.scala
  app/models/task/TaskCreationService.scala
  app/models/team/Team.scala
  app/models/user/Invite.scala
  app/models/user/UserCache.scala
  app/models/user/UserService.scala
  app/models/user/time/TimeSpanService.scala
  app/oxalis/cleanup/CleanUpService.scala
  app/oxalis/mail/DefaultMails.scala
  app/oxalis/mvc/Status.scala
  app/oxalis/telemetry/SlackNotificationService.scala
  app/oxalis/thirdparty/BrainTracing.scala
  app/oxalis/view/ExtendedHtml.scala
  app/oxalis/view/SessionData.scala
  app/oxalis/view/helpers.scala
  app/utils/SQLHelpers.scala
  conf/webknossos.latest.routes
  util/src/main/scala/com/scalableminds/util/mvc/Formatter.scala
  util/src/main/scala/com/scalableminds/util/tools/TextUtils.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/SkeletonTracingService.scala
Labels: backend, refactoring

#5215 Fix Shift + Scroll for some mouses on macOS
  frontend/javascripts/libs/input.js
Labels: bug

#5204 add new contributor slack handle
  .circleci/slack-notification.sh
Labels: infrastructure, low-hanging-fruit

#5209 Show total time for project
  CHANGELOG.unreleased.md
  app/controllers/ProjectController.scala
  app/models/project/Project.scala
  app/models/task/Task.scala
  app/utils/SitemapWriter.scala
  frontend/javascripts/admin/project/project_list_view.js
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/projects.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/projects.e2e.js.snap
  frontend/javascripts/types/api_flow_types.js
Labels: backend, enhancement, frontend

#5229 Make project time Long
  app/controllers/ProjectController.scala
  app/models/project/Project.scala
  app/models/task/Task.scala
Labels: backend, bug

#5235 Add API methods to get/set the active group and to set the camera position
  frontend/javascripts/oxalis/api/api_latest.js
  frontend/javascripts/oxalis/view/right-menu/tree_hierarchy_view.js
  frontend/javascripts/test/api/api_skeleton_latest.spec.js
  frontend/javascripts/test/fixtures/skeletontracing_server_objects.js
Labels: frontend

#5195 Tiff Export Job
  CHANGELOG.unreleased.md
  app/controllers/JobsController.scala
  app/utils/WkConf.scala
  conf/application.conf
  conf/messages
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/dataset/dataset_upload_view.js
  frontend/javascripts/admin/job/job_list_view.js
  frontend/javascripts/oxalis/view/settings/export_bounding_box_modal.js
  frontend/javascripts/oxalis/view/settings/setting_input_views.js
  frontend/javascripts/oxalis/view/settings/user_settings_view.js
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/misc.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/misc.e2e.js.snap
  frontend/javascripts/types/api_flow_types.js
  util/src/main/scala/com/scalableminds/util/geometry/BoundingBox.scala
  util/src/main/scala/com/scalableminds/util/mvc/Formatter.scala
Labels: backend, frontend, new feature

#5244 Fix Bounding Box Checks for Tiff Export
  app/controllers/JobsController.scala
  conf/messages
  util/src/main/scala/com/scalableminds/util/geometry/BoundingBox.scala
Labels: backend, bug

#5252 Small Fixes for Tiff Export
  app/controllers/JobsController.scala
  conf/messages
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/job/job_list_view.js
  frontend/javascripts/oxalis/view/settings/export_bounding_box_modal.js
  frontend/javascripts/oxalis/view/settings/user_settings_view.js
  frontend/javascripts/types/api_flow_types.js
Labels: backend, bug, enhancement, frontend

#5237 Expose analytics endpoint to frontend
  MIGRATIONS.unreleased.md
  app/controllers/Application.scala
  app/controllers/WKDataStoreController.scala
  app/controllers/WKTracingStoreController.scala
  app/models/analytics/AnalyticsEntry.scala
  app/models/analytics/AnalyticsService.scala
  conf/evolutions/067-drop-analytics.sql
  conf/evolutions/reversions/067-drop-analytics.sql
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/oxalis/model/sagas/isosurface_saga.js
  test/db/analytics.csv
  tools/postgres/schema.sql
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/BinaryDataController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/DataRequests.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
Labels: backend, enhancement, frontend

#5263 breakWord for layer name above histogram
  frontend/javascripts/oxalis/view/settings/dataset_settings_view.js
Labels: enhancement, frontend, low-hanging-fruit

#5262 Link to View mode from Annotation mode info tab
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/right-menu/dataset_info_tab_view.js
Labels: enhancement, frontend

#5266 Unify Backend Enumerations
  app/controllers/UserTokenController.scala
  app/models/annotation/AnnotationSettings.scala
  app/models/annotation/AnnotationState.scala
  app/models/annotation/AnnotationType.scala
  app/models/annotation/AnnotationVisibility.scala
  app/models/task/TaskType.scala
  app/oxalis/security/TokenType.scala
  app/utils/EnumUtils.scala
  util/src/main/scala/com/scalableminds/util/enumeration/ExtendedEnumeration.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataLayer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/AccessTokenService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/TracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/TracingType.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: backend, refactoring

#5267 Fix frontend search for objects with null values
  CHANGELOG.unreleased.md
  frontend/javascripts/libs/utils.js
  frontend/javascripts/test/libs/utils.spec.js
Labels: automerge, bug, frontend

#5264 Send Analytics Event for Failed Dataset Upload
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/dataset/dataset_upload_view.js
Labels: enhancement, frontend

#5277 More Line Breaks for Readability
  frontend/javascripts/oxalis/view/right-menu/dataset_info_tab_view.js
  frontend/stylesheets/_dashboard.less
Labels: UX, enhancement, frontend, low-hanging-fruit

#5137 Upload multiple dataset files
  CHANGELOG.unreleased.md
  flow-typed/npm/react-dropzone_v4.x.x.js
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/dataset/dataset_upload_view.js
  frontend/javascripts/libs/utils.js
  frontend/javascripts/messages.js
  frontend/javascripts/oxalis/view/layouting/tracing_layout_view.js
  frontend/javascripts/oxalis/view/nml_upload_zone_container.js
  frontend/stylesheets/_admin.less
  package.json
  util/src/main/scala/com/scalableminds/util/io/PathUtils.scala
  util/src/main/scala/com/scalableminds/util/io/ZipIO.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/SampleDataSourceService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/UploadService.scala
  yarn.lock
Labels: backend, enhancement, frontend

#5246 Export Volume Annotations
  CHANGELOG.unreleased.md
  app/controllers/JobsController.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/job/job_list_view.js
  frontend/javascripts/oxalis/view/settings/export_bounding_box_modal.js
  frontend/javascripts/oxalis/view/settings/user_settings_view.js
  frontend/javascripts/types/api_flow_types.js
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingBucketHelper.scala
Labels: backend, enhancement, jobs

#5297 Ignore escaped carriage return in diff schema
  tools/postgres/diff_schema.js
Labels: backend, bug

#5294 Track failed jobs to slack + analytics
  app/controllers/JobsController.scala
  app/models/analytics/AnalyticsService.scala
Labels: backend

#5284 Slack Notification for critical FossilDB errors, failed Jobs
  app/Startup.scala
  app/WebKnossosModule.scala
  app/controllers/JobsController.scala
  app/models/analytics/AnalyticsService.scala
  app/oxalis/telemetry/SlackNotificationService.scala
  app/utils/SQLHelpers.scala
  app/utils/WkConf.scala
  conf/application.conf
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TracingStoreConfig.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TracingStoreModule.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/TracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/slacknotification/SlackClient.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/slacknotification/SlackNotificationService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/FossilDBClient.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/TracingDataStore.scala
  webknossos-tracingstore/conf/standalone-tracingstore.conf
Labels: backend, enhancement

#5309 Expose default user initial token to config
  app/controllers/InitialDataController.scala
  app/utils/WkConf.scala
  conf/application.conf
Labels: backend, security

#5285 Add layer + mag dir to wkw uploads if missing
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/dataset/dataset_add_view.js
  util/src/main/scala/com/scalableminds/util/io/PathUtils.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/UploadService.scala
Labels: backend, enhancement

#5316 Fix scale json schema
  frontend/javascripts/types/schemas/datasource.schema.js
  frontend/javascripts/types/schemas/datasource.types.js
Labels: bug, frontend

#5308 Fix uploading NML via file picker
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/nml_upload_zone_container.js
Labels: bug, frontend

#5278 Trim experience domains
  app/models/task/TaskCreationService.scala
  app/models/user/Experience.scala
Labels: backend, bug

#5318 Make SSO opt-in in config
  conf/application.conf
Labels: backend, security

#5306 Unify job names, prepare for auto-detect cuber
  MIGRATIONS.unreleased.md
  app/controllers/JobsController.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/dataset/dataset_upload_view.js
  frontend/javascripts/admin/job/job_list_view.js
  frontend/javascripts/oxalis/view/settings/export_bounding_box_modal.js
Labels: backend, frontend, jobs, refactoring

#5325 Fix SQL errors during failed job tracking
  app/controllers/JobsController.scala
  frontend/javascripts/admin/job/job_list_view.js
Labels: backend, bug, urgent

#5333 In diff schema, replace escaped carriage return by two spaces
  tools/postgres/diff_schema.js
Labels: backend

#5330 Analytics: mark annotation updates that are view-only
  app/controllers/WKTracingStoreController.scala
  app/models/analytics/AnalyticsService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TracingStoreWkRpcClient.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/TracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/UpdateActions.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/updating/SkeletonUpdateActions.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeUpdateActions.scala
Labels: backend

#5326 Change shading of meshes
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/controller/scene_controller.js
Labels: enhancement, frontend

#5339 Fix bug where some values in project list were displayed incorrectly
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/project/project_list_view.js
Labels: bug, frontend
