Repository scalableminds/webknossos, pull requests merged in 2021-04, with the labels that each got.

#5354 Don’t reference issue 123 in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: infrastructure

#5362 Fix volume tasks from file without specified Bbox
  CHANGELOG.unreleased.md
  app/controllers/TaskController.scala
  app/models/task/TaskCreationService.scala
Labels: backend, bug

#5334 Make Project and TaskType names unique by Organization
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/controllers/InitialDataController.scala
  app/controllers/JobsController.scala
  app/controllers/LegacyApiController.scala
  app/controllers/ProjectController.scala
  app/controllers/TaskController.scala
  app/controllers/TaskTypeController.scala
  app/models/annotation/Annotation.scala
  app/models/annotation/AnnotationIdentifier.scala
  app/models/annotation/TracingStore.scala
  app/models/binary/DataSet.scala
  app/models/binary/DataSetService.scala
  app/models/binary/DataStore.scala
  app/models/mesh/Mesh.scala
  app/models/organization/Organization.scala
  app/models/project/Project.scala
  app/models/task/Task.scala
  app/models/task/TaskCreationService.scala
  app/models/task/TaskType.scala
  app/models/team/Team.scala
  app/models/user/MultiUser.scala
  app/models/user/User.scala
  app/utils/SQLHelpers.scala
  conf/evolutions/069-tasktype-project-unique-per-orga.sql
  conf/evolutions/reversions/069-tasktype-project-unique-per-orga.sql
  conf/messages
  conf/webknossos.latest.routes
  conf/webknossos.versioned.routes
  docs/rest_api.md
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/project/project_create_view.js
  frontend/javascripts/admin/project/project_list_view.js
  frontend/javascripts/admin/task/task_search_form.js
  frontend/javascripts/router.js
  frontend/javascripts/test/backend-snapshot-tests/projects.e2e.js
  frontend/javascripts/test/backend-snapshot-tests/teamstructure.e2e.js
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/projects.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/projects.e2e.js.snap
  test/db/projects.csv
  test/db/taskTypes.csv
  tools/postgres/schema.sql
  util/src/main/scala/com/scalableminds/util/tools/Fox.scala
Labels: backend, enhancement, frontend

#5324 Screenshot for 3D view
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/shaders/main_data_fragment.glsl.js
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.js
  frontend/javascripts/oxalis/view/action-bar/view_dataset_actions_view.js
  frontend/javascripts/oxalis/view/rendering_utils.js
Labels: automerge

#5374 Fix context menu overlay being to high
  frontend/javascripts/oxalis/view/node_context_menu.js
  frontend/stylesheets/trace_view/_tracing_view.less
Labels: automerge, bug, frontend

#5371 Don’t scroll up when showing confirm modals
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/auth/authentication_modal.js
  frontend/javascripts/admin/dataset/dataset_add_view.js
  frontend/javascripts/admin/onboarding.js
  frontend/javascripts/admin/scripts/script_list_view.js
  frontend/javascripts/admin/task/task_list_view.js
  frontend/javascripts/admin/tasktype/task_type_list_view.js
  frontend/javascripts/admin/team/team_list_view.js
  frontend/javascripts/admin/user/user_list_view.js
  frontend/javascripts/components/link_button.js
  frontend/javascripts/dashboard/dashboard_task_list_view.js
  frontend/javascripts/dashboard/dataset/dataset_import_view.js
  frontend/javascripts/oxalis/view/settings/dataset_settings_view.js
  frontend/stylesheets/antd_overwrites.less
Labels: bug, frontend

#5382 [Docs] Update publications list
  docs/publications.md
Labels: documentation

#5378 Add annotation backlink to export job
  CHANGELOG.unreleased.md
  app/controllers/JobsController.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/job/job_list_view.js
  frontend/javascripts/oxalis/view/settings/export_bounding_box_modal.js
  frontend/javascripts/oxalis/view/settings/user_settings_view.js
  frontend/javascripts/types/api_flow_types.js
Labels: backend, enhancement, frontend

#5392 Await Server Replies When Updating User
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/user/user_list_view.js
Labels: bug, frontend

#5381 Make Project and TaskType names unique by Organization (second try)
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/controllers/InitialDataController.scala
  app/controllers/JobsController.scala
  app/controllers/LegacyApiController.scala
  app/controllers/ProjectController.scala
  app/controllers/TaskController.scala
  app/controllers/TaskTypeController.scala
  app/models/annotation/Annotation.scala
  app/models/annotation/AnnotationIdentifier.scala
  app/models/annotation/TracingStore.scala
  app/models/binary/DataSet.scala
  app/models/binary/DataSetService.scala
  app/models/binary/DataStore.scala
  app/models/mesh/Mesh.scala
  app/models/organization/Organization.scala
  app/models/project/Project.scala
  app/models/task/Task.scala
  app/models/task/TaskCreationService.scala
  app/models/task/TaskType.scala
  app/models/team/Team.scala
  app/models/user/MultiUser.scala
  app/models/user/User.scala
  app/utils/SQLHelpers.scala
  conf/evolutions/069-tasktype-project-unique-per-orga.sql
  conf/evolutions/reversions/069-tasktype-project-unique-per-orga.sql
  conf/messages
  conf/webknossos.latest.routes
  conf/webknossos.versioned.routes
  docs/rest_api.md
  frontend/javascripts/admin/admin_rest_api.js
  frontend/javascripts/admin/project/project_create_view.js
  frontend/javascripts/admin/project/project_list_view.js
  frontend/javascripts/admin/task/task_search_form.js
  frontend/javascripts/router.js
  frontend/javascripts/test/backend-snapshot-tests/projects.e2e.js
  frontend/javascripts/test/backend-snapshot-tests/teamstructure.e2e.js
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/projects.e2e.js.md
  frontend/javascripts/test/snapshots/public/test-bundle/test/backend-snapshot-tests/projects.e2e.js.snap
  test/db/projects.csv
  test/db/taskTypes.csv
  tools/postgres/schema.sql
  util/src/main/scala/com/scalableminds/util/tools/Fox.scala
Labels: backend, frontend

#5404 Only upload to datastores that allow upload
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/dataset/dataset_upload_view.js
Labels: bug, urgent

#5369 [WIP] Status bar
  frontend/javascripts/oxalis/view/layouting/default_layout_configs.js
  frontend/javascripts/oxalis/view/layouting/flex_layout_wrapper.js
  frontend/javascripts/oxalis/view/statusbar.js
  frontend/stylesheets/main.less
  public/images/icon-mouse-left-drag.svg
  public/images/icon-statusbar-downsampling.svg
  public/images/icon-statusbar-mouse-left-drag.svg
  public/images/icon-statusbar-mouse-left.svg
  public/images/icon-statusbar-mouse-right-drag.svg
  public/images/icon-statusbar-mouse-right.svg
  public/images/icon-statusbar-mouse-wheel.svg
Labels: frontend

#5417 Update screenshot tests
  frontend/javascripts/oxalis/default_state.js
  frontend/javascripts/test/api/api_volume_latest.spec.js
  frontend/javascripts/test/sagas/saga_integration.spec.js
  frontend/javascripts/test/sagas/volumetracing_saga_integration.spec.js
  frontend/javascripts/test/screenshots/2017-05-31_mSEM_aniso-test.png
  frontend/javascripts/test/screenshots/2017-05-31_mSEM_scMS109_bk_100um_v01-aniso.png
  frontend/javascripts/test/screenshots/Multi-Channel-Test.png
  frontend/javascripts/test/screenshots/ROI2017_wkw.png
  frontend/javascripts/test/screenshots/ROI2017_wkw_fallback.png
  frontend/javascripts/test/screenshots/ROI2017_wkw_with_mapping_astrocyte.png
  frontend/javascripts/test/screenshots/dsA_2.png
  frontend/javascripts/test/screenshots/float_test_dataset.png
  frontend/javascripts/test/test_helpers.js
Labels: CI, automerge, frontend

#5435 Make sure you can only see your own long-running job list
  CHANGELOG.unreleased.md
  app/controllers/JobsController.scala
Labels: backend, bug, security
