Repository scalableminds/webknossos, pull requests merged in 2022-10, with the labels that each got.

#6536 Fix MeshChunk byteOffset (Long, not Int)
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/MeshFileService.scala
Labels: bug, backend, mesh

#6532 Avoid allocating spire uint objects during apply agglomerate
  CHANGELOG.unreleased.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/AgglomerateService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataConverter.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/FindDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/AgglomerateFileCache.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/CumsumParser.scala
Labels: backend, performance

#6540 Fix for VX report status indicator
  frontend/javascripts/admin/voxelytics/task_list_view.tsx
Labels: frontend

#6543 Added total runtime information to VX reports
  frontend/javascripts/admin/voxelytics/task_list_view.tsx
  frontend/javascripts/libs/format_utils.ts
Labels: frontend

#6535 fix double occurance of "ago" in VX progress times
  frontend/javascripts/admin/voxelytics/task_list_view.tsx
Labels: frontend, low-hanging-fruit

#6552 fix scaling in new meshfile rendering
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/api/mesh_v3.ts
  frontend/javascripts/oxalis/controller/scene_controller.ts
  frontend/javascripts/oxalis/model/sagas/isosurface_saga.ts
Labels: bug, frontend

#6554 Add backspace keyboard shortcut to delete active node
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.tsx
Labels: frontend

#6559 Remove unused dataSetName and organizationName property of protobuf objects
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/oxalis/view/right-border-tabs/skeleton_tab_view.tsx
  frontend/javascripts/test/fixtures/skeletontracing_server_objects.ts
  frontend/javascripts/test/fixtures/tasktracing_server_objects.ts
  frontend/javascripts/test/fixtures/volumetracing_server_objects.ts
  frontend/javascripts/test/sagas/volumetracing/volumetracing_saga.spec.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.snap
  frontend/javascripts/types/api_flow_types.ts
Labels: automerge

#6485 Improve Zarr Import UI (and general editing of datasets)
  app/models/binary/DataSetService.scala
  conf/messages
  frontend/flow/ProtoFlowStub.js.flow
  frontend/javascripts/admin/dataset/dataset_add_view.tsx
  frontend/javascripts/admin/dataset/dataset_add_zarr_view.tsx
  frontend/javascripts/admin/dataset/dataset_components.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_data_tab.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_view.tsx
  frontend/javascripts/dashboard/dataset/helper_components.tsx
  frontend/javascripts/oxalis/model/accessors/dataset_accessor.ts
  frontend/javascripts/oxalis/model/sagas/save_saga.ts
  frontend/javascripts/oxalis/view/action-bar/private_links_view.tsx
  frontend/javascripts/types/api_flow_types.ts
  frontend/javascripts/types/schemas/datasource.schema.ts
  frontend/javascripts/types/schemas/datasource.types.ts
Labels: automerge

#6513 Add links to resource creation pages
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/task/task_create_form_view.tsx
Labels: frontend

#6548 Look up annotation dataset by tracing id instead of (broken) organizationName field
  CHANGELOG.unreleased.md
  app/controllers/AnnotationIOController.scala
  app/controllers/UserTokenController.scala
  app/controllers/WKRemoteTracingStoreController.scala
  app/models/annotation/AnnotationInformationProvider.scala
  app/models/annotation/AnnotationService.scala
  app/models/annotation/nml/NmlWriter.scala
  conf/webknossos.latest.routes
  test/backend/Dummies.scala
  test/backend/NMLUnitTestSuite.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/AgglomerateService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSRemoteTracingstoreClient.scala
  webknossos-datastore/proto/SkeletonTracing.proto
  webknossos-datastore/proto/VolumeTracing.proto
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TSRemoteWebKnossosClient.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingZarrStreamingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/RemoteFallbackLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingBucketHelper.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingDownsampling.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: bug, backend, discussion

#6549 added more usage shortcuts to status bar
  frontend/javascripts/oxalis/view/statusbar.tsx
Labels: frontend

#6556 refactor Select loading spinner property
  frontend/javascripts/admin/project/project_create_view.tsx
  frontend/javascripts/admin/scripts/script_create_view.tsx
  frontend/javascripts/admin/task/task_create_form_view.tsx
  frontend/javascripts/admin/task/task_search_form.tsx
  frontend/javascripts/admin/tasktype/task_type_create_view.tsx
  frontend/javascripts/admin/time/time_line_view.tsx
  frontend/javascripts/dashboard/dataset/team_selection_component.tsx
  frontend/javascripts/oxalis/view/action-bar/merge_modal_view.tsx
Labels: frontend

#6558 Highlight Menu in Navbar Menu
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.tsx
  frontend/javascripts/oxalis/view/action-bar/view_dataset_actions_view.tsx
  frontend/javascripts/oxalis/view/layouting/tracing_layout_view.tsx
Labels: frontend

#6563 Enable "What's new" in navbar for everybody
  CHANGELOG.unreleased.md
  frontend/javascripts/navbar.tsx
Labels: frontend

#6553 [Skeletons] Allow deletion of root group
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/right-border-tabs/skeleton_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_view.tsx
Labels: frontend

#6564 adds ETA calculation to voxelytics tasks
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/voxelytics/task_list_view.tsx
Labels: enhancement, frontend

#6545 Switch default volume layer source for advanced annotation creation modal
  frontend/javascripts/dashboard/advanced_dataset/create_explorative_modal.tsx
Labels: frontend

#6567 Update Typescript to v4.8
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/api/api_latest.ts
  frontend/javascripts/oxalis/api/api_v2.ts
  package.json
  yarn.lock
Labels: frontend

#6568 Expanded docs
  docs/connectome_viewer.md
  docs/data_formats.md
  docs/images/task_instance_actions.jpg
  docs/jobs.md
  docs/mesh_visualization.md
  docs/proof_reading.md
  docs/sharing.md
  docs/tasks.md
  docs/tracing_ui.md
  docs/volume_annotation.md
  frontend/javascripts/admin/task/task_list_view.tsx
Labels: documentation

#6580 suppress error toasts in isDatasetAccessibleBySwitching API call
  frontend/javascripts/admin/admin_rest_api.ts
Labels: frontend

#6583 Add shortlink for successful conversion jobs
  CHANGELOG.unreleased.md
  frontend/javascripts/dashboard/dataset_view.tsx
Labels: frontend

#6588 Fix precomputed mesh positions
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/controller/scene_controller.ts
  frontend/javascripts/oxalis/model/sagas/isosurface_saga.ts
Labels: automerge

#6590 Moved dataset import errors into a modal
  frontend/javascripts/dashboard/advanced_dataset/dataset_action_view.tsx
Labels: frontend
