Repository scalableminds/webknossos, pull requests merged in 2023-03, with the labels that each got.

#6869 Implement http range requests for HttpsSeekableByteChannel
  DEV_INSTALL.md
  MIGRATIONS.unreleased.md
  project/Dependencies.scala
  test/backend/RangeRequestTestSuite.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/FileSystemStore.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/httpsfilesystem/ByteChannelOptions.java
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/httpsfilesystem/HttpsSeekableByteChannel.scala
Labels: enhancement, backend

#6890 Support n5 end-chunks with chunksize differing from metadata chunksize
  CHANGELOG.unreleased.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/ChunkReader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/DatasetHeader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/n5/N5ChunkReader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/n5/N5DataExtractor.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/precomputed/PrecomputedChunkReader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/precomputed/PrecomputedHeader.scala
Labels: bug, backend

#6865 Upgrade Antd to v4.24
  CHANGELOG.unreleased.md
  frontend/javascripts/dashboard/dataset_view.tsx
  frontend/javascripts/navbar.tsx
  frontend/stylesheets/antd_overwrites.less
  package.json
  yarn.lock
Labels: frontend

#6882 When merging volume tracings, also merge segment lists
  CHANGELOG.unreleased.md
  app/controllers/AnnotationIOController.scala
  app/controllers/JobsController.scala
  conf/messages
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/wkw/WKWDataFormatHelper.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/SkeletonTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/TracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/TracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/SkeletonTracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/MergedVolume.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingBucketHelper.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: bug, enhancement, backend

#6901 Logging on password reset/change
  app/controllers/AuthenticationController.scala
Labels: enhancement, backend

#6908 Fix date formatting for VX reports
  CHANGELOG.unreleased.md
  frontend/javascripts/libs/format_utils.ts
Labels: bug, frontend

#6912 Avoid SQL error when fetching view config for zero-layer dataset
  app/models/user/User.scala
Labels: backend

#6904 Redesign Welcome UI
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/welcome_ui.tsx
  frontend/stylesheets/_dashboard.less
  frontend/stylesheets/dark.less
  public/images/icon-annotate.svg
  public/images/icon-import-own-data.svg
  public/images/icon-invite-colleagues.svg
  public/images/icon-open-demo.svg
Labels: frontend

#6916 Fix styling for login pages for dark mode users
  CHANGELOG.unreleased.md
  frontend/stylesheets/dark.less
Labels: frontend

#6928 Fix creating task types with preferred mode
  CHANGELOG.unreleased.md
  app/models/annotation/AnnotationSettings.scala
  app/models/task/TaskType.scala
Labels: bug, backend

#6937 Send Cache-Control: no-cache for most routes
  app/controllers/Application.scala
  app/controllers/ConfigurationController.scala
  app/controllers/OrganizationController.scala
  util/src/main/scala/com/scalableminds/util/mvc/ExtendedController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/StandaloneDatastore.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/StandaloneTracingstore.scala
Labels: enhancement, backend

#6918 Add email notifications for processing jobs
  .gitignore
  CHANGELOG.unreleased.md
  app/controllers/JobsController.scala
  app/models/analytics/AnalyticsService.scala
  app/models/job/Job.scala
  app/models/job/JobCommand.scala
  app/oxalis/mail/DefaultMails.scala
  app/views/mail/jobFailedGeneric.scala.html
  app/views/mail/jobFailedUploadConvert.scala.html
  app/views/mail/jobSuccessfulGeneric.scala.html
  app/views/mail/jobSuccessfulSegmentation.scala.html
  app/views/mail/jobSuccessfulUploadConvert.scala.html
  conf/messages
  conf/webknossos.latest.routes
  frontend/javascripts/admin/job/job_list_view.tsx
  frontend/javascripts/types/api_flow_types.ts
Labels: backend, frontend

#6898 Refactor deprecated antd Dropdown menus
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/task/task_annotation_view.tsx
  frontend/javascripts/admin/task/task_search_form.tsx
  frontend/javascripts/admin/voxelytics/task_list_view.tsx
  frontend/javascripts/dashboard/advanced_dataset/dataset_action_view.tsx
  frontend/javascripts/dashboard/advanced_dataset/dataset_table.tsx
  frontend/javascripts/dashboard/dataset_view.tsx
  frontend/javascripts/dashboard/folders/folder_tree.tsx
  frontend/javascripts/oxalis/view/action-bar/private_links_view.tsx
  frontend/javascripts/oxalis/view/action-bar/share_view_dataset_modal_view.tsx
  frontend/javascripts/oxalis/view/action-bar/toolbar_view.tsx
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.tsx
  frontend/javascripts/oxalis/view/action-bar/view_dataset_actions_view.tsx
  frontend/javascripts/oxalis/view/action_bar_view.tsx
  frontend/javascripts/oxalis/view/context_menu.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/comment_tab/comment_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/connectome_tab/synapse_tree.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/dataset_info_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segment_list_item.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view_helper.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/skeleton_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_view.tsx
  frontend/javascripts/oxalis/view/td_view_controls.tsx
Labels: frontend

#6893 Reject dataset uploads if organization storage quota is exceeded
  CHANGELOG.unreleased.md
  app/controllers/WKRemoteDataStoreController.scala
  conf/messages
  frontend/javascripts/admin/dataset/dataset_upload_view.tsx
Labels: backend, frontend

#6942 VaultPath no longer extends nio.Path
  app/models/binary/credential/CredentialDAO.scala
  app/models/binary/credential/CredentialService.scala
  app/models/binary/explore/ExploreRemoteLayerService.scala
  app/models/binary/explore/N5ArrayExplorer.scala
  app/models/binary/explore/N5MultiscalesExplorer.scala
  app/models/binary/explore/NgffExplorer.scala
  app/models/binary/explore/PrecomputedExplorer.scala
  app/models/binary/explore/RemoteLayerExplorer.scala
  app/models/binary/explore/WebknossosZarrExplorer.scala
  app/models/binary/explore/ZarrArrayExplorer.scala
  conf/messages
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/BucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/MagLocator.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/n5/N5BucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/n5/N5DataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/precomputed/PrecomputedBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/precomputed/PrecomputedDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/wkw/WKWBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/wkw/WKWDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr/ZarrBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr/ZarrDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/DatasetArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/precomputed/PrecomputedArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/FileSystemDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/FileSystemVaultPath.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/HttpsDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/VaultPath.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataLayer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataServiceHolder.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSRemoteWebKnossosClient.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/DataVaultCredentials.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/DataVaultService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingLayer.scala
Labels: backend, refactoring

#6909 Add LOD mesh support for frontend
  CHANGELOG.unreleased.md
  app/controllers/MeshController.scala
  frontend/javascripts/libs/visibility_aware_raycaster.ts
  frontend/javascripts/oxalis/controller/custom_lod.ts
  frontend/javascripts/oxalis/controller/scene_controller.ts
  frontend/javascripts/oxalis/model/sagas/isosurface_saga.ts
  frontend/javascripts/oxalis/view/plane_view.ts
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/MeshFileService.scala
Labels: enhancement, frontend, mesh
