Repository scalableminds/webknossos, pull requests merged in 2023-09, with the labels that each got.

#7294 OIDC Auth: Add scopes from config, read id_token, add option for verbose logging
  CHANGELOG.unreleased.md
  app/controllers/AuthenticationController.scala
  app/oxalis/security/OpenIdConnectClient.scala
  app/utils/WkConf.scala
  conf/application.conf
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/rpc/RPCRequest.scala
Labels: backend, security

#7321 Fix reading sharded zarr3 from local file system
  CHANGELOG.unreleased.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/FileSystemDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/FileSystemVaultPath.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/RangeSpecifier.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/VaultPath.scala
Labels: bug, backend

#7290 One Version per Transaction
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/sagas/save_saga.ts
  frontend/javascripts/test/backend-snapshot-tests/annotations.e2e.ts
  frontend/javascripts/test/sagas/save_saga.spec.ts
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/TracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/TracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/UpdateActions.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingBucketHelper.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: enhancement, backend, frontend

#7322 Fix typo in tracing actions view
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.tsx
Labels: frontend

#7287 AI-QuickSelect for ND datasets
  CHANGELOG.unreleased.md
  app/controllers/DataSetController.scala
  app/models/binary/WKRemoteDataStoreClient.scala
  app/models/binary/WKRemoteSegmentAnythingClient.scala
  app/models/job/Job.scala
  app/utils/WkConf.scala
  conf/application.conf
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/oxalis/model/sagas/quick_select_ml_saga.ts
  util/src/main/scala/com/scalableminds/util/geometry/BoundingBox.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/BinaryDataController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/DataRequests.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/rpc/RPCRequest.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingBucketHelper.scala
Labels: enhancement, backend, frontend

#7323 Fix Volume Annotation Download (data.zip contained only headers)
  CHANGELOG.unreleased.md
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingBucketHelper.scala
Labels: bug, backend, important

#7326 Fix too tight assertions in annotation saving
  CHANGELOG.unreleased.md
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/TracingController.scala
Labels: bug, backend, important

#7324 overwrite font in tab menu
  frontend/stylesheets/flex_layout_overwrites.less
  frontend/stylesheets/main.less
Labels: frontend

#7329 Fix transaction management bug
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/sagas/save_saga_constants.ts
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/TracingController.scala
Labels: bug, backend

#7206 Code Spelling: use Dataset instead of DataSet in more places
  app/WebknossosModule.scala
  app/controllers/AnnotationController.scala
  app/controllers/AnnotationIOController.scala
  app/controllers/AuthenticationController.scala
  app/controllers/ConfigurationController.scala
  app/controllers/DatasetController.scala
  app/controllers/FolderController.scala
  app/controllers/JobsController.scala
  app/controllers/StatisticsController.scala
  app/controllers/UserTokenController.scala
  app/controllers/WKRemoteDataStoreController.scala
  app/controllers/WKRemoteTracingStoreController.scala
  app/models/analytics/AnalyticsService.scala
  app/models/annotation/AnnotationMerger.scala
  app/models/annotation/AnnotationService.scala
  app/models/annotation/TracingStore.scala
  app/models/annotation/WKRemoteTracingStoreClient.scala
  app/models/annotation/handler/SavedTracingInformationHandler.scala
  app/models/binary/Dataset.scala
  app/models/binary/DatasetService.scala
  app/models/binary/Publication.scala
  app/models/binary/ThumbnailService.scala
  app/models/binary/WKRemoteDataStoreClient.scala
  app/models/binary/explore/ExploreRemoteLayerService.scala
  app/models/binary/explore/RemoteLayerExplorer.scala
  app/models/configuration/DataSetConfigurationService.scala
  app/models/configuration/DatasetConfigurationService.scala
  app/models/job/Job.scala
  app/models/storage/UsedStorageService.scala
  app/models/task/TaskCreationService.scala
  app/models/task/TaskService.scala
  app/models/team/Team.scala
  app/models/user/User.scala
  app/models/user/UserService.scala
  conf/application.conf
  conf/messages
  conf/webknossos.latest.routes
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/AdditionalAxis.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataSource.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/InboxDataSource.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSRemoteWebKnossosClient.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/FindDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/UploadService.scala
Labels: backend, refactoring

#7284 Add banner for scheduled maintenance
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/controllers/MaintenanceController.scala
  app/models/user/UserService.scala
  conf/evolutions/109-scheduled-maintenances.sql
  conf/evolutions/reversions/109-scheduled-maintenances.sql
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/maintenance_banner.tsx
  frontend/javascripts/router.tsx
  frontend/javascripts/types/api_flow_types.ts
  frontend/stylesheets/antd_overwrites.less
  frontend/stylesheets/main.less
  tools/postgres/schema.sql
Labels: backend, frontend, new feature

#7296 Add option to hide tree edges
  frontend/javascripts/oxalis/api/api_latest.ts
  frontend/javascripts/oxalis/geometries/materials/node_shader.ts
  frontend/javascripts/oxalis/geometries/skeleton.ts
  frontend/javascripts/oxalis/model/actions/skeletontracing_actions.tsx
  frontend/javascripts/oxalis/model/helpers/nml_helpers.ts
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer.ts
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer_helpers.ts
  frontend/javascripts/oxalis/model/sagas/skeletontracing_saga.ts
  frontend/javascripts/oxalis/model/sagas/update_actions.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/right-border-tabs/connectome_tab/connectome_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_view.tsx
  frontend/javascripts/oxalis/view/version_entry.tsx
  frontend/javascripts/test/geometries/skeleton.spec.ts
  frontend/javascripts/test/libs/nml.spec.ts
  frontend/javascripts/test/reducers/skeletontracing_reducer.spec.ts
  frontend/javascripts/test/sagas/skeletontracing_saga.spec.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.snap
  frontend/javascripts/types/api_flow_types.ts
  frontend/stylesheets/dark.less
  frontend/stylesheets/trace_view/_tracing_view.less
  public/images/hide-skeleton-edges-icon-dark.svg
  public/images/hide-skeleton-edges-icon-light.svg
  test/backend/SkeletonUpdateActionsUnitTestSuite.scala
  webknossos-datastore/proto/SkeletonTracing.proto
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/updating/SkeletonUpdateActions.scala
Labels: backend, frontend, new feature

#7332 Extend JS api for segment (groups)
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/api/api_latest.ts
  frontend/javascripts/oxalis/model/accessors/skeletontracing_accessor.ts
  frontend/javascripts/oxalis/model/actions/skeletontracing_actions.tsx
  frontend/javascripts/oxalis/model/actions/volumetracing_actions.ts
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer.ts
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer_helpers.ts
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/skeleton_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_view.tsx
  frontend/javascripts/test/api/api_skeleton_latest.spec.ts
Labels: automerge

#7209 Refactor backend: move tryos closer to exception-throwing code
  util/src/main/scala/com/scalableminds/util/io/PathUtils.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/ChunkReader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/ChunkTyper.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/DatasetArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/MultiArrayUtils.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/n5/N5ChunkReader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/n5/N5DataExtractor.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/precomputed/PrecomputedArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/BytesConverter.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/AgglomerateService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/IsosurfaceService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/UploadService.scala
Labels: backend, refactoring

#7344 Default Sorting for Job List View: newest on top
  frontend/javascripts/admin/job/job_list_view.tsx
Labels: frontend, low-hanging-fruit, worker

#7342 Fix nightly
  frontend/javascripts/oxalis/controller/url_manager.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/test/puppeteer/dataset_rendering.screenshot.ts
  frontend/javascripts/test/puppeteer/dataset_rendering.wkorg_screenshot.ts
  frontend/javascripts/test/screenshots-wkorg/l4dense_motta_et_al_demo.png
Labels: frontend

#7347 Fix downloading public skeleton-only annotations
  CHANGELOG.unreleased.md
  app/controllers/AnnotationIOController.scala
Labels: bug, backend

#7355 fix statistics bug and rename resolution methods to coarsest and finest
  CHANGELOG.unreleased.md
  frontend/javascripts/dashboard/advanced_dataset/create_explorative_modal.tsx
  frontend/javascripts/oxalis/api/api_latest.ts
  frontend/javascripts/oxalis/model/accessors/volumetracing_accessor.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/layer_rendering_manager.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/prefetch_strategy_plane.ts
  frontend/javascripts/oxalis/model/helpers/resolution_info.ts
  frontend/javascripts/oxalis/model/sagas/dataset_saga.ts
  frontend/javascripts/oxalis/model/sagas/proofread_saga.ts
  frontend/javascripts/oxalis/model/sagas/volume/helpers.ts
  frontend/javascripts/oxalis/model/scaleinfo.ts
  frontend/javascripts/oxalis/view/action-bar/download_modal_view.tsx
  frontend/javascripts/oxalis/view/context_menu.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segment_statistics_modal.tsx
Labels: bug, frontend

#7357 Enable AI Neuron segmentation
  app/controllers/JobsController.scala
  app/models/job/Job.scala
  conf/messages
  frontend/javascripts/oxalis/view/action-bar/download_modal_view.tsx
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/starting_job_modals.tsx
Labels: frontend

#7358 add new contributor dieknolle3333 to slack notification ping names
  .circleci/slack-notification.sh
Labels: CI
