Repository scalableminds/webknossos, pull requests merged in 2023-12, with the labels that each got.

#7471 Added support for ComputeSegmentIndexFile worker job
  CHANGELOG.unreleased.md
  app/controllers/JobsController.scala
  app/models/job/JobCommand.scala
  conf/messages
  conf/webknossos.latest.routes
  docs/data_formats.md
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/job/job_list_view.tsx
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
  frontend/javascripts/types/api_flow_types.ts
Labels: backend, worker

#7477 Fix that failing bucket requests marked buckets as missing on server
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/bucket_data_handling/pullqueue.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/temporal_bucket_manager.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/wkstore_adapter.ts
Labels: bug

#7475 Avoid errors on zarr dataset settings page
  CHANGELOG.unreleased.md
  util/src/main/scala/com/scalableminds/util/geometry/BoundingBox.scala
  util/src/main/scala/com/scalableminds/util/geometry/Vec3Double.scala
  util/src/main/scala/com/scalableminds/util/io/PathUtils.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/helpers/SkeletonElementDefaults.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/requests/DataServiceRequests.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataFinder.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceImporter.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingLayer.scala
Labels: bug, backend

#7410 Speed up annotation list
  CHANGELOG.unreleased.md
  app/controllers/AnnotationController.scala
  app/controllers/UserController.scala
  app/models/annotation/Annotation.scala
  app/models/annotation/AnnotationService.scala
  app/models/task/TaskService.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/dashboard/explorative_annotations_view.tsx
  frontend/javascripts/oxalis/model/accessors/volumetracing_accessor.ts
  frontend/javascripts/test/fixtures/skeletontracing_server_objects.ts
  frontend/javascripts/test/fixtures/tasktracing_server_objects.ts
  frontend/javascripts/test/fixtures/volumetracing_server_objects.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/tasks.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/tasks.e2e.js.snap
  frontend/javascripts/types/api_flow_types.ts
Labels: backend, frontend

#7462 Make jobs readable for admins+teamManagers+superusers
  CHANGELOG.unreleased.md
  app/controllers/JobsController.scala
  app/models/job/Job.scala
Labels: backend

#7429 Don't delete dataset in DB when annotations exist
  CHANGELOG.unreleased.md
  app/controllers/WKRemoteDataStoreController.scala
  app/models/annotation/Annotation.scala
  app/models/dataset/Dataset.scala
  app/models/dataset/DatasetService.scala
  frontend/javascripts/dashboard/advanced_dataset/dataset_action_view.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_delete_tab.tsx
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket.ts
  frontend/javascripts/oxalis/view/action-bar/toolbar_view.tsx
Labels: frontend

#7463 Finer Control Over Which Worker Does What
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/controllers/Application.scala
  app/controllers/WKRemoteWorkerController.scala
  app/models/dataset/DatasetService.scala
  app/models/job/Job.scala
  app/models/job/JobCommand.scala
  app/models/job/Worker.scala
  conf/evolutions/110-worker-config.sql
  conf/evolutions/reversions/110-worker-config.sql
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.snap
  tools/postgres/dbtool.js
  tools/postgres/schema.sql
Labels: backend, frontend, worker

#7495 Delete dataset: also clear tables for additional axes, coordinate transforms
  CHANGELOG.unreleased.md
  app/models/dataset/Dataset.scala
Labels: bug, backend

#7494 Remove swagger annotations, turn some into comments
  CHANGELOG.unreleased.md
  app/RequestHandler.scala
  app/controllers/AnnotationController.scala
  app/controllers/AnnotationIOController.scala
  app/controllers/AnnotationPrivateLinkController.scala
  app/controllers/Application.scala
  app/controllers/DataStoreController.scala
  app/controllers/DatasetController.scala
  app/controllers/FolderController.scala
  app/controllers/JobsController.scala
  app/controllers/ProjectController.scala
  app/controllers/PublicationController.scala
  app/controllers/ShortLinkController.scala
  app/controllers/StatisticsController.scala
  app/controllers/TaskController.scala
  app/controllers/TeamController.scala
  app/controllers/UserController.scala
  app/controllers/UserTokenController.scala
  app/models/annotation/WKRemoteTracingStoreClient.scala
  app/models/dataset/WKRemoteDataStoreClient.scala
  conf/application.conf
  conf/noDS.noTS.routes
  conf/noDS.routes
  conf/noTS.routes
  conf/routes
  conf/webknossos.latest.routes
  project/Dependencies.scala
  util/src/main/scala/com/scalableminds/util/swaggerhelpers/ListOfString.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/BinaryDataController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/ZarrStreamingController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/UploadService.scala
  webknossos-datastore/app/play/modules/swagger/ApiHelpController.scala
  webknossos-datastore/app/play/modules/swagger/ApiListingCache.scala
  webknossos-datastore/app/play/modules/swagger/LICENSE
  webknossos-datastore/app/play/modules/swagger/PlayApiScanner.scala
  webknossos-datastore/app/play/modules/swagger/PlayReader.java
  webknossos-datastore/app/play/modules/swagger/PlaySwaggerConfig.scala
  webknossos-datastore/app/play/modules/swagger/RouteWrapper.scala
  webknossos-datastore/app/play/modules/swagger/SwaggerModule.scala
  webknossos-datastore/app/play/modules/swagger/SwaggerPlugin.scala
  webknossos-datastore/app/play/modules/swagger/util/CrossUtil.scala
Labels: backend, refactoring

#7479 Show Thumbnails in Dataset Table
  CHANGELOG.unreleased.md
  app/models/dataset/Dataset.scala
  app/utils/sql/SqlEscaping.scala
  frontend/javascripts/dashboard/advanced_dataset/dataset_table.tsx
  frontend/javascripts/dashboard/dataset/dataset_collection_context.tsx
  frontend/javascripts/libs/format_utils.ts
  frontend/javascripts/main.tsx
  frontend/javascripts/oxalis/view/components/editable_text_icon.tsx
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.snap
  frontend/javascripts/types/api_flow_types.ts
  frontend/stylesheets/_dashboard.less
  frontend/stylesheets/dark.less
  public/images/folder-thumbnail.svg
  public/images/inactive-dataset-thumbnail.svg
  test/backend/SqlEscapingTestSuite.scala
Labels: backend, frontend, new feature

#7452 Enable video animations for all users
  conf/application.conf
  frontend/javascripts/oxalis/view/action-bar/create_animation_modal.tsx
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.tsx
  frontend/javascripts/oxalis/view/action-bar/view_dataset_actions_view.tsx
Labels: frontend, automerge

#7435 Add delete segment data update action
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/actions/volumetracing_actions.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket.ts
  frontend/javascripts/oxalis/model/sagas/update_actions.ts
  frontend/javascripts/oxalis/model/sagas/volumetracing_saga.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segment_list_item.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
  frontend/javascripts/oxalis/view/version_entry.tsx
  frontend/javascripts/test/controller/url_manager.spec.ts
  tools/assert-no-test-only.sh
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeUpdateActions.scala
Labels: backend, frontend
