Repository scalableminds/webknossos, pull requests merged in 2023-06, with the labels that each got.

#6996 Add folders to dataset table
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/task/task_list_view.tsx
  frontend/javascripts/components/fixed_expandable_table.tsx
  frontend/javascripts/dashboard/advanced_dataset/dataset_action_view.tsx
  frontend/javascripts/dashboard/advanced_dataset/dataset_table.tsx
  frontend/javascripts/dashboard/dataset/dataset_collection_context.tsx
  frontend/javascripts/dashboard/dataset_folder_view.tsx
  frontend/javascripts/dashboard/dataset_view.tsx
  frontend/javascripts/dashboard/folders/details_sidebar.tsx
  frontend/javascripts/dashboard/folders/folder_tree.tsx
  frontend/stylesheets/_dashboard.less
Labels: enhancement, frontend

#7103 When adding annotation layer, assert no duplicate names
  app/controllers/AnnotationController.scala
  app/models/annotation/Annotation.scala
  conf/messages
Labels: bug, backend

#7115 When scanning volume buckets, skip those with unparseable key
  CHANGELOG.unreleased.md
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingBucketHelper.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: bug, backend

#7086 Disable editing of super voxel skeletons in skeleton mode
  CHANGELOG.unreleased.md
  app/models/annotation/nml/NmlParser.scala
  app/models/annotation/nml/NmlWriter.scala
  frontend/javascripts/admin/task/task_create_form_view.tsx
  frontend/javascripts/libs/utils.ts
  frontend/javascripts/messages.tsx
  frontend/javascripts/oxalis/constants.ts
  frontend/javascripts/oxalis/controller/combinations/tool_controls.ts
  frontend/javascripts/oxalis/controller/viewmodes/arbitrary_controller.tsx
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.tsx
  frontend/javascripts/oxalis/model/accessors/skeletontracing_accessor.ts
  frontend/javascripts/oxalis/model/actions/skeletontracing_actions.tsx
  frontend/javascripts/oxalis/model/helpers/nml_helpers.ts
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer.ts
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer_helpers.ts
  frontend/javascripts/oxalis/model/sagas/proofread_saga.ts
  frontend/javascripts/oxalis/model/sagas/update_actions.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/action-bar/toolbar_view.tsx
  frontend/javascripts/oxalis/view/context_menu.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/connectome_tab/connectome_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_view.tsx
  frontend/javascripts/test/fixtures/build_info.ts
  frontend/javascripts/test/helpers/chainReducer.ts
  frontend/javascripts/test/libs/nml.spec.ts
  frontend/javascripts/test/reducers/skeletontracing_reducer.spec.ts
  frontend/javascripts/test/sagas/skeletontracing_saga.spec.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/libs/nml.spec.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/libs/nml.spec.js.snap
  frontend/javascripts/types/api_flow_types.ts
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/AgglomerateService.scala
  webknossos-datastore/proto/SkeletonTracing.proto
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/updating/SkeletonUpdateActions.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/updating/TreeType.scala
Labels: automerge

#7124 Prevent 'negative' buckets from being created
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/api/api_latest.ts
  frontend/javascripts/oxalis/api/api_v2.ts
  frontend/javascripts/oxalis/controller/scene_controller.ts
  frontend/javascripts/oxalis/geometries/materials/plane_material_factory.ts
  frontend/javascripts/oxalis/model/accessors/dataset_accessor.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/bounding_box.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/data_cube.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/temporal_bucket_manager.ts
  frontend/javascripts/oxalis/model/data_layer.ts
  frontend/javascripts/oxalis/model/reducers/reducer_helpers.ts
  frontend/javascripts/oxalis/model/sagas/volume/helpers.ts
  frontend/javascripts/oxalis/model/sagas/volumetracing_saga.tsx
  frontend/javascripts/oxalis/model_initialization.ts
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
  frontend/javascripts/test/model/binary/cube.spec.ts
  frontend/javascripts/test/model/model.spec.ts
  frontend/javascripts/test/model/volumetracing/volume_annotation_sampling.spec.ts
  util/src/main/scala/com/scalableminds/util/geometry/Vec3Int.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/Positions.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: frontend, automerge

#7118 Create bounding box by dragging with box tool
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/controller/combinations/bounding_box_handlers.ts
  frontend/javascripts/oxalis/controller/combinations/tool_controls.ts
  frontend/javascripts/oxalis/model/accessors/view_mode_accessor.ts
  frontend/javascripts/oxalis/model/actions/annotation_actions.ts
  frontend/javascripts/oxalis/model/reducers/annotation_reducer.ts
  frontend/javascripts/oxalis/view/input_catcher.tsx
Labels: discussion, automerge

#7129 Fix true brush size for small, uneven brush sizes
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/shaders/segmentation.glsl.ts
Labels: bug, frontend

#7134 Unify DatasetPath and VaultPath, cleaner ChunkReader creation
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/ChunkReader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/ChunkTyper.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/DatasetArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/DatasetPath.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/n5/N5Array.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/n5/N5ChunkReader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/precomputed/PrecomputedArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/ZarrArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3Array.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3ChunkReader.scala
Labels: backend, refactoring

#7067 Shared Chunk Cache for all DatasetArrays, CacheWeight for AlfuCache
  CHANGELOG.unreleased.md
  app/models/user/UserService.scala
  conf/application.conf
  util/src/main/scala/com/scalableminds/util/cache/AlfuCache.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/DataStoreConfig.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/n5/N5BucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/n5/N5DataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/precomputed/PrecomputedBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/precomputed/PrecomputedDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/wkw/WKWDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr/ZarrBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr/ZarrDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr3/Zarr3BucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr3/Zarr3DataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/DatasetArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/n5/N5Array.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/precomputed/PrecomputedArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/ZarrArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3Array.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataLayer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataSource.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/AccessTokenService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataServiceHolder.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSRemoteWebKnossosClient.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/BucketProviderCache.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/DataVaultsHolder.scala
  webknossos-datastore/conf/standalone-datastore.conf
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TSRemoteDatastoreClient.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TSRemoteWebKnossosClient.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/TracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/RemoteFallbackLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: enhancement, backend, refactoring

#7112 Add extended keyboard shortcut mode via ctrl + k for tool shortcuts
  CHANGELOG.unreleased.md
  docs/keyboard_shortcuts.md
  frontend/javascripts/libs/input.ts
  frontend/javascripts/libs/keyboard.ts
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.tsx
  frontend/javascripts/test/helpers/apiHelpers.ts
Labels: enhancement, frontend

#7137 Async IO for HttpsDataVault, Fox Error Handling
  CHANGELOG.unreleased.md
  app/WebKnossosModule.scala
  app/models/binary/credential/CredentialService.scala
  app/models/binary/explore/ExploreRemoteLayerService.scala
  project/Dependencies.scala
  test/backend/DataVaultTestSuite.scala
  util/src/main/scala/com/scalableminds/util/tools/Fox.scala
  util/src/main/scala/com/scalableminds/util/tools/JsonHelper.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/DataStoreModule.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/MagLocator.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/n5/N5BucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/precomputed/PrecomputedBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr/ZarrBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr3/Zarr3BucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/ChunkReader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/DatasetArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/n5/N5Array.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/n5/N5ChunkReader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/precomputed/PrecomputedArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/ZarrArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3Array.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3ChunkReader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/DataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/Encoding.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/FileSystemDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/FileSystemVaultPath.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/GoogleCloudDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/HttpsDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/S3DataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/VaultPath.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/DataVaultService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/DataVaultsHolder.scala
Labels: enhancement, backend, refactoring

#7155 Second try for “Async IO for HttpsDataVault, Fox Error Handling”
  CHANGELOG.unreleased.md
  app/WebKnossosModule.scala
  app/models/binary/credential/CredentialService.scala
  app/models/binary/explore/ExploreRemoteLayerService.scala
  project/Dependencies.scala
  test/backend/DataVaultTestSuite.scala
  util/src/main/scala/com/scalableminds/util/tools/Fox.scala
  util/src/main/scala/com/scalableminds/util/tools/JsonHelper.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/DataStoreModule.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/BucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/MagLocator.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/n5/N5BucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/n5/N5DataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/precomputed/PrecomputedBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/precomputed/PrecomputedDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/wkw/WKWBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/wkw/WKWDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr/ZarrBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr/ZarrDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr3/Zarr3BucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr3/Zarr3DataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/ChunkReader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/DatasetArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/n5/N5Array.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/n5/N5ChunkReader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/precomputed/PrecomputedArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/ZarrArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3Array.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3ChunkReader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/DataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/Encoding.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/FileSystemDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/FileSystemVaultPath.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/GoogleCloudDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/HttpsDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/S3DataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/VaultPath.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataLayer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataServiceHolder.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/DataVaultService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/DataVaultsHolder.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/RemoteSourceDescriptorService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingLayer.scala
Labels: enhancement, backend, refactoring

#7157 Log dataset uploads (with no conversion) to slack
  app/controllers/WKRemoteDataStoreController.scala
  app/models/job/Job.scala
  conf/webknossos.latest.routes
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSRemoteWebKnossosClient.scala
Labels: backend, new feature

#7130 Improve layouting in dataset edit view
  frontend/javascripts/dashboard/dataset/dataset_settings_data_tab.tsx
Labels: automerge

#7008 Added more drawings for empty dashboards
  CHANGELOG.unreleased.md
  frontend/javascripts/components/pricing_enforcers.tsx
  frontend/javascripts/dashboard/dashboard_task_list_view.tsx
  frontend/javascripts/dashboard/dashboard_view.tsx
  frontend/javascripts/dashboard/dataset_folder_view.tsx
  frontend/javascripts/dashboard/dataset_view.tsx
  frontend/javascripts/dashboard/explorative_annotations_view.tsx
  frontend/javascripts/router.tsx
  frontend/stylesheets/_drawings.less
  public/images/drawings/empty-list-annotations.svg
  public/images/drawings/empty-list-dataset-upload.svg
  public/images/drawings/empty-list-public-gallery.svg
  public/images/drawings/empty-list-tasks.svg
Labels: frontend

#7110 Redesign right-hand info sidebar
  CHANGELOG.unreleased.md
  frontend/javascripts/dashboard/folders/details_sidebar.tsx
  frontend/javascripts/oxalis/default_state.ts
  frontend/javascripts/oxalis/model/actions/ui_actions.ts
  frontend/javascripts/oxalis/model/reducers/ui_reducer.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.tsx
  frontend/javascripts/oxalis/view/action-bar/view_dataset_actions_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/dataset_info_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/starting_job_modals.tsx
  frontend/stylesheets/dark.less
  frontend/stylesheets/main.less
  frontend/stylesheets/trace_view/_right_menu.less
  frontend/stylesheets/trace_view/_tracing_view.less
  public/images/icon-downsampling.svg
  public/images/icon-extent.svg
  public/images/icon-keyboard-key.svg
  public/images/icon-mouse-left-drag.svg
  public/images/icon-mouse-left.svg
  public/images/icon-mouse-right.svg
  public/images/icon-mousewheel.svg
  public/images/icon-segments.svg
  public/images/icon-skeletons.svg
  public/images/icon-voxelsize.svg
Labels: frontend

#7169 Add distinction for light mode / dark mode icons for right sidebar where applicable
  .github/common_edge_cases.md
  frontend/javascripts/oxalis/view/right-border-tabs/dataset_info_tab_view.tsx
  frontend/stylesheets/dark.less
  frontend/stylesheets/main.less
  frontend/stylesheets/trace_view/_tracing_view.less
  public/images/icon-downsampling.svg
  public/images/icon-extent.svg
  public/images/icon-keyboard-key-dark.svg
  public/images/icon-keyboard-key-light.svg
  public/images/icon-keyboard-key.svg
  public/images/icon-mouse-left-dark.svg
  public/images/icon-mouse-left-light.svg
  public/images/icon-mouse-left.svg
  public/images/icon-mouse-right-dark.svg
  public/images/icon-mouse-right-light.svg
  public/images/icon-mouse-right.svg
  public/images/icon-mousewheel.svg
  public/images/icon-segments.svg
  public/images/icon-skeletons.svg
  public/images/icon-voxelsize.svg
Labels: enhancement, frontend

#7170 Use s3 auth environment variables if set
  CHANGELOG.unreleased.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/S3DataVault.scala
Labels: backend, new feature

#7111 Remove backbone events
  frontend/javascripts/app.ts
  frontend/javascripts/libs/async_task_queue.ts
  frontend/javascripts/libs/error_handling.ts
  frontend/javascripts/libs/input.ts
  frontend/javascripts/libs/utils.ts
  frontend/javascripts/libs/window.ts
  frontend/javascripts/oxalis/api/api_loader.ts
  frontend/javascripts/oxalis/controller.tsx
  frontend/javascripts/oxalis/controller/scene_controller.ts
  frontend/javascripts/oxalis/controller/segment_mesh_controller.ts
  frontend/javascripts/oxalis/controller/viewmodes/arbitrary_controller.tsx
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.tsx
  frontend/javascripts/oxalis/geometries/cube.ts
  frontend/javascripts/oxalis/geometries/helper_geometries.ts
  frontend/javascripts/oxalis/geometries/materials/plane_material_factory.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/data_cube.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/layer_rendering_manager.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/texture_bucket_manager.ts
  frontend/javascripts/oxalis/model/helpers/listener_helpers.ts
  frontend/javascripts/oxalis/model/helpers/shader_editor.ts
  frontend/javascripts/oxalis/view/arbitrary_view.ts
  frontend/javascripts/oxalis/view/layouting/tracing_layout_view.tsx
  frontend/javascripts/oxalis/view/left-border-tabs/controls_and_rendering_settings_tab.tsx
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
  frontend/javascripts/oxalis/view/plane_view.ts
  frontend/javascripts/oxalis/view/right-border-tabs/abstract_tree_renderer.ts
  frontend/javascripts/oxalis/view/right-border-tabs/skeleton_tab_view.tsx
  frontend/javascripts/test/helpers/apiHelpers.ts
  package.json
  yarn.lock
Labels: frontend, refactoring

#7152 Add table showing artifacts disk space consumption to workflow view
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/voxelytics/artifacts_disk_usage_list.tsx
  frontend/javascripts/admin/voxelytics/artifacts_view.tsx
  frontend/javascripts/admin/voxelytics/dag_view.tsx
  frontend/javascripts/admin/voxelytics/task_list_view.tsx
Labels: enhancement, frontend

#7179 Fix vx artifacts disk usage list
  frontend/javascripts/admin/voxelytics/artifacts_disk_usage_list.tsx
Labels: bug, frontend
