Repository scalableminds/webknossos, pull requests merged in 2023-08, with the labels that each got.

#7231 Show email verification status in users table and make it filterable
  frontend/javascripts/admin/user/user_list_view.tsx
Labels: automerge

#7240 Prevent segmentation id from overflowing
  CHANGELOG.unreleased.md
  frontend/javascripts/dashboard/dataset/dataset_settings_data_tab.tsx
  frontend/javascripts/messages.tsx
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.tsx
  frontend/javascripts/oxalis/model/accessors/dataset_accessor.ts
  frontend/javascripts/oxalis/model/actions/volumetracing_actions.ts
  frontend/javascripts/oxalis/model/reducers/volumetracing_reducer.ts
  frontend/javascripts/oxalis/model/reducers/volumetracing_reducer_helpers.ts
  frontend/javascripts/oxalis/model/sagas/volumetracing_saga.tsx
  frontend/javascripts/oxalis/view/action-bar/toolbar_view.tsx
  frontend/javascripts/oxalis/view/largest_segment_id_modal.tsx
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
  frontend/javascripts/test/reducers/volumetracing_reducer.spec.ts
  frontend/javascripts/types/schemas/dataset_view_configuration_defaults.ts
Labels: bug, frontend

#7205 Add button to save current view configuration as default in view mode
  CHANGELOG.unreleased.md
  docs/datasets.md
  docs/images/save_view_configuration_in_view_mode.png
  frontend/javascripts/dashboard/dataset/color_layer_ordering_component.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_view.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_viewconfig_tab.tsx
  frontend/javascripts/messages.tsx
  frontend/javascripts/oxalis/geometries/materials/plane_material_factory.ts
  frontend/javascripts/oxalis/model/sagas/clip_histogram_saga.ts
  frontend/javascripts/oxalis/model/sagas/load_histogram_data_saga.ts
  frontend/javascripts/oxalis/model/sagas/quick_select_heuristic_saga.ts
  frontend/javascripts/oxalis/model_initialization.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
  frontend/javascripts/test/fixtures/volumetracing_object.ts
  frontend/javascripts/test/schemas/dataset_view_configuration.spec.ts
  frontend/javascripts/types/schemas/dataset_view_configuration.schema.ts
  frontend/javascripts/types/schemas/dataset_view_configuration_defaults.ts
Labels: enhancement, frontend

#7220 Use New Task Terminology in Code
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/RequestHandler.scala
  app/controllers/ProjectController.scala
  app/controllers/ReportController.scala
  app/controllers/StatisticsController.scala
  app/controllers/TaskController.scala
  app/models/project/Project.scala
  app/models/task/CompletionStatus.scala
  app/models/task/Task.scala
  app/models/task/TaskCreationParameters.scala
  app/models/task/TaskCreationService.scala
  app/models/task/TaskService.scala
  app/models/task/TaskStatus.scala
  conf/evolutions/107-task-terminology.sql
  conf/evolutions/reversions/107-task-terminology.sql
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/project/project_list_view.tsx
  frontend/javascripts/admin/statistic/available_tasks_report_view.tsx
  frontend/javascripts/admin/statistic/project_progress_report_view.tsx
  frontend/javascripts/admin/statistic/statistic_view.tsx
  frontend/javascripts/admin/task/task_create_bulk_view.tsx
  frontend/javascripts/admin/task/task_create_form_view.tsx
  frontend/javascripts/admin/task/task_list_view.tsx
  frontend/javascripts/navbar.tsx
  frontend/javascripts/router.tsx
  frontend/javascripts/test/backend-snapshot-tests/projects.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/tasks.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/timetracking.e2e.ts
  frontend/javascripts/test/fixtures/tasktracing_server_objects.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/projects.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/projects.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/tasks.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/tasks.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/timetracking.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/timetracking.e2e.js.snap
  frontend/javascripts/types/api_flow_types.ts
  tools/postgres/schema.sql
Labels: backend, frontend, refactoring

#7262 Assert unique tasktype name aka summary on update
  app/controllers/TaskTypeController.scala
Labels: bug, backend

#7263 Add client_secret to oidc requests
  CHANGELOG.unreleased.md
  app/oxalis/security/OpenIdConnectClient.scala
  app/utils/WkConf.scala
  conf/application.conf
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/rpc/RPCRequest.scala
Labels: enhancement, backend

#7267 Fetch server public key during OIDC auth
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/controllers/AuthenticationController.scala
  app/oxalis/security/OpenIdConnectClient.scala
  app/utils/WkConf.scala
  conf/application.conf
  conf/messages
Labels: enhancement, backend

#7289 Enable layer order manipulation in additive blend mode
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
Labels: enhancement, frontend

#7295 Make layer settings visually consistent
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
Labels: enhancement, frontend
