Repository scalableminds/webknossos, pull requests merged in 2024-03, with the labels that each got.

#7659 Avoid left join fanout effect in annotation list query
  .github/common_edge_cases.md
  CHANGELOG.unreleased.md
  app/models/annotation/Annotation.scala
  app/models/user/User.scala
Labels: bug, backend

#7591 Enable/Disabled worker jobs in frontend
  CHANGELOG.unreleased.md
  app/models/dataset/DataStore.scala
  app/models/dataset/DatasetService.scala
  frontend/javascripts/admin/dataset/dataset_upload_view.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_data_tab.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_view.tsx
  frontend/javascripts/oxalis/default_state.ts
  frontend/javascripts/oxalis/view/action-bar/create_animation_modal.tsx
  frontend/javascripts/oxalis/view/action-bar/download_modal_view.tsx
  frontend/javascripts/oxalis/view/action-bar/toolbar_view.tsx
  frontend/javascripts/oxalis/view/action_bar_view.tsx
  frontend/javascripts/oxalis/view/components/setting_input_views.tsx
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/bounding_box_tab.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
  frontend/javascripts/test/fixtures/skeletontracing_server_objects.ts
  frontend/javascripts/test/fixtures/tasktracing_server_objects.ts
  frontend/javascripts/test/fixtures/volumetracing_server_objects.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/misc.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/misc.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/tasks.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/tasks.e2e.js.snap
  frontend/javascripts/types/api_flow_types.ts
Labels: backend, frontend

#7611 In proofreading, split a segment from all its neighbors
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/oxalis/model/accessors/volumetracing_accessor.ts
  frontend/javascripts/oxalis/model/actions/proofread_actions.ts
  frontend/javascripts/oxalis/model/actions/skeletontracing_actions.tsx
  frontend/javascripts/oxalis/model/sagas/proofread_saga.ts
  frontend/javascripts/oxalis/model/sagas/saga_helpers.ts
  frontend/javascripts/oxalis/view/context_menu.tsx
  frontend/javascripts/oxalis/view/nml_upload_zone_container.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_view.tsx
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingUpdater.scala
  webknossos-tracingstore/conf/com.scalableminds.webknossos.tracingstore.routes
Labels: backend, frontend

#7667 fix styling for sign up view
  frontend/javascripts/admin/auth/registration_view.tsx
Labels: frontend

#7668 Change user limit alert from error to warning
  frontend/javascripts/admin/user/user_list_view.tsx
Labels: frontend

#7676 Small fixes for icon margins and video links
  frontend/javascripts/admin/onboarding.tsx
  frontend/javascripts/admin/welcome_ui.tsx
  frontend/javascripts/dashboard/advanced_dataset/dataset_action_view.tsx
  frontend/javascripts/dashboard/folders/folder_tree.tsx
  frontend/javascripts/navbar.tsx
Labels: frontend

#7549 Lock mapping once the volume annotation was changed by the user
  .gitignore
  CHANGELOG.unreleased.md
  frontend/javascripts/messages.tsx
  frontend/javascripts/oxalis/model/accessors/tool_accessor.ts
  frontend/javascripts/oxalis/model/accessors/volumetracing_accessor.ts
  frontend/javascripts/oxalis/model/actions/volumetracing_actions.ts
  frontend/javascripts/oxalis/model/reducers/volumetracing_reducer.ts
  frontend/javascripts/oxalis/model/reducers/volumetracing_reducer_helpers.ts
  frontend/javascripts/oxalis/model/sagas/quick_select_saga.ts
  frontend/javascripts/oxalis/model/sagas/saga_helpers.ts
  frontend/javascripts/oxalis/model/sagas/update_actions.ts
  frontend/javascripts/oxalis/model/sagas/volume/volume_interpolation_saga.ts
  frontend/javascripts/oxalis/model/sagas/volumetracing_saga.tsx
  frontend/javascripts/oxalis/model_initialization.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/action-bar/toolbar_view.tsx
  frontend/javascripts/oxalis/view/left-border-tabs/mapping_settings_view.tsx
  frontend/javascripts/test/sagas/volumetracing/volumetracing_saga.spec.ts
  frontend/javascripts/types/api_flow_types.ts
  webknossos-datastore/proto/VolumeTracing.proto
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeUpdateActions.scala
Labels: enhancement, backend, frontend

#7687 Store voxelytics log not by organization id but organization name
  CHANGELOG.unreleased.md
  app/controllers/VoxelyticsController.scala
  app/models/voxelytics/LokiClient.scala
  test/backend/Zarr3TestSuite.scala
Labels: backend, infrastructure, refactoring

#7694 Extend JS API with some functionality for managing segments
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/api/api_latest.ts
Labels: frontend

#7693 Remove integration with braintracing databases
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/controllers/AuthenticationController.scala
  app/controllers/OrganizationController.scala
  app/mail/DefaultMails.scala
  app/models/user/UserService.scala
  app/models/user/time/TimeSpanService.scala
  app/thirdparty/BrainTracing.scala
  app/utils/WkConf.scala
  app/views/mail/newUser.scala.html
  app/views/mail/notifyAdminNewUser.scala.html
  conf/application.conf
Labels: backend, refactoring

#7691 Remove outdated REST API docs
  app/controllers/Application.scala
  app/controllers/DatasetController.scala
  app/controllers/TimeController.scala
  docs/index.md
  docs/rest_api.md
Labels: documentation

#7700 Fix antd "info color" and markdown editing issues
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/components/markdown_modal.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/dataset_info_tab_view.tsx
  frontend/javascripts/theme.tsx
Labels: frontend

#7706 Speed up JSON mappings
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/api/api_latest.ts
  frontend/javascripts/oxalis/api/api_v2.ts
  frontend/javascripts/oxalis/merger_mode.ts
  frontend/javascripts/oxalis/model/accessors/dataset_accessor.ts
  frontend/javascripts/oxalis/model/actions/settings_actions.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/data_cube.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/mappings.ts
  frontend/javascripts/oxalis/model/reducers/dataset_reducer.ts
  frontend/javascripts/oxalis/model/reducers/settings_reducer.ts
  frontend/javascripts/oxalis/model/sagas/mapping_saga.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/test/model/binary/cube.spec.ts
  frontend/javascripts/test/sagas/volumetracing/volumetracing_saga.spec.ts
Labels: automerge

#7636 Add e2e test for readable annotations
  frontend/javascripts/test/backend-snapshot-tests/annotations.e2e.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/folders.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/misc.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/projects.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/scripts.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/tasks.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/tasktypes.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/teams.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/timetracking.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/users.e2e.js.snap
Labels: backend, testing

#7524 Refactor Time Tracking API, Revamp TimeTracking Statistics Page
  .github/common_edge_cases.md
  CHANGELOG.unreleased.md
  Dockerfile.dev
  app/controllers/AnnotationController.scala
  app/controllers/StatisticsController.scala
  app/controllers/TimeController.scala
  app/controllers/UserController.scala
  app/models/user/User.scala
  app/models/user/time/Interval.scala
  app/models/user/time/TimeSpan.scala
  app/models/user/time/TimeSpanService.scala
  app/utils/ObjectId.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/statistic/project_and_annotation_type_dropdown.tsx
  frontend/javascripts/admin/statistic/statistic_view.tsx
  frontend/javascripts/admin/statistic/time_tracking_overview.tsx
  frontend/javascripts/admin/time/time_line_chart_view.tsx
  frontend/javascripts/admin/time/time_line_view.tsx
  frontend/javascripts/libs/format_utils.ts
  frontend/javascripts/messages.tsx
  frontend/javascripts/navbar.tsx
  frontend/javascripts/router.tsx
  frontend/javascripts/test/backend-snapshot-tests/timetracking.e2e.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/timetracking.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/timetracking.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/users.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/users.e2e.js.snap
  frontend/javascripts/types/api_flow_types.ts
  frontend/stylesheets/main.less
  package.json
  project/Dependencies.scala
  test/db/timeSpans.csv
  util/src/main/scala/com/scalableminds/util/enumeration/ExtendedEnumeration.scala
  util/src/main/scala/com/scalableminds/util/time/Instant.scala
  util/src/main/scala/com/scalableminds/util/tools/TextUtils.scala
  webpack.config.js
Labels: enhancement, backend, frontend, refactoring

#7722 fix bug that user in url was not selected
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/time/time_line_view.tsx
Labels: bug, frontend
