Repository scalableminds/webknossos, pull requests merged in 2024-10, with the labels that each got.

#8107 Fix creating annotation for public dataset of other orga
  CHANGELOG.unreleased.md
  app/models/annotation/AnnotationService.scala
Labels: bug, backend

#8118 Quickfix materialize volume annotation job via adding default named outputSegmentationLayerName param
  frontend/javascripts/admin/api/jobs.ts
Labels: bug, frontend, worker

#8116 Fix shape in zarr.json in zarr3 streaming
  CHANGELOG.unreleased.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/ZarrStreamingController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3ArrayHeader.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/Zarr3BucketStreamSink.scala
Labels: bug, backend, zarr

#8129 Fix skeleton search
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/actions/skeletontracing_actions.tsx
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer.ts
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer_helpers.ts
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/skeleton_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_renderers.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_view_helpers.ts
Labels: bug, frontend

#8125 Sort mags before streaming them via zarr streaming
  CHANGELOG.unreleased.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/ZarrStreamingController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingZarrStreamingController.scala
Labels: backend

#8133 extend segment search to default name used in segments list
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/accessors/volumetracing_accessor.ts
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
Labels: enhancement, frontend

#8134 Add Github action for nightly tests
  .circleci/config.yml
  .github/workflows/nightly.yml
  CHANGELOG.unreleased.md
  frontend/javascripts/test/puppeteer/dataset_rendering_helpers.ts
  package.json
  yarn.lock
Labels: CI

#8136 Unified annotation restore
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/oxalis/api/api_latest.ts
  frontend/javascripts/oxalis/controller.tsx
  frontend/javascripts/oxalis/default_state.ts
  frontend/javascripts/oxalis/model.ts
  frontend/javascripts/oxalis/model/accessors/annotation_accessor.ts
  frontend/javascripts/oxalis/model/actions/save_actions.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/pushqueue.ts
  frontend/javascripts/oxalis/model/data_layer.ts
  frontend/javascripts/oxalis/model/helpers/compaction/compact_toggle_actions.ts
  frontend/javascripts/oxalis/model/helpers/compaction/compact_update_actions.ts
  frontend/javascripts/oxalis/model/reducers/save_reducer.ts
  frontend/javascripts/oxalis/model/sagas/proofread_saga.ts
  frontend/javascripts/oxalis/model/sagas/save_saga.ts
  frontend/javascripts/oxalis/model/sagas/save_saga_constants.ts
  frontend/javascripts/oxalis/model/sagas/volumetracing_saga.tsx
  frontend/javascripts/oxalis/model_initialization.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/action-bar/save_button.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/dataset_info_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/skeleton_tab_view.tsx
  frontend/javascripts/oxalis/view/version_entry.tsx
  frontend/javascripts/oxalis/view/version_list.tsx
  frontend/javascripts/oxalis/view/version_view.tsx
  frontend/javascripts/types/api_flow_types.ts
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/annotation/AnnotationLayerType.scala
Labels: enhancement, frontend

#8122 OME-Zarr NGFF v0.5 dataset exploration
  CHANGELOG.unreleased.md
  docs/data/zarr.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/NgffMetadataV0_5.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3ArrayHeader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/VaultPath.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/ExploreLocalLayerService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/ExploreRemoteLayerService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/N5ArrayExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/N5MultiscalesExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/NeuroglancerUriExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/NgffExplorationUtils.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/NgffExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/NgffV0_4Explorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/NgffV0_5Explorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/PrecomputedExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/RemoteLayerExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/WebknossosZarrExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/Zarr3ArrayExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/ZarrArrayExplorer.scala
Labels: enhancement, backend

#8142 Activate HTTP API Version 8
  .github/common_edge_cases.md
  app/utils/ApiVersioning.scala
Labels: bug, backend

#8139 Automatically use user token when sharing token is not sufficient for a request
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/api/token.ts
  frontend/javascripts/libs/request.ts
  frontend/javascripts/oxalis/model/sagas/save_saga.ts
  frontend/javascripts/test/sagas/save_saga.spec.ts
Labels: bug, frontend

#8152 Fix bbox export via bbox menu
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/right-border-tabs/bounding_box_tab.tsx
Labels: bug, frontend

#8123 Add button to select all trees and all segments that match a search
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/right-border-tabs/advanced_search_popover.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/skeleton_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_view.tsx
Labels: frontend

#8127 Route to register aiModel
  MIGRATIONS.unreleased.md
  app/controllers/AiModelController.scala
  app/models/aimodels/AiModel.scala
  app/models/aimodels/AiModelCategory.scala
  app/utils/sql/SQLDAO.scala
  conf/evolutions/123-more-model-categories.sql
  conf/evolutions/reversions/123-more-model-categories.sql
  conf/webknossos.latest.routes
  tools/postgres/schema.sql
Labels: backend, new feature

#8155 Allow downloading tasks of teams you are not in
  CHANGELOG.unreleased.md
  app/controllers/AnnotationIOController.scala
Labels: bug, backend
