Repository scalableminds/webknossos, pull requests merged in 2024-09, with the labels that each got.

#8045 Make filePaths for reserve upload route optional
  CHANGELOG.unreleased.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/ComposeService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/UploadService.scala
Labels: bug, backend

#7996 Update Text in Upload Dataset View
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  conf/application.conf
  frontend/javascripts/admin/dataset/dataset_upload_view.tsx
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/misc.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/misc.e2e.js.snap
  frontend/javascripts/types/api_flow_types.ts
Labels: frontend

#8049 Make "Go to center of bounding box" available at one click
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/components/setting_input_views.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/bounding_box_tab.tsx
  frontend/stylesheets/trace_view/_right_menu.less
Labels: frontend

#8061 Upgrade to Yarn 4
  .circleci/config.yml
  .gitignore
  .yarnrc.yml
  CHANGELOG.unreleased.md
  Dockerfile.dev
  package.json
  project/AssetCompilation.scala
  tools/proxy/yarn.lock
  yarn.lock
Labels: frontend

#8048 Update to React 18
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/team/team_list_view.tsx
  frontend/javascripts/admin/voxelytics/ai_model_list_view.tsx
  frontend/javascripts/admin/voxelytics/task_view.tsx
  frontend/javascripts/admin/voxelytics/workflow_list_view.tsx
  frontend/javascripts/components/pricing_enforcers.tsx
  frontend/javascripts/dashboard/dataset/color_layer_ordering_component.tsx
  frontend/javascripts/dashboard/explorative_annotations_view.tsx
  frontend/javascripts/dashboard/folders/folder_tree.tsx
  frontend/javascripts/libs/react_helpers.tsx
  frontend/javascripts/libs/render_independently.tsx
  frontend/javascripts/main.tsx
  frontend/javascripts/oxalis/geometries/materials/plane_material_factory.ts
  frontend/javascripts/oxalis/model/actions/annotation_actions.ts
  frontend/javascripts/oxalis/model/helpers/overwrite_action_middleware.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/action-bar/private_links_view.tsx
  frontend/javascripts/oxalis/view/action-bar/toolbar_view.tsx
  frontend/javascripts/oxalis/view/components/setting_input_views.tsx
  frontend/javascripts/oxalis/view/layouting/flex_layout_wrapper.tsx
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/bounding_box_tab.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/comment_tab/comment_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/connectome_tab/synapse_tree.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_view.tsx
  frontend/javascripts/test/sagas/saga_integration.mock.ts
  frontend/javascripts/test/sagas/saga_integration.spec.ts
  frontend/stylesheets/flex_layout_overwrites.less
  package.json
  yarn.lock
Labels: frontend, dependencies

#8069 Add assertion for no duplicated keys in dataset and folder metadata in update routes
  CHANGELOG.unreleased.md
  app/controllers/DatasetController.scala
  app/controllers/FolderController.scala
  app/utils/MetadataAssertions.scala
  conf/messages
Labels: enhancement, backend

#7643 Do not require binaryData dir to be writable for Compose, orga dir is enough
  frontend/javascripts/admin/dataset/composition_wizard/04_configure_new_dataset.tsx
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/ComposeService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/UploadService.scala
Labels: backend, frontend

#8077 Fix create-mesh-file button
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
Labels: bug, frontend

#8059 Improve performance of Bounding Box Context Menus
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/components/setting_input_views.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/bounding_box_tab.tsx
  frontend/stylesheets/trace_view/_tracing_view.less
Labels: frontend

#7971 Add nd support for tiff export job
  CHANGELOG.unreleased.md
  app/controllers/JobController.scala
  conf/messages
  conf/webknossos.latest.routes
  frontend/javascripts/admin/api/jobs.ts
  frontend/javascripts/admin/job/job_list_view.tsx
  frontend/javascripts/libs/format_utils.ts
  frontend/javascripts/oxalis/view/action-bar/download_modal_view.tsx
  frontend/javascripts/types/api_flow_types.ts
  util/src/main/scala/com/scalableminds/util/geometry/BoundingBox.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/AxisOrder.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/NDBoundingBox.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/ZarrHeader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/AdditionalAxis.scala
Labels: enhancement, backend, frontend

#8085 Remove superfluous _type field when writing zarr3 codec jsons
  CHANGELOG.unreleased.md
  util/src/main/scala/com/scalableminds/util/tools/JsonHelper.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3ArrayHeader.scala
Labels: enhancement, backend

#8084 When reloading layer, also close its meshfiles
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/MeshFileService.scala
Labels: enhancement, backend

#8090 Allow Compose only on Datastores with allowsUpload
  frontend/javascripts/admin/dataset/composition_wizard/04_configure_new_dataset.tsx
Labels: bug, frontend

#7875 Metadata for Segments & Trees
  CHANGELOG.unreleased.md
  app/models/annotation/nml/NmlParser.scala
  app/models/annotation/nml/NmlWriter.scala
  frontend/javascripts/components/fast_tooltip.tsx
  frontend/javascripts/dashboard/explorative_annotations_view.tsx
  frontend/javascripts/dashboard/folders/metadata_table.tsx
  frontend/javascripts/main.tsx
  frontend/javascripts/messages.tsx
  frontend/javascripts/oxalis/api/wk_dev.ts
  frontend/javascripts/oxalis/controller/combinations/volume_handlers.ts
  frontend/javascripts/oxalis/model/actions/skeletontracing_actions.tsx
  frontend/javascripts/oxalis/model/helpers/generate_dummy_trees.ts
  frontend/javascripts/oxalis/model/helpers/nml_helpers.ts
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer.ts
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer_helpers.ts
  frontend/javascripts/oxalis/model/reducers/volumetracing_reducer.ts
  frontend/javascripts/oxalis/model/sagas/skeletontracing_saga.ts
  frontend/javascripts/oxalis/model/sagas/update_actions.ts
  frontend/javascripts/oxalis/model/sagas/volumetracing_saga.tsx
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/components/editable_text_label.tsx
  frontend/javascripts/oxalis/view/components/input_component.tsx
  frontend/javascripts/oxalis/view/components/input_with_update_on_blur.tsx
  frontend/javascripts/oxalis/view/layouting/tracing_layout_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/connectome_tab/connectome_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/metadata_table.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/resizable_split_pane.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segment_list_item.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/skeleton_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_renderers.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_view.tsx
  frontend/javascripts/test/fixtures/skeletontracing_server_objects.ts
  frontend/javascripts/test/fixtures/tasktracing_server_objects.ts
  frontend/javascripts/test/libs/nml.spec.ts
  frontend/javascripts/test/reducers/skeletontracing_reducer.spec.ts
  frontend/javascripts/test/sagas/compact_toggle_actions.spec.ts
  frontend/javascripts/test/sagas/skeletontracing_saga.spec.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.snap
  frontend/javascripts/types/api_flow_types.ts
  frontend/stylesheets/_dashboard.less
  frontend/stylesheets/_utils.less
  frontend/stylesheets/_variables.less
  frontend/stylesheets/antd_overwrites.less
  frontend/stylesheets/dark.less
  frontend/stylesheets/main.less
  frontend/stylesheets/trace_view/_right_menu.less
  test/backend/Dummies.scala
  test/backend/SkeletonUpdateActionsUnitTestSuite.scala
  webknossos-datastore/proto/MetadataEntry.proto
  webknossos-datastore/proto/SkeletonTracing.proto
  webknossos-datastore/proto/VolumeTracing.proto
  webknossos-datastore/proto/geometry.proto
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/MetadataEntry.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/updating/SkeletonUpdateActions.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeUpdateActions.scala
Labels: backend, frontend, new feature

#8094 Fix padding for 3D view buttons and update test screenshots
  frontend/javascripts/test/screenshots-wkorg/l4dense_motta_et_al_demo.png
  frontend/javascripts/test/screenshots/2017-05-31_mSEM_aniso-test.png
  frontend/javascripts/test/screenshots/2017-05-31_mSEM_scMS109_bk_100um_v01-aniso.png
  frontend/javascripts/test/screenshots/Multi-Channel-Test.png
  frontend/javascripts/test/screenshots/ROI2017_wkw.png
  frontend/javascripts/test/screenshots/ROI2017_wkw_fallback.png
  frontend/javascripts/test/screenshots/ROI2017_wkw_with_mapping_astrocyte.png
  frontend/javascripts/test/screenshots/annotation_ROI2017_wkw_fallback_null.png
  frontend/javascripts/test/screenshots/annotation_ROI2017_wkw_fallback_segmentation.png
  frontend/javascripts/test/screenshots/connectome_file_test_dataset.png
  frontend/javascripts/test/screenshots/dsA_2.png
  frontend/javascripts/test/screenshots/float_test_dataset.png
  frontend/javascripts/test/screenshots/kiwi.png
  frontend/javascripts/test/screenshots/test-agglomerate-file_with_mapping_link.png
  frontend/javascripts/test/screenshots/test-agglomerate-file_with_meshes_link.png
  frontend/stylesheets/trace_view/_tracing_view.less
Labels: automerge

#8096 bump sbt plugin versions+protobuf, run codespell
  CHANGELOG.released.md
  conf/evolutions/120-remove-old-organization-id.sql
  frontend/javascripts/oxalis/view/action-bar/private_links_view.tsx
  project/plugins.sbt
Labels: enhancement, backend

#8098 Fix dataset upload for absolute baseFolder paths
  CHANGELOG.unreleased.md
  util/src/main/scala/com/scalableminds/util/io/PathUtils.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
Labels: bug, backend

#8092 Add Summary Row to Time Tracking
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/statistic/time_tracking_overview.tsx
Labels: frontend

#8100 Fix two remaining failing screenshots
  frontend/javascripts/test/screenshots-wkorg/l4dense_motta_et_al_demo.png
  frontend/javascripts/test/screenshots/connectome_file_test_dataset.png
Labels: automerge

#8103 Fix moving non zipped uploaded dataset to target folder
  CHANGELOG.unreleased.md
  conf/messages
  frontend/javascripts/admin/dataset/dataset_add_view.tsx
  util/src/main/scala/com/scalableminds/util/io/PathUtils.scala
Labels: bug, backend
