Repository scalableminds/webknossos, pull requests merged in 2024-05, with the labels that each got.

#7753 Disable UI starting dataset creating jobs for unprivileged users
  CHANGELOG.unreleased.md
  frontend/javascripts/components/permission_enforcer.tsx
  frontend/javascripts/components/secured_route.tsx
  frontend/javascripts/libs/react_helpers.tsx
  frontend/javascripts/oxalis/model/actions/ui_actions.ts
  frontend/javascripts/oxalis/view/action-bar/toolbar_view.tsx
  frontend/javascripts/oxalis/view/action_bar_view.tsx
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
  frontend/javascripts/router.tsx
  frontend/stylesheets/_drawings.less
  frontend/stylesheets/dark.less
  public/images/drawings/forbidden-view-dark.svg
  public/images/drawings/forbidden-view.svg
Labels: enhancement, frontend

#7742 Improve segment proofreading in 3D viewport
  CHANGELOG.unreleased.md
  DEV_INSTALL.md
  docs/keyboard_shortcuts.md
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/api/mesh.ts
  frontend/javascripts/libs/draco.ts
  frontend/javascripts/messages.tsx
  frontend/javascripts/oxalis/constants.ts
  frontend/javascripts/oxalis/controller.tsx
  frontend/javascripts/oxalis/controller/camera_controller.ts
  frontend/javascripts/oxalis/controller/combinations/move_handlers.ts
  frontend/javascripts/oxalis/controller/combinations/skeleton_handlers.ts
  frontend/javascripts/oxalis/controller/combinations/tool_controls.ts
  frontend/javascripts/oxalis/controller/combinations/volume_handlers.ts
  frontend/javascripts/oxalis/controller/scene_controller.ts
  frontend/javascripts/oxalis/controller/segment_mesh_controller.ts
  frontend/javascripts/oxalis/controller/td_controller.tsx
  frontend/javascripts/oxalis/controller/viewmodes/plane_controller.tsx
  frontend/javascripts/oxalis/default_state.ts
  frontend/javascripts/oxalis/geometries/materials/plane_material_factory.ts
  frontend/javascripts/oxalis/model/accessors/dataset_accessor.ts
  frontend/javascripts/oxalis/model/accessors/volumetracing_accessor.ts
  frontend/javascripts/oxalis/model/actions/annotation_actions.ts
  frontend/javascripts/oxalis/model/actions/proofread_actions.ts
  frontend/javascripts/oxalis/model/actions/segmentation_actions.ts
  frontend/javascripts/oxalis/model/actions/ui_actions.ts
  frontend/javascripts/oxalis/model/actions/view_mode_actions.ts
  frontend/javascripts/oxalis/model/actions/volumetracing_actions.ts
  frontend/javascripts/oxalis/model/reducers/annotation_reducer.ts
  frontend/javascripts/oxalis/model/reducers/ui_reducer.ts
  frontend/javascripts/oxalis/model/reducers/view_mode_reducer.ts
  frontend/javascripts/oxalis/model/reducers/volumetracing_reducer.ts
  frontend/javascripts/oxalis/model/reducers/volumetracing_reducer_helpers.ts
  frontend/javascripts/oxalis/model/sagas/mesh_saga.ts
  frontend/javascripts/oxalis/model/sagas/proofread_saga.ts
  frontend/javascripts/oxalis/model/sagas/settings_saga.ts
  frontend/javascripts/oxalis/model/sagas/update_actions.ts
  frontend/javascripts/oxalis/shaders/main_data_shaders.glsl.ts
  frontend/javascripts/oxalis/shaders/segmentation.glsl.ts
  frontend/javascripts/oxalis/shaders/texture_access.glsl.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/context_menu.tsx
  frontend/javascripts/oxalis/view/layouting/tracing_layout_view.tsx
  frontend/javascripts/oxalis/view/plane_view.ts
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
  frontend/javascripts/oxalis/view/statusbar.tsx
  frontend/javascripts/test/helpers/apiHelpers.ts
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/AgglomerateService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/MeshFileService.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingUpdateActions.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingUpdater.scala
  webknossos-tracingstore/conf/com.scalableminds.webknossos.tracingstore.routes
  webpack.config.js
Labels: enhancement, backend, frontend

#7733 Improve time tracking overview
  CHANGELOG.unreleased.md
  app/controllers/TimeController.scala
  app/models/user/time/TimeSpan.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/statistic/time_tracking_detail_view.tsx
  frontend/javascripts/admin/statistic/time_tracking_overview.tsx
  frontend/javascripts/admin/time/time_line_chart_view.tsx
  frontend/javascripts/admin/time/time_line_view.tsx
  frontend/javascripts/components/fixed_expandable_table.tsx
  frontend/javascripts/dashboard/explorative_annotations_view.tsx
  frontend/javascripts/libs/utils.ts
  frontend/javascripts/navbar.tsx
  frontend/javascripts/oxalis/model/accessors/annotation_accessor.ts
  frontend/javascripts/oxalis/view/right-border-tabs/dataset_info_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segment_statistics_modal.tsx
  frontend/javascripts/router.tsx
  frontend/javascripts/test/backend-snapshot-tests/timetracking.e2e.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/timetracking.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/timetracking.e2e.js.snap
  frontend/javascripts/types/api_flow_types.ts
  frontend/stylesheets/_google-charts-overwrites.less
  frontend/stylesheets/main.less
  package.json
  util/src/main/scala/com/scalableminds/util/tools/JsonHelper.scala
  yarn.lock
Labels: enhancement, backend, frontend

#7785 Fix annotation count in timetracking overview
  app/models/user/time/TimeSpan.scala
Labels: bug, backend

#7786 Show timetracking page to non-privileged users again
  frontend/javascripts/router.tsx
Labels: bug, frontend

#7787 Fix timespan summing for annotations due to annotationLayer join
  CHANGELOG.unreleased.md
  app/models/user/time/TimeSpan.scala
Labels: bug, backend

#7766 reserveManualUpload Datastore Route
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/UploadService.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
Labels: backend, new feature

#7793 Fix visual flickering effect upon toast reopening
  CHANGELOG.unreleased.md
  frontend/javascripts/libs/toast.tsx
Labels: bug, frontend

#7791 Assert unique volume layer names when parsing NML
  app/models/annotation/nml/NmlParser.scala
  conf/messages
Labels: bug, backend

#7770 Unify SQL Query Style
  app/controllers/Application.scala
  app/controllers/ReportController.scala
  app/models/annotation/Annotation.scala
  app/models/annotation/AnnotationPrivateLink.scala
  app/models/annotation/TracingStore.scala
  app/models/dataset/DataStore.scala
  app/models/dataset/Dataset.scala
  app/models/dataset/Publication.scala
  app/models/dataset/credential/CredentialDAO.scala
  app/models/folder/Folder.scala
  app/models/job/Job.scala
  app/models/mesh/Mesh.scala
  app/models/organization/Organization.scala
  app/models/project/Project.scala
  app/models/shortlinks/ShortLink.scala
  app/models/task/Script.scala
  app/models/task/Task.scala
  app/models/task/TaskType.scala
  app/models/team/Team.scala
  app/models/user/EmailVerificationKey.scala
  app/models/user/Invite.scala
  app/models/user/MultiUser.scala
  app/models/user/User.scala
  app/models/user/time/TimeSpan.scala
  app/models/voxelytics/VoxelyticsDAO.scala
  app/security/Token.scala
  app/utils/sql/SecuredSQLDAO.scala
Labels: backend, refactoring

#7796 Fix sql typo in publicationDAO
  app/models/dataset/Dataset.scala
Labels: bug, backend

#7789 Timetracking Overview Improvements
  CHANGELOG.unreleased.md
  app/controllers/TimeController.scala
  app/models/user/time/TimeSpan.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/statistic/project_and_annotation_type_dropdown.tsx
  frontend/javascripts/admin/statistic/time_tracking_detail_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/dataset_info_tab_view.tsx
Labels: enhancement, backend, frontend

#7782 Minor Upgrades for Backend Dependencies
  CHANGELOG.unreleased.md
  project/Dependencies.scala
  project/plugins.sbt
  test/backend/DataVaultTestSuite.scala
Labels: backend, refactoring

#7772 Refactor Antd Table columns
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/task/task_list_view.tsx
  frontend/javascripts/components/fixed_expandable_table.tsx
  frontend/javascripts/dashboard/advanced_dataset/dataset_table.tsx
Labels: frontend

#7799 Fix cubeSize + padding for non-mag1 ad-hoc meshes
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/oxalis/model/sagas/mesh_saga.ts
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
Labels: bug, backend, frontend

#7803 Fix timetracking table colums
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/statistic/time_tracking_overview.tsx
  frontend/javascripts/components/fixed_expandable_table.tsx
Labels: bug, urgent, frontend

#7792 Remove the await in NmlParser/AnnotationUploadService
  app/controllers/AnnotationIOController.scala
  app/models/annotation/AnnotationUploadService.scala
  app/models/annotation/nml/NmlParser.scala
  app/models/dataset/WKRemoteDataStoreClient.scala
  test/backend/NMLUnitTestSuite.scala
Labels: backend, refactoring

#7806 adapt ad-hoc mesh screenshot test to new chunksize
  frontend/javascripts/test/screenshots/test-agglomerate-file_with_meshes_link.png
Labels: testing, automerge

#7807 codespell follow-up
  .codespellrc
  frontend/javascripts/oxalis/model/sagas/volume/volume_interpolation_saga.ts
  frontend/javascripts/oxalis/view/left-border-tabs/histogram_view.tsx
  frontend/javascripts/test/sagas/volumetracing/bucket_eviction_with_saving.spec.ts
  frontend/javascripts/test/sagas/volumetracing/bucket_eviction_without_saving.spec.ts
  frontend/javascripts/test/sagas/volumetracing/volumetracing_saga_integration.spec.ts
  util/src/main/scala/com/scalableminds/util/mvc/ExtendedController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/ChunkTyper.scala
Labels: refactoring, automerge

#7768 Add upgrade motivation banner
  CHANGELOG.unreleased.md
  frontend/javascripts/banners.tsx
  frontend/javascripts/libs/format_utils.ts
  frontend/javascripts/libs/utils.ts
  frontend/javascripts/navbar.tsx
  frontend/javascripts/oxalis/constants.ts
  frontend/javascripts/oxalis/view/action-bar/starting_job_modals.tsx
  frontend/stylesheets/trace_view/_tracing_view.less
Labels: frontend

#7810 Trim firstName, lastName in the register form
  frontend/javascripts/admin/auth/registration_form_generic.tsx
  frontend/javascripts/admin/auth/registration_form_wkorg.tsx
Labels: enhancement, frontend

#7808 Clean up code for user compact list
  app/controllers/UserController.scala
  app/models/user/User.scala
  app/models/user/UserService.scala
  app/utils/sql/SQLDAO.scala
Labels: backend, refactoring

#7809 Fix context menu for skeletons in 3d viewport
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/controller/td_controller.tsx
Labels: bug, frontend

#7816 Fix dragging annotation into a different orga’s dataset
  CHANGELOG.unreleased.md
  app/controllers/AnnotationIOController.scala
  app/models/annotation/AnnotationUploadService.scala
  app/models/annotation/nml/NmlParser.scala
  frontend/javascripts/oxalis/view/layouting/tracing_layout_view.tsx
  test/backend/NMLUnitTestSuite.scala
Labels: enhancement, backend, frontend

#7813 Bump frontend deps
  frontend/javascripts/admin/tasktype/task_type_list_view.tsx
  frontend/javascripts/admin/voxelytics/task_view.tsx
  frontend/javascripts/components/legal.tsx
  frontend/javascripts/components/text_with_description.tsx
  frontend/javascripts/dashboard/dashboard_task_list_view.tsx
  frontend/javascripts/dashboard/publication_card.tsx
  frontend/javascripts/libs/lazy_loader.tsx
  frontend/javascripts/libs/markdown_adapter.tsx
  frontend/javascripts/oxalis/view/components/editable_text_label.tsx
  frontend/javascripts/oxalis/view/components/markdown_modal.tsx
  frontend/javascripts/oxalis/view/new_task_description_modal.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/dataset_info_tab_view.tsx
  frontend/javascripts/oxalis/workers/readme.md
  frontend/javascripts/router.tsx
  frontend/javascripts/types/react-remarkable.d.ts
  package.json
  webpack.config.js
  yarn.lock
Labels: enhancement, frontend

#7834 Fix message for segments missing in meshfile
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSFullMeshService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/MeshFileService.scala
Labels: backend

#7822 Persist mappingName and mappingIsLocked in NML
  CHANGELOG.unreleased.md
  app/models/annotation/nml/NmlParser.scala
  app/models/annotation/nml/NmlVolumeTag.scala
  app/models/annotation/nml/NmlWriter.scala
Labels: enhancement, backend

#7838 Fix NML download with skipVolumeData
  app/models/annotation/nml/NmlWriter.scala
Labels: bug, backend

#7682 Manage AI Model Trainings + Inference
  DEV_INSTALL.md
  MIGRATIONS.unreleased.md
  app/controllers/AiModelController.scala
  app/controllers/JobController.scala
  app/controllers/WKRemoteWorkerController.scala
  app/models/aimodels/AiInference.scala
  app/models/aimodels/AiModel.scala
  app/models/aimodels/AiModelCategory.scala
  app/models/job/Job.scala
  app/models/job/JobCommand.scala
  app/models/job/JobService.scala
  conf/evolutions/114-ai-models.sql
  conf/evolutions/reversions/114-ai-models.sql
  conf/messages
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/api/api_utils.ts
  frontend/javascripts/admin/api/jobs.ts
  frontend/javascripts/admin/job/job_list_view.tsx
  frontend/javascripts/admin/voxelytics/ai_model_list_view.tsx
  frontend/javascripts/components/async_clickables.tsx
  frontend/javascripts/components/layer_selection.tsx
  frontend/javascripts/libs/format_utils.ts
  frontend/javascripts/libs/react_helpers.tsx
  frontend/javascripts/libs/utils.ts
  frontend/javascripts/navbar.tsx
  frontend/javascripts/oxalis/model/accessors/volumetracing_accessor.ts
  frontend/javascripts/oxalis/view/action-bar/create_animation_modal.tsx
  frontend/javascripts/oxalis/view/action-bar/download_modal_view.tsx
  frontend/javascripts/oxalis/view/action-bar/starting_job_modals.tsx
  frontend/javascripts/oxalis/view/jobs/train_ai_model.tsx
  frontend/javascripts/router.tsx
  frontend/javascripts/types/api_flow_types.ts
  tools/postgres/dbtool.js
  tools/postgres/schema.sql
Labels: backend, frontend, new feature, jobs

#7801 Add option to lock explorative annotations
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/controllers/AnnotationController.scala
  app/models/annotation/Annotation.scala
  app/models/annotation/AnnotationRestrictions.scala
  app/models/annotation/AnnotationService.scala
  conf/evolutions/115-annotation-locked-by-user.sql
  conf/evolutions/reversions/115-annotation-locked-by-user.sql
  conf/messages
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/components/async_clickables.tsx
  frontend/javascripts/dashboard/explorative_annotations_view.tsx
  frontend/javascripts/messages.tsx
  frontend/javascripts/navbar.tsx
  frontend/javascripts/oxalis/default_state.ts
  frontend/javascripts/oxalis/model/accessors/annotation_accessor.ts
  frontend/javascripts/oxalis/model/reducers/reducer_helpers.ts
  frontend/javascripts/oxalis/model/reducers/volumetracing_reducer_helpers.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/action-bar/share_modal_view.tsx
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.tsx
  frontend/javascripts/oxalis/view/components/categorization_label.tsx
  frontend/javascripts/oxalis/view/components/setting_input_views.tsx
  frontend/javascripts/oxalis/view/left-border-tabs/mapping_settings_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/bounding_box_tab.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/comment_tab/comment_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/skeleton_tab_view.tsx
  frontend/javascripts/test/fixtures/skeletontracing_server_objects.ts
  frontend/javascripts/test/fixtures/tasktracing_server_objects.ts
  frontend/javascripts/test/fixtures/volumetracing_server_objects.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/tasks.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/tasks.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/libs/nml.spec.js.snap
  frontend/javascripts/types/api_flow_types.ts
  frontend/stylesheets/_utils.less
  test/db/annotations.csv
  tools/postgres/schema.sql
Labels: backend, frontend, new feature

#7842 Only notify project owner on project overtime
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/mail/DefaultMails.scala
  app/models/organization/Organization.scala
  app/models/organization/OrganizationService.scala
  app/models/user/time/TimeSpanService.scala
  conf/evolutions/116-drop-overtimemailinglist.sql
  conf/evolutions/reversions/116-drop-overtimemailinglist.sql
  test/db/organizations.csv
  tools/postgres/schema.sql
Labels: enhancement, backend

#7847 Fix lock explorative annotations
  .gitignore
  frontend/javascripts/dashboard/explorative_annotations_view.tsx
Labels: enhancement, frontend

#7848 Tiny Fixes for docs and icon margins
  docs/sharing.md
  frontend/javascripts/oxalis/view/action-bar/share_modal_view.tsx
Labels: frontend
