Repository scalableminds/webknossos, pull requests merged in 2024-07, with the labels that each got.

#7909 (Re-)Center login forms [not urgent]
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/auth/login_view.tsx
  frontend/javascripts/components/brain_spinner.tsx
  frontend/stylesheets/main.less
Labels: bug, frontend

#7916 Only show train job info in actions column on success of the job
  frontend/javascripts/admin/job/job_list_view.tsx
Labels: bug, frontend

#7920 Segment name in contextmenu of dataviewport
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/context_menu.tsx
Labels: frontend

#7921 Only show wrong mesh scale warning in console if not matching to any segmentation layer resolution
  CHANGELOG.unreleased.md
  frontend/javascripts/libs/utils.ts
  frontend/javascripts/oxalis/model/sagas/mesh_saga.ts
Labels: enhancement, frontend

#7892 Bounding Box tool improvements
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/controller/combinations/bounding_box_handlers.ts
  frontend/javascripts/oxalis/controller/combinations/tool_controls.ts
  frontend/javascripts/oxalis/model/accessors/view_mode_accessor.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/bounding_box.ts
  frontend/javascripts/oxalis/model/reducers/annotation_reducer.ts
  package.json
Labels: bug, enhancement, frontend

#7922 Minor upgrades for backend dependencies, scala, sbt, run codespell
  .codespellrc
  CHANGELOG.released.md
  CHANGELOG.unreleased.md
  build.sbt
  frontend/javascripts/navbar.tsx
  project/Dependencies.scala
  project/build.properties
  util/src/main/scala/com/scalableminds/util/cache/LRUConcurrentCache.scala
  util/src/main/scala/com/scalableminds/util/tools/Fox.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataSource.scala
Labels: backend, refactoring

#7923 Forbid editing other orga’s public annotations
  CHANGELOG.unreleased.md
  app/models/annotation/AnnotationRestrictions.scala
Labels: bug, backend

#7912 Recursive exploration of remote datasets
  CHANGELOG.unreleased.md
  docs/datasets.md
  frontend/javascripts/admin/dataset/dataset_add_remote_view.tsx
  package.json
  test/backend/DataVaultTestSuite.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/DataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/FileSystemDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/GoogleCloudDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/HttpsDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/S3DataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/VaultPath.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/ExploreRemoteLayerService.scala
Labels: backend, new feature

#7942 Fix sandbox annotation api route
  app/models/annotation/AnnotationRestrictions.scala
Labels: bug, backend, CI

#7948 Tiny fixes
  frontend/javascripts/admin/voxelytics/task_list_view.tsx
  frontend/javascripts/oxalis/view/action-bar/create_animation_modal.tsx
Labels: frontend

#7935 Show clicked Bounding Box in BB-Tab
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/controller/combinations/tool_controls.ts
  frontend/javascripts/oxalis/default_state.ts
  frontend/javascripts/oxalis/model/actions/ui_actions.ts
  frontend/javascripts/oxalis/model/reducers/annotation_reducer.ts
  frontend/javascripts/oxalis/model/reducers/ui_reducer.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/components/setting_input_views.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/bounding_box_tab.tsx
  frontend/stylesheets/trace_view/_right_menu.less
Labels: frontend, new feature

#7954 Lower z-index for "Remove layer" trashcans in remote dataset import
  CHANGELOG.unreleased.md
  frontend/javascripts/dashboard/dataset/dataset_settings_data_tab.tsx
Labels: frontend, low-hanging-fruit

#7950 Auto-expand relevant groups when focussing segment
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/reducers/volumetracing_reducer.ts
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
Labels: frontend
