Repository scalableminds/webknossos, pull requests merged in 2024-08, with the labels that each got.

#7963 More compact repeated logging
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/Application.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/RedisTemporaryStore.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/Application.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/FossilDBClient.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/TracingDataStore.scala
Labels: backend

#7964 support reading zstd-compressed zarr2 datasets
  CHANGELOG.unreleased.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/ZarrCompressorFactory.scala
Labels: enhancement, backend

#7902 Allow supplying custom workflow yaml for infer_with_model job
  app/controllers/AiModelController.scala
  app/controllers/JobController.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/api/jobs.ts
  frontend/javascripts/admin/job/job_list_view.tsx
  frontend/javascripts/oxalis/view/action-bar/default-predict-workflow-template.ts
  frontend/javascripts/oxalis/view/action-bar/starting_job_modals.tsx
  frontend/javascripts/oxalis/view/jobs/train_ai_model.tsx
  util/src/main/scala/com/scalableminds/util/requestlogging/RequestLogging.scala
Labels: backend, frontend, jobs

#7972 Revert "Allow supplying custom workflow yaml for infer_with_model job"
  app/controllers/AiModelController.scala
  app/controllers/JobController.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/api/jobs.ts
  frontend/javascripts/admin/job/job_list_view.tsx
  frontend/javascripts/oxalis/view/action-bar/default-predict-workflow-template.ts
  frontend/javascripts/oxalis/view/action-bar/starting_job_modals.tsx
  frontend/javascripts/oxalis/view/jobs/train_ai_model.tsx
  util/src/main/scala/com/scalableminds/util/requestlogging/RequestLogging.scala
Labels: bug, worker

#7970 Convert to wkw unit support
  CHANGELOG.unreleased.md
  app/controllers/JobController.scala
  frontend/javascripts/admin/dataset/dataset_upload_view.tsx
Labels: enhancement, backend, frontend

#7819 Refactor Skeletontree tab as Antd <Tree /> component
  CHANGELOG.unreleased.md
  app/models/annotation/AnnotationUploadService.scala
  app/models/annotation/nml/NmlParser.scala
  app/models/annotation/nml/NmlWriter.scala
  frontend/javascripts/oxalis/model/accessors/skeletontracing_accessor.ts
  frontend/javascripts/oxalis/model/helpers/nml_helpers.ts
  frontend/javascripts/oxalis/shaders/utils.glsl.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/action-bar/toolbar_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/advanced_search_popover.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/comment_tab/comment_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segment_list_item.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/skeleton_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/tree_hierarchy_view_helpers.ts
  frontend/javascripts/test/libs/nml.spec.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/libs/nml.spec.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/libs/nml.spec.js.snap
  frontend/javascripts/theme.tsx
  frontend/stylesheets/dark.less
  frontend/stylesheets/main.less
  frontend/stylesheets/react_sortable_tree_overwrites.less
  frontend/stylesheets/trace_view/_right_menu.less
  package.json
  test/backend/Dummies.scala
  test/backend/NMLUnitTestSuite.scala
  test/backend/SkeletonUpdateActionsUnitTestSuite.scala
  webknossos-datastore/proto/SkeletonTracing.proto
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/updating/SkeletonUpdateActionHelper.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/updating/UpdateActionTreeGroup.scala
  yarn.lock
Labels: frontend, refactoring

#7974 Virtualize Bounding Box List
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/right-border-tabs/bounding_box_tab.tsx
  frontend/stylesheets/trace_view/_right_menu.less
Labels: frontend

#7975 Don't display "Fill segment" option if editable mapping is active
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/sagas/volumetracing_saga.tsx
  frontend/javascripts/oxalis/view/context_menu.tsx
Labels: bug, frontend

#7979 Register all segments in a bounding box
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/api/api_latest.ts
  frontend/javascripts/oxalis/constants.ts
  frontend/javascripts/oxalis/view/components/setting_input_views.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/bounding_box_tab.tsx
  frontend/stylesheets/trace_view/_right_menu.less
Labels: frontend

#7941 Add zarr3 streaming v0
  CHANGELOG.unreleased.md
  conf/messages
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/ZarrStreamingController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/layers/ZarrDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr/ZarrCoordinatesParser.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/NgffMetadata.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/NgffMetadataV0_5.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/SharedNgffMetadataAttributes.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3ArrayHeader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3GroupHeader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/NgffExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/ZarrArrayExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSRemoteTracingstoreClient.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingZarrStreamingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/Zarr3BucketStreamSink.scala
  webknossos-tracingstore/conf/com.scalableminds.webknossos.tracingstore.routes
Labels: backend, new feature

#7995 Readd zarr3 streaming v0
  CHANGELOG.unreleased.md
  conf/messages
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/ZarrStreamingController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/layers/ZarrDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr/ZarrCoordinatesParser.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/NgffMetadata.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/NgffMetadataV0_5.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr/SharedNgffMetadataAttributes.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3ArrayHeader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/zarr3/Zarr3GroupHeader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/NgffExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/ZarrArrayExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSRemoteTracingstoreClient.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingZarrStreamingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/Zarr3BucketStreamSink.scala
  webknossos-tracingstore/conf/com.scalableminds.webknossos.tracingstore.routes
Labels: backend, new feature

#7998 Extend JS API with createNode functionality and refactor
  CHANGELOG.unreleased.md
  frontend/javascripts/libs/utils.ts
  frontend/javascripts/oxalis/api/api_latest.ts
  frontend/javascripts/oxalis/api/api_v2.ts
  frontend/javascripts/oxalis/controller/combinations/skeleton_handlers.ts
  frontend/javascripts/oxalis/controller/combinations/tool_controls.ts
  frontend/javascripts/oxalis/controller/td_controller.tsx
  frontend/javascripts/oxalis/controller/url_manager.ts
  frontend/javascripts/oxalis/controller/viewmodes/arbitrary_controller.tsx
  frontend/javascripts/oxalis/model/accessors/skeletontracing_accessor.ts
  frontend/javascripts/oxalis/model/actions/skeletontracing_actions.tsx
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer.ts
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer_helpers.ts
  frontend/javascripts/oxalis/model/sagas/skeletontracing_saga.ts
  frontend/javascripts/oxalis/view/action-bar/toolbar_view.tsx
  frontend/javascripts/oxalis/view/context_menu.tsx
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/comment_tab/comment_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/skeleton_tab_view.tsx
  frontend/javascripts/test/sagas/skeletontracing_saga.spec.ts
Labels: frontend, new feature, refactoring

#8008 detect neuroglancer precomputed and n5 datasets as needsConversion=false
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/dataset/dataset_upload_view.tsx
Labels: bug, frontend

#8007 Upgrade ant icons to 5.4
  CHANGELOG.unreleased.md
  frontend/stylesheets/iconfont/iconfont.eot
  frontend/stylesheets/iconfont/iconfont.svg
  frontend/stylesheets/iconfont/iconfont.ttf
  frontend/stylesheets/iconfont/iconfont.woff
  frontend/stylesheets/main.less
  package.json
  yarn.lock
Labels: frontend

#7993 Allow click prompt for SAM 2
  CHANGELOG.unreleased.md
  app/controllers/DatasetController.scala
  app/models/dataset/WKRemoteSegmentAnythingClient.scala
  docs/tutorial_volume_annotation.md
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/app.ts
  frontend/javascripts/oxalis/api/cross_origin_api.ts
  frontend/javascripts/oxalis/api/wk_dev.ts
  frontend/javascripts/oxalis/controller.tsx
  frontend/javascripts/oxalis/controller/combinations/tool_controls.ts
  frontend/javascripts/oxalis/model/actions/volumetracing_actions.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/bucket_picker_strategies/oblique_bucket_picker.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/texture_bucket_manager.ts
  frontend/javascripts/oxalis/model/sagas/mesh_saga.ts
  frontend/javascripts/oxalis/model/sagas/prefetch_saga.ts
  frontend/javascripts/oxalis/model/sagas/quick_select_heuristic_saga.ts
  frontend/javascripts/oxalis/model/sagas/quick_select_ml_saga.ts
  frontend/javascripts/oxalis/model/sagas/quick_select_saga.ts
  frontend/javascripts/oxalis/view/action-bar/quick_select_settings.tsx
  frontend/javascripts/oxalis/view/action-bar/toolbar_view.tsx
  frontend/javascripts/oxalis/view/input_catcher.tsx
  frontend/javascripts/types/globals.d.ts
Labels: backend, frontend, new feature

#8015 keep asset timestamps from filesystem when building jar
  build.sbt
Labels: backend

#7976 Add missing info in datasource-properties.json to Zarr v2 route
  app/models/annotation/AnnotationService.scala
  conf/messages
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/ZarrStreamingController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr/Zarr3OutputHelper.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr/ZarrCoordinatesParser.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/AxisOrder.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSRemoteTracingstoreClient.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingZarrStreamingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/Zarr3BucketStreamSink.scala
Labels: enhancement, backend

#8011 Include vx workflow link in slack notification for jobs that have one
  app/models/job/Job.scala
  app/models/job/JobService.scala
Labels: enhancement, backend, low-hanging-fruit

#8022 Fix active tree's comments not getting scrolled into view when switching to comments tab
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/components/dom_visibility_observer.ts
  frontend/javascripts/oxalis/view/right-border-tabs/comment_tab/comment_tab_view.tsx
  tools/postgres/schema.sql
Labels: bug, frontend

#7981 Allow to continue upload after browser restart for same user
  CHANGELOG.unreleased.md
  app/controllers/DatasetController.scala
  app/controllers/WKRemoteDataStoreController.scala
  app/models/dataset/Dataset.scala
  app/models/dataset/DatasetService.scala
  conf/messages
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/dataset/dataset_components.tsx
  frontend/javascripts/admin/dataset/dataset_upload_view.tsx
  package.json
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/UnfinishedUpload.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSRemoteWebknossosClient.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/ComposeService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/UploadService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/RedisTemporaryStore.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
Labels: backend, frontend, new feature

#7765 Update React to v17
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/statistic/time_tracking_overview.tsx
  frontend/javascripts/dashboard/advanced_dataset/dataset_table.tsx
  frontend/javascripts/dashboard/dataset_view.tsx
  frontend/javascripts/dashboard/folders/folder_tree.tsx
  frontend/javascripts/navbar.tsx
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.tsx
  frontend/javascripts/oxalis/view/action-bar/view_dataset_actions_view.tsx
  frontend/javascripts/oxalis/view/context_menu.tsx
  frontend/javascripts/oxalis/view/help_modal.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segment_list_item.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
  frontend/javascripts/test/backend-snapshot-tests/annotations.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/datasets.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/folders.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/misc.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/projects.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/scripts.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/tasks.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/tasktypes.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/teams.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/teamstructure.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/timetracking.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/users.e2e.ts
  frontend/javascripts/test/e2e-setup.ts
  package.json
  yarn.lock
Labels: frontend, dependencies

#8028 save some io when loading oversegmentation meshfiles
  util/src/main/scala/com/scalableminds/util/time/Instant.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/DataStoreModule.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DSMeshController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSFullMeshService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/MeshFileService.scala
Labels: backend, performance, mesh

#8035 Fix double triggering advanced checkbox of AI Training Modal
  frontend/javascripts/oxalis/view/jobs/train_ai_model.tsx
Labels: bug, frontend

#7886 Folder And Dataset Metadata
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/controllers/DatasetController.scala
  app/controllers/FolderController.scala
  app/controllers/InitialDataController.scala
  app/models/dataset/Dataset.scala
  app/models/dataset/DatasetService.scala
  app/models/folder/Folder.scala
  app/models/organization/OrganizationService.scala
  conf/evolutions/119-add-metadata-to-folders-and-datasets.sql
  conf/evolutions/reversions/119-add-metadata-to-folders-and-datasets.sql
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/dashboard/advanced_dataset/dataset_table.tsx
  frontend/javascripts/dashboard/dataset/dataset_collection_context.tsx
  frontend/javascripts/dashboard/dataset/queries.tsx
  frontend/javascripts/dashboard/folders/details_sidebar.tsx
  frontend/javascripts/dashboard/folders/folder_tree.tsx
  frontend/javascripts/dashboard/folders/metadata_table.tsx
  frontend/javascripts/dashboard/publication_card.tsx
  frontend/javascripts/dashboard/publication_view.tsx
  frontend/javascripts/libs/react_hooks.ts
  frontend/javascripts/oxalis/default_state.ts
  frontend/javascripts/oxalis/view/right-border-tabs/bounding_box_tab.tsx
  frontend/javascripts/test/backend-snapshot-tests/folders.e2e.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/datasets.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/folders.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/folders.e2e.js.snap
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/libs/nml.spec.js.snap
  frontend/javascripts/types/api_flow_types.ts
  frontend/stylesheets/_dashboard.less
  public/images/metadata-teaser.svg
  test/db/dataSets.csv
  test/db/folders.csv
  tools/postgres/schema.sql
Labels: backend, frontend, new feature

#8042 Fix zarr2 header in streaming
  conf/evolutions/120-remove-old-organization-id.sql
  tools/postgres/schema.sql
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/ZarrStreamingController.scala
Labels: bug, backend
