Repository scalableminds/webknossos, pull requests merged in 2024-04, with the labels that each got.

#7690 Rename some more instances of dataSet to dataset
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/controllers/AuthenticationController.scala
  app/models/analytics/AnalyticsEvent.scala
  app/models/annotation/AnnotationService.scala
  app/models/dataset/WKRemoteDataStoreClient.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/oxalis/model/reducers/flycam_reducer.ts
  frontend/javascripts/oxalis/model/scaleinfo.ts
  frontend/javascripts/oxalis/view/context_menu.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segment_statistics_modal.tsx
  frontend/javascripts/router.tsx
  frontend/javascripts/test/backend-snapshot-tests/annotations.e2e.ts
  frontend/javascripts/test/model/binary/layers/wkstore_adapter.spec.ts
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/ZarrStreamingController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/annotation/AnnotationSource.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSRemoteWebknossosClient.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TSRemoteDatastoreClient.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/RemoteFallbackLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingService.scala
Labels: backend, frontend, refactoring

#7731 Remove unused datastore route colorStatistics
  frontend/javascripts/admin/admin_rest_api.ts
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/BinaryDataController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/FindDataService.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
Labels: backend, frontend, refactoring

#7737 Improve error message for largest segment id that exceeds dtype range
  app/models/annotation/AnnotationService.scala
  conf/messages
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/TracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/SkeletonTracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: backend

#7738 fix dataset reload button in case of invalid json
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
Labels: bug, backend

#7721 Fix that teamless users were not listed
  CHANGELOG.unreleased.md
  app/models/user/User.scala
Labels: bug, backend

#7739 Adapt screenshot tests to new meshfile
  frontend/javascripts/test/puppeteer/dataset_rendering.screenshot.ts
  frontend/javascripts/test/screenshots/test-agglomerate-file_with_meshes_link.png
Labels: testing, CI

#7702 Refactored several admin views into React functional components
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/job/job_list_view.tsx
  frontend/javascripts/admin/onboarding.tsx
  frontend/javascripts/admin/organization/organization_edit_view.tsx
  frontend/javascripts/admin/project/project_list_view.tsx
  frontend/javascripts/admin/project/transfer_all_tasks_modal.tsx
  frontend/javascripts/admin/scripts/script_list_view.tsx
  frontend/javascripts/admin/statistic/available_tasks_report_view.tsx
  frontend/javascripts/admin/statistic/project_progress_report_view.tsx
  frontend/javascripts/admin/task/task_annotation_view.tsx
  frontend/javascripts/admin/task/task_create_bulk_view.tsx
  frontend/javascripts/admin/task/task_create_form_view.tsx
  frontend/javascripts/admin/task/task_list_view.tsx
  frontend/javascripts/admin/task/task_search_form.tsx
  frontend/javascripts/admin/tasktype/task_type_create_view.tsx
  frontend/javascripts/admin/tasktype/task_type_list_view.tsx
  frontend/javascripts/admin/team/team_list_view.tsx
  frontend/javascripts/admin/user/experience_modal_view.tsx
  frontend/javascripts/admin/user/permissions_and_teams_modal_view.tsx
  frontend/javascripts/admin/user/user_list_view.tsx
  frontend/javascripts/admin/user/user_selection_component.tsx
  frontend/javascripts/admin/voxelytics/artifacts_disk_usage_list.tsx
  frontend/javascripts/admin/voxelytics/task_list_view.tsx
  frontend/javascripts/dashboard/advanced_dataset/dataset_access_list_view.tsx
  frontend/javascripts/dashboard/advanced_dataset/dataset_table.tsx
  frontend/javascripts/dashboard/dashboard_task_list_view.tsx
  frontend/javascripts/dashboard/explorative_annotations_view.tsx
  frontend/javascripts/dashboard/folders/folder_tree.tsx
  frontend/javascripts/dashboard/publication_card.tsx
  frontend/javascripts/dashboard/publication_view.tsx
  frontend/javascripts/libs/utils.ts
  frontend/javascripts/oxalis/view/left-border-tabs/controls_and_rendering_settings_tab.tsx
  frontend/javascripts/oxalis/view/left-border-tabs/mapping_settings_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/comment_tab/comment_tab_view.tsx
  frontend/javascripts/types/globals.d.ts
Labels: frontend

#7744 Added type definitions for @scalableminds/prop-types
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/job/job_list_view.tsx
  frontend/javascripts/admin/project/project_list_view.tsx
  frontend/javascripts/admin/scripts/script_list_view.tsx
  frontend/javascripts/admin/task/task_list_view.tsx
  frontend/javascripts/admin/task/task_search_form.tsx
  frontend/javascripts/admin/tasktype/task_type_list_view.tsx
  frontend/javascripts/admin/team/team_list_view.tsx
  frontend/javascripts/admin/user/user_list_view.tsx
  frontend/javascripts/dashboard/dashboard_task_list_view.tsx
  frontend/javascripts/dashboard/dataset_view.tsx
  frontend/javascripts/dashboard/explorative_annotations_view.tsx
  frontend/javascripts/libs/persistence.ts
  frontend/javascripts/types/prop-types.d.ts
Labels: frontend

#7747 Fix position of context menu in layer settings for layers with long names
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
Labels: frontend

#7743 Remove left over ESLint artifacts
  .eslintignore
  .eslintrc.json
  CHANGELOG.released.md
  frontend/javascripts/admin/dataset/dataset_upload_view.tsx
  frontend/javascripts/admin/task/task_create_bulk_view.tsx
  frontend/javascripts/admin/voxelytics/task_list_view.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_view.tsx
  frontend/javascripts/libs/DRACOWorker.worker.js
  frontend/javascripts/libs/async/latest_task_executor.ts
  frontend/javascripts/libs/resizable_buffer.ts
  frontend/javascripts/libs/utils.ts
  frontend/javascripts/oxalis/controller.tsx
  frontend/javascripts/oxalis/merger_mode.ts
  frontend/javascripts/oxalis/model.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/abstract_cuckoo_table.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/data_cube.ts
  frontend/javascripts/oxalis/model/sagas/volume/volume_interpolation_saga.ts
  frontend/javascripts/oxalis/model_initialization.ts
  frontend/javascripts/oxalis/shaders/utils.glsl.ts
  frontend/javascripts/oxalis/throttled_store.ts
  frontend/javascripts/oxalis/view/rendering_utils.ts
  frontend/javascripts/oxalis/workers/comlink_wrapper.ts
  frontend/javascripts/test/backend-snapshot-tests/datasets.e2e.ts
  frontend/javascripts/test/model/binary/layers/wkstore_adapter.spec.ts
  frontend/javascripts/test/puppeteer/dataset_rendering_helpers.ts
  package.json
  tools/check-cyclic-dependencies.js
  yarn.lock
Labels: frontend

#7750 Revive segment index migration route
  app/models/annotation/Annotation.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: bug, backend

#7748 Added type definitions for react-remarkable
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/tasktype/task_type_list_view.tsx
  frontend/javascripts/admin/voxelytics/task_view.tsx
  frontend/javascripts/components/legal.tsx
  frontend/javascripts/components/text_with_description.tsx
  frontend/javascripts/dashboard/dashboard_task_list_view.tsx
  frontend/javascripts/dashboard/publication_card.tsx
  frontend/javascripts/oxalis/view/components/editable_text_label.tsx
  frontend/javascripts/oxalis/view/components/markdown_modal.tsx
  frontend/javascripts/oxalis/view/new_task_description_modal.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/dataset_info_tab_view.tsx
  frontend/javascripts/types/react-remarkable.d.ts
Labels: frontend

#7757 Fix reading CompressedSegmentation with uint32 data
  CHANGELOG.unreleased.md
  util/src/main/scala/com/scalableminds/util/tools/ByteUtils.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/precomputed/compressedsegmentation/CompressedSegmentation.scala
Labels: bug, backend

#7759 Fix volume annotation downsampling
  CHANGELOG.unreleased.md
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingDownsampling.scala
Labels: bug, backend

#7752 Add Infer Mitochondria Job
  MIGRATIONS.unreleased.md
  app/controllers/JobsController.scala
  app/models/job/JobCommand.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/dataset/dataset_upload_view.tsx
  frontend/javascripts/oxalis/view/action-bar/starting_job_modals.tsx
  tools/postgres/dbtool.js
Labels: backend, frontend, new feature, jobs

#7764 Remove support for meshfiles version 2 and older
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/api/mesh.ts
  frontend/javascripts/admin/api/mesh_v0.ts
  frontend/javascripts/oxalis/model/sagas/mesh_saga.ts
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DSMeshController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSFullMeshService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/MeshFileService.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
Labels: backend, frontend, refactoring

#7771 clarify description in bulk task creation view
  frontend/javascripts/admin/task/task_create_bulk_view.tsx
Labels: enhancement, frontend

#7751 Fix Toast Theme Support and other minor improvements
  frontend/javascripts/libs/render_independently.tsx
  frontend/javascripts/libs/toast.tsx
  frontend/javascripts/oxalis/model/bucket_data_handling/bounding_box.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/test/backend-snapshot-tests/folders.e2e.ts
  frontend/javascripts/theme.tsx
  package.json
  tools/check-cyclic-dependencies.js
Labels: enhancement, frontend
