Repository scalableminds/webknossos, pull requests merged in 2024-06, with the labels that each got.

#7818 Clean up BucketProviders + DatasetArray handles
  MIGRATIONS.unreleased.md
  conf/application.conf
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/DataStoreConfig.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/BinaryDataController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/ZarrStreamingController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/BucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/DatasetArrayBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/DatasetArrayHandle.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/layers/N5DataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/layers/PrecomputedDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/layers/WKWDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/layers/Zarr3DataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/layers/ZarrDataLayers.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/n5/N5BucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/precomputed/PrecomputedBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/wkw/WKWBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/wkw/WKWDataFormat.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/wkw/WKWDataFormatHelper.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr/ZarrBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr/ZarrCoordinatesParser.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/zarr3/Zarr3BucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/N5ArrayExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/N5MultiscalesExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/NgffExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/PrecomputedExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/WebknossosZarrExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/Zarr3ArrayExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/ZarrArrayExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/Positions.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataLayer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/requests/DataServiceRequests.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataServiceHolder.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSRemoteTracingstoreClient.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/ComposeService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/UploadService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/DataCubeCache.scala
  webknossos-datastore/conf/standalone-datastore.conf
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingZarrStreamingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/WKWBucketStreamSink.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/Zarr3BucketStreamSink.scala
Labels: backend, refactoring

#7849 Follow up fix for lock annotations
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/bounding_box_tab.tsx
Labels: bug, frontend

#7802 Refactor Comments as Antd <Tree/>
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/guards.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/comment_tab/comment.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/comment_tab/comment_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/comment_tab/tree_with_comments.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segment_list_item.tsx
  frontend/stylesheets/trace_view/_right_menu.less
Labels: frontend, refactoring

#7850 Reenable viewing mappings in viewmode after lock annotations pr
  frontend/javascripts/oxalis/view/left-border-tabs/mapping_settings_view.tsx
Labels: bug, frontend

#7869 In wkorg proxy, forward mimetype instead of static text/html
  app/controllers/WkorgProxyController.scala
Labels: backend

#7873 Allow negative min / max values for floating point color layers
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/accessors/dataset_accessor.ts
Labels: enhancement, frontend

#7872 Don't show agglomerate zoom warning in case 3d viewport is maximized
  CHANGELOG.unreleased.md
  app/views/main.scala.html
  frontend/javascripts/oxalis/model/sagas/annotation_saga.tsx
  frontend/javascripts/oxalis/view/layouting/flex_layout_helper.ts
  frontend/javascripts/oxalis/view/layouting/flex_layout_types.ts
  frontend/javascripts/test/helpers/apiHelpers.ts
  frontend/javascripts/test/sagas/annotation_saga.spec.ts
  package.json
  webpack.config.js
  yarn.lock
Labels: bug, frontend

#7856 Fix uploading zipped tiff (should set needsConversion=true)
  CHANGELOG.unreleased.md
  conf/messages
  frontend/javascripts/admin/dataset/dataset_upload_view.tsx
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/UploadService.scala
Labels: bug, backend, frontend

#7851 small cleanup in data loading code
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/BinaryDataController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/ZarrStreamingController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/requests/DataServiceRequests.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/AdHocMeshService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/FindDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/SegmentIndexFileService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: backend, refactoring

#7876 Improve mobile support of views
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/auth/login_view.tsx
  frontend/javascripts/admin/auth/registration_view.tsx
  frontend/javascripts/admin/auth/start_reset_password_view.tsx
  frontend/javascripts/components/brain_spinner.tsx
  frontend/javascripts/dashboard/dataset_folder_view.tsx
  frontend/stylesheets/main.less
Labels: enhancement, frontend

#7858 Mapping in default view config
  CHANGELOG.unreleased.md
  frontend/javascripts/dashboard/dataset/dataset_settings_view.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_viewconfig_tab.tsx
  frontend/javascripts/messages.tsx
  frontend/javascripts/oxalis/model_initialization.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
  frontend/javascripts/types/schemas/dataset_view_configuration.schema.ts
Labels: frontend, new feature

#7883 Validate animation job bounding box
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/action-bar/create_animation_modal.tsx
Labels: frontend

#7879 Start Job Modal Improvements
  frontend/javascripts/oxalis/view/action-bar/starting_job_modals.tsx
Labels: enhancement, frontend, jobs

#7884 default state wording to indicate loading
  frontend/javascripts/oxalis/default_state.ts
  frontend/javascripts/test/libs/nml.spec.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/libs/nml.spec.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/libs/nml.spec.js.snap
Labels: frontend

#7697 Remove wkw datasource suggestions
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  docs/data_formats.md
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/dataset/dataset_add_view.tsx
  frontend/javascripts/admin/dataset/dataset_upload_view.tsx
  frontend/javascripts/dashboard/advanced_dataset/dataset_action_view.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_data_tab.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_view.tsx
  frontend/javascripts/messages.tsx
  frontend/javascripts/router.tsx
  frontend/javascripts/types/api_flow_types.ts
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/wkw/WKWDataFormat.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/wkw/WKWArray.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceImporter.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/UploadService.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
Labels: backend, frontend, refactoring

#7877 Combine custom names of merged agglomerates & transfer custom name to split-off segments
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/accessors/volumetracing_accessor.ts
  frontend/javascripts/oxalis/model/sagas/proofread_saga.ts
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segment_list_item.tsx
Labels: enhancement, frontend

#7887 Send baseMappingName when forwarding FullMeshRequest from TS to DS
  CHANGELOG.unreleased.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DSMeshController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/MeshMappingHelper.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TSRemoteDatastoreClient.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/TSFullMeshService.scala
Labels: bug, backend

#7889 Fix dataset composition when only one dataset is used
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/dataset/composition_wizard/04_configure_new_dataset.tsx
Labels: frontend

#7878 Update to Typescript v5.5.0
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/datastore_health_check.ts
  frontend/javascripts/oxalis/api/api_latest.ts
  frontend/javascripts/oxalis/model/accessors/volumetracing_accessor.ts
  frontend/javascripts/oxalis/model/helpers/compaction/compact_toggle_actions.ts
  frontend/javascripts/oxalis/model/reducers/connectome_reducer.ts
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
  package.json
  yarn.lock
Labels: frontend

#7893 Better error message when trying to upload annotation to missing dataset
  app/controllers/AnnotationIOController.scala
Labels: enhancement, backend

#7901 mark json mappings as deprecated in docs
  docs/data_formats.md
  docs/volume_annotation.md
Labels: documentation

#7903 Fix not being able to save dataset settings
  CHANGELOG.unreleased.md
  frontend/javascripts/dashboard/dataset/dataset_settings_view.tsx
Labels: bug, frontend

#7890 Improve case handling of segment group child mesh visibility options
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
Labels: bug, frontend

#7904 Fix progress bar in brain spinner
  frontend/stylesheets/main.less
  frontend/stylesheets/trace_view/_tracing_view.less
Labels: bug, automerge

#7905 Fix segments tab not rendering when a segment group does not have at least on direct child segment
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segments_view.tsx
Labels: bug, frontend

#7908 Added user email to WK plan upgrade emails
  app/controllers/OrganizationController.scala
  app/mail/DefaultMails.scala
  app/views/mail/upgradePricingPlanRequest.scala.html
Labels: backend
