Repository scalableminds/webknossos, pull requests merged in 2025-10, with the labels that each got.

#8936 Fix multiple Frontend API mesh mesh related functions and apply mesh visibility changed done while still loading the mesh
  frontend/javascripts/viewer/api/api_latest.ts
  frontend/javascripts/viewer/controller/segment_mesh_controller.ts
  unreleased_changes/8936.md
Labels: bug, frontend

#8789 Calculate s3 storage
  app/models/dataset/Dataset.scala
  app/models/dataset/WKRemoteDataStoreClient.scala
  app/models/organization/Organization.scala
  app/models/storage/UsedStorageService.scala
  conf/evolutions/143-remote-storage-analysis.sql
  conf/evolutions/reversions/143-remote-storage-analysis.sql
  test/backend/DataVaultTestSuite.scala
  tools/postgres/schema.sql
  unreleased_changes/8789.md
  util/src/main/scala/com/scalableminds/util/tools/Fox.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/DataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/FileSystemDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/GoogleCloudDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/HttpsDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/S3DataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/VaultPath.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSUsedStorageService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/RemoteSourceDescriptorService.scala
  webknossos-datastore/conf/datastore.latest.routes
Labels: backend, new feature

#8950 Speed up shader compilation and avoid WebGL crashes
  frontend/javascripts/test/shaders/shader_syntax.spec.ts
  frontend/javascripts/viewer/controller/viewmodes/arbitrary_controller.tsx
  frontend/javascripts/viewer/geometries/arbitrary_plane.ts
  frontend/javascripts/viewer/geometries/crosshair.ts
  frontend/javascripts/viewer/geometries/materials/plane_material_factory.ts
  frontend/javascripts/viewer/geometries/plane.ts
  frontend/javascripts/viewer/shaders/filtering.glsl.ts
  frontend/javascripts/viewer/shaders/main_data_shaders.glsl.ts
  frontend/javascripts/viewer/shaders/segmentation.glsl.ts
  frontend/javascripts/viewer/shaders/texture_access.glsl.ts
  frontend/javascripts/viewer/view/left-border-tabs/controls_and_rendering_settings_tab.tsx
  unreleased_changes/8950.md
Labels: frontend

#8981 Fix deduplication of mags/attachments to scan for storage
  app/models/dataset/Dataset.scala
  conf/application.conf
  conf/evolutions/144-improve-storage-scan.sql
  conf/evolutions/reversions/144-improve-storage-scan.sql
  tools/postgres/schema.sql
  unreleased_changes/8981.md
Labels: bug, backend

#8912 Upload datasets to S3
  app/controllers/DatasetController.scala
  app/controllers/WKRemoteDataStoreController.scala
  app/models/dataset/ComposeService.scala
  app/models/dataset/Dataset.scala
  app/models/dataset/DatasetService.scala
  app/models/dataset/DatasetUploadToPathsService.scala
  app/models/dataset/LayerToLinkService.scala
  conf/application.conf
  conf/webknossos.latest.routes
  conf/webknossos.versioned.routes
  frontend/javascripts/admin/dataset/dataset_upload_view.tsx
  project/Dependencies.scala
  unreleased_changes/8912.md
  util/src/main/scala/com/scalableminds/util/mvc/ApiVersioning.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/DataStoreConfig.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DSLegacyApiController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/S3DataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/helpers/DirectoryConstants.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataLayer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataSourceStatus.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/AccessTokenService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSRemoteWebknossosClient.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/DatasetSymlinkService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/UploadService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/slacknotification/DSSlackNotificationService.scala
  webknossos-datastore/conf/datastore.versioned.routes
  webknossos-tracingstore/conf/tracingstore.versioned.routes
Labels: enhancement, backend, refactoring

#8984 Fix regression for legacy (v10) manual upload / publish
  app/controllers/WKRemoteDataStoreController.scala
  unreleased_changes/8984.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DSLegacyApiController.scala
Labels: bug, backend
