Repository scalableminds/webknossos, pull requests merged in 2025-08, with the labels that each got.

#8832 Fix reading hdf5 attachments with absolute paths without scheme file://
  unreleased_changes/8832.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DatasetLayerAttachments.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/mapping/Hdf5AgglomerateService.scala
Labels: bug, backend

#8835 Fix requesting segment stats in dataset view mode
  frontend/javascripts/viewer/view/right-border-tabs/segments_tab/segments_view_helper.tsx
Labels: bug, frontend

#8838 Add unit test to check that a datasource’s hashCode is deterministic
  test/backend/DataSourceTestSuite.scala
Labels: backend, testing

#8840 Integrate "change email" into account settings page
  frontend/javascripts/admin/account/account_password_view.tsx
  frontend/javascripts/admin/account/account_profile_view.tsx
  frontend/javascripts/admin/auth/change_email_view.tsx
  frontend/javascripts/navbar.tsx
  frontend/javascripts/router/router.tsx
  unreleased_changes/8840.md
Labels: frontend

#8852 In exploreAndAdd, use name as directoryName
  app/models/dataset/explore/WKExploreRemoteLayerService.scala
Labels: bug, backend

#8866 Limit annotation update transactions to 1M actions
  unreleased_changes/8866.md
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/annotation/AnnotationTransactionService.scala
Labels: enhancement, backend

#8868 Fix undo saga crash
  frontend/javascripts/viewer/model/sagas/undo_saga.ts
  frontend/javascripts/viewer/view/right-border-tabs/segments_tab/segments_view.tsx
  unreleased_changes/8868.md
Labels: bug, frontend, css

#8883 Update ApiVersioning to report v10
  util/src/main/scala/com/scalableminds/util/mvc/ApiVersioning.scala
Labels: bug, backend
