Repository scalableminds/webknossos, pull requests merged in 2025-03, with the labels that each got.

#8405 Look up datasource infos by annotationId rather than tracingId
  CHANGELOG.unreleased.md
  app/WebknossosModule.scala
  app/controllers/AnnotationIOController.scala
  app/controllers/LegacyApiController.scala
  app/controllers/TaskController.scala
  app/controllers/WKRemoteTracingStoreController.scala
  app/models/annotation/AnnotationDataSourceTemporaryStore.scala
  app/models/annotation/AnnotationService.scala
  app/models/annotation/TracingDataSourceTemporaryStore.scala
  app/models/annotation/TracingStore.scala
  app/models/annotation/WKRemoteTracingStoreClient.scala
  app/models/dataset/DatasetService.scala
  app/models/task/TaskCreationParameters.scala
  app/models/task/TaskCreationService.scala
  app/models/task/TaskType.scala
  app/telemetry/SlackNotificationService.scala
  conf/messages
  conf/webknossos.latest.routes
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/rpc/RPCRequest.scala
  webknossos-datastore/proto/SkeletonTracing.proto
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TSRemoteDatastoreClient.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TSRemoteWebknossosClient.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/annotation/AnnotationReversion.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/annotation/AnnotationTransactionService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/annotation/TSAnnotationService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/EditableMappingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/SkeletonTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/TSAnnotationController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingZarrStreamingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/RemoteFallbackLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingMergeService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/SkeletonTracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/TSFullMeshService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeSegmentStatisticsService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingBucketHelper.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
  webknossos-tracingstore/conf/com.scalableminds.webknossos.tracingstore.routes
Labels: bug, backend

#8419 In Unified Annotation Versioning migration, add option for using smaller batch sizes
  tools/migration-unified-annotation-versioning/main.py
  tools/migration-unified-annotation-versioning/migration.py
Labels: backend

#8426 Fix cleanup after failed convert_to_wkw job
  app/controllers/WKRemoteWorkerController.scala
  app/models/job/JobService.scala
Labels: bug, backend

#8425 Fix exploreAndAddRemote route RPC call; fix folderId for adding remote datasets
  CHANGELOG.unreleased.md
  app/models/dataset/WKRemoteDataStoreClient.scala
  webknossos-datastore/conf/com.scalableminds.webknossos.datastore.routes
Labels: bug, backend

#8429 incrase threshold for slow request logging from 30s to 2min
  util/src/main/scala/com/scalableminds/util/requestlogging/RequestLogging.scala
Labels: backend

#8432 Fix volume annotation tool availability on datasets with rotation transforms
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/model/accessors/dataset_layer_transformation_accessor.ts
  frontend/javascripts/oxalis/view/left-border-tabs/layer_settings_tab.tsx
Labels: bug, frontend

#8413 Remove datasetName from task bulk creation view info
  frontend/javascripts/admin/task/task_create_bulk_view.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_data_tab.tsx
  frontend/javascripts/dashboard/folders/details_sidebar.tsx
Labels: bug, frontend

#8445 Fix color theme for modals
  CHANGELOG.unreleased.md
  frontend/javascripts/navbar.tsx
  frontend/javascripts/oxalis/view/action-bar/tracing_actions_view.tsx
  frontend/javascripts/oxalis/view/action-bar/view_dataset_actions_view.tsx
  frontend/javascripts/theme.tsx
Labels: bug, frontend

#8452 Fix CSS spacing for actions in Dashboard > Tasks
  CHANGELOG.unreleased.md
  frontend/javascripts/admin/statistic/time_tracking_overview.tsx
  frontend/javascripts/admin/task/task_list_view.tsx
  frontend/javascripts/admin/tasktype/task_type_list_view.tsx
  frontend/javascripts/admin/team/team_list_view.tsx
  frontend/javascripts/admin/user/user_list_view.tsx
  frontend/javascripts/dashboard/dashboard_task_list_view.tsx
Labels: frontend, css

#8451 Fixed CSS alignment for skeleton tab buttons
  frontend/javascripts/oxalis/view/right-border-tabs/trees_tab/skeleton_tab_view.tsx
  frontend/stylesheets/trace_view/_right_menu.less
Labels: frontend, css

#8444 Fix "animation modal" not showing
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/action-bar/create_animation_modal.tsx
  frontend/javascripts/oxalis/view/action-bar/view_dataset_actions_view.tsx
Labels: bug, frontend

#8448 Offload mag selection to webworker
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/default_state.ts
  frontend/javascripts/oxalis/model/accessors/flycam_accessor.ts
  frontend/javascripts/oxalis/model/accessors/volumetracing_accessor.ts
  frontend/javascripts/oxalis/model/actions/actions.ts
  frontend/javascripts/oxalis/model/actions/flycam_info_cache_actions.ts
  frontend/javascripts/oxalis/model/bucket_data_handling/layer_rendering_manager.ts
  frontend/javascripts/oxalis/model/reducers/flycam_info_cache_reducer.ts
  frontend/javascripts/oxalis/model/sagas/dataset_saga.ts
  frontend/javascripts/oxalis/model/sagas/flycam_info_cache_saga.ts
  frontend/javascripts/oxalis/model/sagas/root_saga.ts
  frontend/javascripts/oxalis/store.ts
  frontend/javascripts/oxalis/view/input_catcher.tsx
  frontend/javascripts/oxalis/workers/async_get_maximum_zoom_for_all_mags.worker.ts
  frontend/javascripts/test/fixtures/volumetracing_object.ts
  frontend/javascripts/test/model/flycam_accessors.spec.ts
  frontend/javascripts/test/reducers/volumetracing_reducer.spec.ts
Labels: frontend, performance

#8436 Add dataset ids to jobs where needed
  app/controllers/AiModelController.scala
  app/controllers/JobController.scala
Labels: enhancement, backend, jobs, worker

#8418 Make AI models cross orga shareable
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/controllers/AiModelController.scala
  app/controllers/InitialDataController.scala
  app/models/aimodels/AiInference.scala
  app/models/aimodels/AiModel.scala
  conf/application.conf
  conf/evolutions/128-allow-ai-model-sharing.sql
  conf/evolutions/reversions/128-allow-ai-model-sharing.sql
  conf/messages
  frontend/javascripts/admin/api/jobs.ts
  frontend/javascripts/admin/voxelytics/ai_model_list_view.tsx
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/misc.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/misc.e2e.js.snap
  frontend/javascripts/types/api_flow_types.ts
  tools/postgres/schema.sql
Labels: backend, frontend, new feature

#8423 Distributed Tree Storage
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  docker-compose.yml
  fossildb/run.sh
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/annotations.e2e.js.snap
  frontend/javascripts/types/api_flow_types.ts
  tools/migration-unified-annotation-versioning/count_skeleton_keys.py
  tools/nml/nmlgenerator.py
  webknossos-datastore/proto/SkeletonTracing.proto
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/TSRemoteWebknossosClient.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/annotation/AnnotationWithTracings.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/annotation/TSAnnotationService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/SkeletonTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/TSAnnotationController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/TracingDataStore.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/TracingMigrationService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/SkeletonTracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/SkeletonTracingWithUpdatedTreeIds.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/updating/SkeletonUpdateActions.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: backend, refactoring

#8456 Add support to explore compact-style n5 multiscales metadata
  CHANGELOG.unreleased.md
  util/src/main/scala/com/scalableminds/util/geometry/Vec3Int.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/n5/N5Metadata.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/ExploreLocalLayerService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/ExploreRemoteLayerService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/N5ArrayExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/N5CompactMultiscalesExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/N5Explorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/N5MultiscalesExplorer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/NeuroglancerUriExplorer.scala
Labels: enhancement, backend

#8467 Fix skeleton name width while editing
  frontend/javascripts/oxalis/view/components/editable_text_label.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/segments_tab/segment_list_item.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/trees_tab/tree_hierarchy_renderers.tsx
  frontend/stylesheets/antd_overwrites.less
  frontend/stylesheets/trace_view/_right_menu.less
Labels: frontend, css

#8468 Fix creating volume tasks with base annotation
  CHANGELOG.unreleased.md
  app/controllers/AnnotationIOController.scala
  app/controllers/TaskController.scala
  app/models/annotation/AnnotationService.scala
  app/models/annotation/WKRemoteTracingStoreClient.scala
  app/models/task/TaskCreationService.scala
Labels: bug, backend

#8385 Enforce storage quota before upload
  CHANGELOG.unreleased.md
  app/controllers/WKRemoteDataStoreController.scala
  conf/messages
  frontend/javascripts/admin/dataset/dataset_upload_view.tsx
  frontend/javascripts/admin/organization/pricing_plan_utils.ts
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/ComposeService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/UploadService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/RedisTemporaryStore.scala
Labels: enhancement, backend, frontend

#8352 Credit system for jobs
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/WebknossosModule.scala
  app/controllers/CreditTransactionController.scala
  app/controllers/JobController.scala
  app/controllers/OrganizationController.scala
  app/controllers/WKRemoteWorkerController.scala
  app/mail/DefaultMails.scala
  app/models/job/JobService.scala
  app/models/organization/CreditState.scala
  app/models/organization/CreditTransaction.scala
  app/models/organization/CreditTransactionService.scala
  app/models/organization/CreditTransactionState.scala
  app/models/organization/FreeCreditTransactionService.scala
  app/models/organization/OrganizationService.scala
  app/models/team/PricingPlan.scala
  app/utils/WkConf.scala
  app/utils/sql/SqlTypeImplicits.scala
  app/views/mail/orderCredits.scala.html
  app/views/mail/orderCreditsRequest.scala.html
  conf/application.conf
  conf/evolutions/129-credit-transactions.sql
  conf/evolutions/reversions/129-credit-transactions.sql
  conf/messages
  conf/webknossos.latest.routes
  frontend/javascripts/admin/admin_rest_api.ts
  frontend/javascripts/admin/api/jobs.ts
  frontend/javascripts/admin/job/job_list_view.tsx
  frontend/javascripts/admin/organization/organization_cards.tsx
  frontend/javascripts/admin/organization/upgrade_plan_modal.tsx
  frontend/javascripts/features.ts
  frontend/javascripts/libs/format_utils.ts
  frontend/javascripts/messages.tsx
  frontend/javascripts/navbar.tsx
  frontend/javascripts/oxalis/model/actions/organization_actions.ts
  frontend/javascripts/oxalis/model/reducers/organization_reducer.ts
  frontend/javascripts/oxalis/view/action-bar/starting_job_modals.tsx
  frontend/javascripts/oxalis/view/action_bar_view.tsx
  frontend/javascripts/test/fixtures/dummy_organization.ts
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/misc.e2e.js.md
  frontend/javascripts/test/snapshots/public-test/test-bundle/test/backend-snapshot-tests/misc.e2e.js.snap
  frontend/javascripts/types/api_flow_types.ts
  tools/postgres/schema.sql
  util/src/main/scala/com/scalableminds/util/geometry/BoundingBox.scala
  util/src/main/scala/com/scalableminds/util/tools/ConfigReader.scala
Labels: backend, frontend, new feature, jobs

#8471 Fix credit system by returning balance as a string in organization routes
  app/models/organization/OrganizationService.scala
Labels: bug, backend

#8473 Fix navbar menu highlighting
  CHANGELOG.released.md
  frontend/javascripts/navbar.tsx
Labels: frontend

#8477 Force rerender of dataset extent tooltip on dataset change
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/view/right-border-tabs/dataset_info_tab_view.tsx
Labels: bug, frontend

#8478 Credit transactions clean up
  CHANGELOG.unreleased.md
  app/controllers/JobController.scala
  app/models/organization/OrganizationService.scala
  conf/messages
  frontend/javascripts/oxalis/view/action-bar/starting_job_modals.tsx
Labels: bug, backend, frontend
