Repository scalableminds/webknossos, pull requests merged in 2025-09, with the labels that each got.

#8895 Prevent closing signup modal when pressing AltGr
  frontend/javascripts/viewer/view/action_bar_view.tsx
  unreleased_changes/8895.md
Labels: bug, frontend

#8911 Allow export_tiff and render_animation jobs cross-orga for public datasets
  app/controllers/JobController.scala
  conf/messages
  unreleased_changes/8911.md
Labels: enhancement, backend

#8919 Fix ordering of periodically polled update actions
  frontend/javascripts/viewer/model/sagas/saving/save_saga.ts
  unreleased_changes/8919.md
Labels: bug, frontend

#8926 For custom-model inferences, pass model’s orga id
  app/controllers/AiModelController.scala
  unreleased_changes/8926.md
Labels: backend, jobs

#8925 Fix scene controller crash
  frontend/javascripts/banners.tsx
  frontend/javascripts/viewer/model/reducers/ui_reducer.ts
  frontend/javascripts/viewer/view/plane_view.ts
  unreleased_changes/8925.md
Labels: bug, frontend

#8930 Updated Docs
  docs/automation/animations.md
  docs/dashboard/datasets.md
  docs/datasets/settings.md
  docs/images/dataset_data.jpeg
  docs/images/dataset_general.jpeg
  docs/images/dataset_settings_datasource.jpeg
  docs/images/dataset_settings_delete.jpeg
  docs/images/dataset_settings_metadata.jpeg
  docs/images/dataset_settings_sharing.jpeg
  docs/images/dataset_settings_viewconfig.jpeg
  docs/images/dataset_view_config.jpeg
  docs/images/delete_tab.jpeg
  docs/images/metadata_tab.jpeg
  docs/images/sharing_tab.jpeg
  docs/sharing/dataset_sharing.md
  docs/today_i_learned.md
  docs/ui/object_info.md
  docs/ui/toolbar.md
  docs/users/index.md
  docs/users/organizations.md
  docs/users/passkeys.md
  docs/users/password.md
Labels: documentation

#8824 Add multi click split tool for proofreading
  docs/ui/keyboard_shortcuts.md
  frontend/javascripts/admin/rest_api.ts
  frontend/javascripts/messages.tsx
  frontend/javascripts/viewer/controller.tsx
  frontend/javascripts/viewer/controller/combinations/tool_controls.ts
  frontend/javascripts/viewer/controller/combinations/volume_handlers.ts
  frontend/javascripts/viewer/controller/segment_mesh_controller.ts
  frontend/javascripts/viewer/controller/td_controller.tsx
  frontend/javascripts/viewer/controller/viewmodes/plane_controller.tsx
  frontend/javascripts/viewer/default_state.ts
  frontend/javascripts/viewer/model/actions/proofread_actions.ts
  frontend/javascripts/viewer/model/reducers/dataset_reducer.ts
  frontend/javascripts/viewer/model/reducers/proofreading_reducer.ts
  frontend/javascripts/viewer/model/sagas/volume/proofread_saga.ts
  frontend/javascripts/viewer/store.ts
  frontend/javascripts/viewer/view/action-bar/tools/volume_specific_ui.tsx
  frontend/javascripts/viewer/view/context_menu.tsx
  frontend/javascripts/viewer/view/plane_view.ts
  unreleased_changes/8824.md
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingService.scala
Labels: backend, frontend, new feature, proofreading

#8880 Frontend Only: Default to treating a mapping as HDF5 in case it is not json
  frontend/javascripts/dashboard/dataset/dataset_settings_viewconfig_tab.tsx
  frontend/javascripts/types/schemas/url_state.schema.ts
  frontend/javascripts/types/validation.ts
  frontend/javascripts/viewer/model/bucket_data_handling/wkstore_adapter.ts
  frontend/javascripts/viewer/model/reducers/volumetracing_reducer_helpers.ts
  frontend/javascripts/viewer/model/sagas/annotation_saga.tsx
  frontend/javascripts/viewer/model/sagas/saga_helpers.ts
  frontend/javascripts/viewer/model/sagas/volume/mapping_saga.ts
  frontend/javascripts/viewer/model/sagas/volume/proofread_saga.ts
  frontend/javascripts/viewer/view/action_bar_view.tsx
  frontend/javascripts/viewer/view/left-border-tabs/modals/add_volume_layer_modal.tsx
  frontend/javascripts/viewer/view/right-border-tabs/segments_tab/segments_view.tsx
  unreleased_changes/8880.md
Labels: enhancement, frontend

#8897 Fix exploring remote webknossos datasource-properties.jsons with paths
  unreleased_changes/8897.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/explore/WebknossosZarrExplorer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingZarrStreamingController.scala
Labels: bug, backend

#8951 Rename Basic to Personal plan
  app/models/organization/OrganizationService.scala
  app/models/team/PricingPlan.scala
  conf/evolutions/142-personal-plan.sql
  conf/evolutions/reversions/142-personal-plan.sql
  docs/automation/animations.md
  docs/index.md
  docs/sharing/dataset_sharing.md
  frontend/javascripts/admin/onboarding.tsx
  frontend/javascripts/admin/organization/organization_overview_view.tsx
  frontend/javascripts/admin/organization/pricing_plan_utils.ts
  frontend/javascripts/admin/organization/upgrade_plan_modal.tsx
  frontend/javascripts/test/fixtures/dummy_organization.ts
  test/db/organizations.csv
  tools/postgres/schema.sql
  unreleased_changes/8951.md
Labels: backend, frontend
