Repository scalableminds/webknossos, pull requests merged in 2025-05, with the labels that each got.

#8536 Add missing typechecks to backend tests
  .github/workflows/build_test_deploy.yml
Labels: automerge

#8563 Remove data.maybe
  CHANGELOG.unreleased.md
  frontend/javascripts/libs/utils.ts
  frontend/javascripts/oxalis/api/api_latest.ts
  frontend/javascripts/oxalis/controller/combinations/skeleton_handlers.ts
  frontend/javascripts/oxalis/controller/scene_controller.ts
  frontend/javascripts/oxalis/geometries/skeleton.ts
  frontend/javascripts/oxalis/merger_mode.ts
  frontend/javascripts/oxalis/model/accessors/skeletontracing_accessor.ts
  frontend/javascripts/oxalis/model/actions/skeletontracing_actions.tsx
  frontend/javascripts/oxalis/model/reducers/connectome_reducer.ts
  frontend/javascripts/oxalis/model/reducers/reducer_helpers.ts
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer.ts
  frontend/javascripts/oxalis/model/reducers/skeletontracing_reducer_helpers.ts
  frontend/javascripts/oxalis/model/sagas/proofread_saga.ts
  frontend/javascripts/oxalis/model/sagas/skeletontracing_saga.ts
  frontend/javascripts/oxalis/view/context_menu.tsx
  frontend/javascripts/oxalis/view/remove_tree_modal.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/comment_tab/comment_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/connectome_tab/connectome_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/trees_tab/skeleton_tab_view.tsx
  frontend/javascripts/oxalis/view/right-border-tabs/trees_tab/tree_hierarchy_view_helpers.ts
  frontend/javascripts/test/geometries/skeleton.spec.ts
  frontend/javascripts/test/reducers/volumetracing_reducer.spec.ts
  frontend/javascripts/types/data.maybe.d.ts
  package.json
  yarn.lock
Labels: frontend, dependencies

#8586 Add remaining Typescript module definitions
  frontend/javascripts/libs/DRACOLoader.ts
  frontend/javascripts/libs/draco.ts
  frontend/javascripts/libs/mjs.ts
  frontend/javascripts/libs/utils.ts
  frontend/javascripts/oxalis/api/api_latest.ts
  frontend/javascripts/oxalis/controller/camera_controller.ts
  frontend/javascripts/oxalis/controller/segment_mesh_controller.ts
  frontend/javascripts/oxalis/model/helpers/nml_helpers.ts
  frontend/javascripts/oxalis/model/helpers/reduce_reducers.ts
  frontend/javascripts/oxalis/view/arbitrary_view.ts
  frontend/javascripts/oxalis/view/plane_view.ts
  frontend/javascripts/types/deep-freeze.d.ts
  frontend/javascripts/types/naturalsort.d.ts
  frontend/javascripts/types/saxophone.d.ts
  frontend/javascripts/types/tween.d.ts
Labels: frontend

#8588 Limit Animations jobs by mesh polygon count
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/controller/segment_mesh_controller.ts
  frontend/javascripts/oxalis/view/action-bar/create_animation_modal.tsx
Labels: frontend

#8535 Clean up green task bounding boxes
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/controller/scene_controller.ts
  frontend/javascripts/oxalis/model/accessors/tracing_accessor.ts
Labels: frontend

#8599 Fix broken annotation view (caused by incorrect merge in #8535)
  CHANGELOG.unreleased.md
  frontend/javascripts/oxalis/controller/scene_controller.ts
Labels: bug, frontend

#8502 Allow guest status in organizations
  CHANGELOG.unreleased.md
  MIGRATIONS.unreleased.md
  app/controllers/AuthenticationController.scala
  app/controllers/UserController.scala
  app/models/user/User.scala
  app/models/user/UserService.scala
  conf/evolutions/131-more-indices-on-users.sql
  conf/evolutions/reversions/131-more-indices-on-users.sql
  frontend/javascripts/admin/onboarding.tsx
  frontend/javascripts/admin/organization/pricing_plan_utils.ts
  frontend/javascripts/admin/rest_api.ts
  frontend/javascripts/admin/team/team_list_view.tsx
  frontend/javascripts/admin/user/user_list_view.tsx
  frontend/javascripts/test/backend-snapshot-tests/__snapshots__/misc.e2e.ts.snap
  frontend/javascripts/test/backend-snapshot-tests/__snapshots__/users.e2e.ts.snap
  frontend/javascripts/test/backend-snapshot-tests/misc.e2e.ts
  frontend/javascripts/test/backend-snapshot-tests/users.e2e.ts
  frontend/javascripts/test/e2e-setup.ts
  frontend/javascripts/test/fixtures/dummy_user.ts
  frontend/javascripts/types/api_types.ts
  test/db/folders.csv
  test/db/multiusers.csv
  test/db/organizations.csv
  test/db/tokens.csv
  test/db/users.csv
  tools/postgres/schema.sql
Labels: backend, frontend, new feature

#8600 Rename OxalisModel to WebKnossosModel
  frontend/javascripts/oxalis/api/api_latest.ts
  frontend/javascripts/oxalis/api/api_loader.ts
  frontend/javascripts/oxalis/model.ts
  frontend/javascripts/oxalis/singletons.ts
  frontend/javascripts/oxalis/view/layouting/tracing_layout_view.tsx
  frontend/javascripts/test/model/model.spec.ts
Labels: frontend

#8558 Unify checks when applying merge action in editable mapping
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingUpdater.scala
Labels: backend, refactoring

#8554 Remove stored meshes feature from backend and postgres
  MIGRATIONS.unreleased.md
  app/controllers/MeshController.scala
  app/models/mesh/Mesh.scala
  conf/evolutions/132-remove-stored-meshes.sql
  conf/evolutions/reversions/132-remove-stored-meshes.sql
  conf/messages
  conf/webknossos.latest.routes
  tools/postgres/schema.sql
Labels: backend, refactoring

#8559 Remove VoxelType Enum, use ArrayDataType instead for WKW
  MIGRATIONS.unreleased.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/wkw/VoxelType.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/wkw/WKWHeader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/ArrayDataType.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/BytesConverter.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/DatasetHeader.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataLayer.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/WKWBucketStreamSink.scala
Labels: backend, refactoring

#8573 In Data Loading, Clip to Layer BoundingBox (Redo #8551)
  CHANGELOG.unreleased.md
  util/src/main/scala/com/scalableminds/util/geometry/BoundingBox.scala
  util/src/main/scala/com/scalableminds/util/geometry/Vec3Int.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/BinaryDataController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/ZarrStreamingController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/DatasetArrayBucketProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/dataformats/MappingProvider.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataSource.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/requests/Cuboid.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/requests/DataServiceRequests.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/FindDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/MappingService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/SegmentIndexFileService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/mesh/AdHocMeshService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/mesh/DSFullMeshService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/AgglomerateFileCache.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/ParsedMappingCache.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: enhancement, backend

#8605 Add segment color to animations
  CHANGELOG.unreleased.md
  frontend/javascripts/viewer/view/action-bar/create_animation_modal.tsx
Labels: frontend, worker

#8590 Protect native bucket scanner from empty Arrays
  CHANGELOG.unreleased.md
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/helpers/SegmentStatistics.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/SegmentIndexFileService.scala
  webknossos-jni/src/bucketScanner.cpp
Labels: backend

#8612 Always show guest indication in user list (even when user is admin)
  CHANGELOG.unreleased.md
  app/controllers/AuthenticationController.scala
  frontend/javascripts/admin/team/team_list_view.tsx
Labels: bug, frontend

#8613 Updated to Typescript 5.8
  CHANGELOG.unreleased.md
  frontend/javascripts/test/mocks/ava_only_mock_lz4.ts
  package.json
  tsconfig.json
  yarn.lock
Labels: frontend, dependencies

#8624 Do not use java TemporaryFiles in downloads
  CHANGELOG.unreleased.md
  app/Startup.scala
  app/WebknossosModule.scala
  app/controllers/AnnotationIOController.scala
  app/files/WkTempFileService.scala
  app/models/annotation/AnnotationService.scala
  app/models/annotation/AnnotationUploadService.scala
  util/src/main/scala/com/scalableminds/util/io/ZipIO.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/cleanup/CleanUpService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/files/TempFileService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/files/TsTempFileService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: bug, backend

#8625 Pass sharingToken to dataset name disambiguation logic
  CHANGELOG.unreleased.md
  app/controllers/DatasetController.scala
  conf/webknossos.latest.routes
  frontend/javascripts/admin/api/disambiguate_legacy_routes.tsx
  frontend/javascripts/router.tsx
Labels: bug, backend

#8609 Store dataset properties in DB
  MIGRATIONS.unreleased.md
  app/models/dataset/Dataset.scala
  conf/evolutions/133-datasource-properties-in-db.sql
  conf/evolutions/reversions/133-datasource-properties-in-db.sql
  conf/webknossos.latest.routes
  test/db/dataSet_layers.csv
  test/db/dataSet_mags.csv
  tools/postgres/schema.sql
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datareaders/AxisOrder.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataLayer.scala
Labels: enhancement, backend

#8631 Allow specifying description in annotation upload, overwriting that from NML
  CHANGELOG.unreleased.md
  app/controllers/AnnotationIOController.scala
Labels: enhancement, backend

#8639 Fix dataset deletion error because of wrong SQL parsing
  CHANGELOG.unreleased.md
  app/models/dataset/Dataset.scala
Labels: bug, backend

#7580 Limit bbox of volume tracings to that of fallback layer
  CHANGELOG.unreleased.md
  app/controllers/AnnotationIOController.scala
  app/models/annotation/AnnotationService.scala
Labels: enhancement, backend, frontend

#8629 Allow to retry jobs that were cancelled
  CHANGELOG.unreleased.md
  app/models/job/Job.scala
  frontend/javascripts/admin/job/job_list_view.tsx
  frontend/javascripts/types/api_types.ts
Labels: enhancement, backend, frontend

#8546 Allow toggling visibility of segments and segment groups
  CHANGELOG.unreleased.md
  app/models/annotation/nml/NmlParser.scala
  app/models/annotation/nml/NmlWriter.scala
  frontend/javascripts/dashboard/dataset_view.tsx
  frontend/javascripts/libs/cuckoo/abstract_cuckoo_table.ts
  frontend/javascripts/messages.tsx
  frontend/javascripts/test/helpers/saveHelpers.ts
  frontend/javascripts/test/model/cuckoo_table.spec.ts
  frontend/javascripts/test/puppeteer/dtype_datasets_rendering.screenshot.ts
  frontend/javascripts/test/sagas/compact_toggle_actions.spec.ts
  frontend/javascripts/test/screenshots/dtype_int16_segmentation_zoomed_in_selective_segment.png
  frontend/javascripts/test/screenshots/dtype_int32_segmentation_zoomed_in_selective_segment.png
  frontend/javascripts/test/screenshots/dtype_int64_segmentation_zoomed_in_selective_segment.png
  frontend/javascripts/test/screenshots/dtype_int8_segmentation_zoomed_in_selective_segment.png
  frontend/javascripts/test/screenshots/dtype_uint16_segmentation_zoomed_in_selective_segment.png
  frontend/javascripts/test/screenshots/dtype_uint32_segmentation_zoomed_in_selective_segment.png
  frontend/javascripts/test/screenshots/dtype_uint64_segmentation_zoomed_in_selective_segment.png
  frontend/javascripts/test/screenshots/dtype_uint8_segmentation_zoomed_in_selective_segment.png
  frontend/javascripts/types/api_types.ts
  frontend/javascripts/types/schemas/dataset_view_configuration.schema.ts
  frontend/javascripts/viewer/api/wk_dev.ts
  frontend/javascripts/viewer/controller/combinations/volume_handlers.ts
  frontend/javascripts/viewer/default_state.ts
  frontend/javascripts/viewer/geometries/materials/plane_material_factory.ts
  frontend/javascripts/viewer/model/accessors/volumetracing_accessor.ts
  frontend/javascripts/viewer/model/actions/volumetracing_action_helpers.ts
  frontend/javascripts/viewer/model/actions/volumetracing_actions.ts
  frontend/javascripts/viewer/model/bucket_data_handling/layer_rendering_manager.ts
  frontend/javascripts/viewer/model/helpers/compaction/compact_toggle_actions.ts
  frontend/javascripts/viewer/model/reducers/dataset_reducer.ts
  frontend/javascripts/viewer/model/reducers/skeletontracing_reducer_helpers.ts
  frontend/javascripts/viewer/model/reducers/volumetracing_reducer.ts
  frontend/javascripts/viewer/model/sagas/update_actions.ts
  frontend/javascripts/viewer/model/sagas/volumetracing_saga.tsx
  frontend/javascripts/viewer/shaders/main_data_shaders.glsl.ts
  frontend/javascripts/viewer/shaders/segmentation.glsl.ts
  frontend/javascripts/viewer/store.ts
  frontend/javascripts/viewer/view/action-bar/tools/tool_buttons.tsx
  frontend/javascripts/viewer/view/action-bar/tools/toolbar_view.tsx
  frontend/javascripts/viewer/view/components/editable_text_label.tsx
  frontend/javascripts/viewer/view/context_menu.tsx
  frontend/javascripts/viewer/view/left-border-tabs/hide_unregistered_segments_switch.tsx
  frontend/javascripts/viewer/view/left-border-tabs/layer_settings_tab.tsx
  frontend/javascripts/viewer/view/right-border-tabs/segments_tab/segment_list_item.tsx
  frontend/javascripts/viewer/view/right-border-tabs/segments_tab/segments_view.tsx
  frontend/javascripts/viewer/view/right-border-tabs/segments_tab/segments_view_helper.tsx
  frontend/javascripts/viewer/view/right-border-tabs/trees_tab/tree_hierarchy_view_helpers.ts
  frontend/javascripts/viewer/view/version_entry.tsx
  webknossos-datastore/proto/VolumeTracing.proto
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/annotation/UpdateActions.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/GroupUtils.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeUpdateActions.scala
Labels: frontend, new feature

#8643 Densify tree ids when merging skeletons
  CHANGELOG.unreleased.md
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/TreeUtils.scala
Labels: bug, backend

#8656 Fix regression with DiffableMaps and duplicate agglomerate skeletons
  CHANGELOG.unreleased.md
  frontend/javascripts/test/fixtures/hybridtracing_object.ts
  frontend/javascripts/test/reducers/skeletontracing_reducer.spec.ts
  frontend/javascripts/viewer/model/reducers/skeletontracing_reducer_helpers.ts
Labels: bug, frontend

#8655 use new equals syntax in dockerfile
  .github/Dockerfile.webknossos
Labels: CI

#8492 Make user bounding box updates more efficient
  CHANGELOG.unreleased.md
  frontend/javascripts/dashboard/dataset/dataset_settings_view.tsx
  frontend/javascripts/libs/utils.ts
  frontend/javascripts/test/sagas/bounding_box_saving.spec.ts
  frontend/javascripts/viewer/model/helpers/compaction/compact_save_queue.ts
  frontend/javascripts/viewer/model/reducers/reducer_helpers.ts
  frontend/javascripts/viewer/model/sagas/save_saga.ts
  frontend/javascripts/viewer/model/sagas/skeletontracing_saga.ts
  frontend/javascripts/viewer/model/sagas/update_actions.ts
  frontend/javascripts/viewer/model/sagas/volumetracing_saga.tsx
  frontend/javascripts/viewer/view/version_entry.tsx
  test/backend/TristateJsonTestSuite.scala
  util/src/main/scala/com/scalableminds/util/tools/TristateOptionJsonHelper.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/annotation/UpdateActions.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/updating/SkeletonUpdateActions.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeUpdateActions.scala
Labels: enhancement, backend, frontend
