Repository scalableminds/webknossos, pull requests merged in 2025-07, with the labels that each got.

#8718 fix contrast in credits footer
  frontend/javascripts/admin/onboarding.tsx
  frontend/javascripts/components/credits_footer.tsx
  frontend/stylesheets/main.less
Labels: frontend, css

#8742 Unify Wording in Compound Annotation Links
  frontend/javascripts/admin/project/project_list_view.tsx
  frontend/javascripts/admin/task/task_list_view.tsx
  frontend/javascripts/admin/tasktype/task_type_list_view.tsx
Labels: frontend

#8748 Refactor several modals to functional components
  frontend/javascripts/dashboard/transfer_task_modal.tsx
  frontend/javascripts/viewer/view/action-bar/add_new_layout_modal.tsx
  frontend/javascripts/viewer/view/action-bar/user_scripts_modal_view.tsx
  frontend/javascripts/viewer/view/new_task_description_modal.tsx
  frontend/javascripts/viewer/view/recommended_configuration_modal.tsx
  frontend/javascripts/viewer/view/remove_tree_modal.tsx
Labels: frontend

#8735 Show task bounding boxes in compound annotations
  app/models/annotation/AnnotationMerger.scala
  app/models/annotation/WKRemoteTracingStoreClient.scala
  app/models/annotation/handler/ProjectInformationHandler.scala
  app/models/annotation/handler/TaskInformationHandler.scala
  app/models/annotation/handler/TaskTypeInformationHandler.scala
  app/models/task/Task.scala
  conf/messages
  unreleased_changes/8735.md
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/SkeletonTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/TSAnnotationController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/VolumeTracingController.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/BoundingBoxMerger.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/skeleton/SkeletonTracingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: enhancement, backend

#8743 Fix duplicating compound volume annotations
  app/models/annotation/AnnotationDataSourceTemporaryStore.scala
  app/models/annotation/handler/AnnotationInformationHandler.scala
  app/models/annotation/handler/ProjectInformationHandler.scala
  app/models/annotation/handler/SavedTracingInformationHandler.scala
  app/models/annotation/handler/TaskInformationHandler.scala
  app/models/annotation/handler/TaskTypeInformationHandler.scala
  conf/messages
  unreleased_changes/8743.md
Labels: bug, backend

#8756 Clear CompoundAnnotation Cache on Task Changes
  app/controllers/AnnotationController.scala
  app/models/annotation/AnnotationService.scala
  app/models/annotation/AnnotationStore.scala
  app/models/annotation/handler/AnnotationInformationHandler.scala
  app/models/annotation/handler/SavedTracingInformationHandler.scala
  app/models/task/TaskService.scala
  unreleased_changes/8756.md
Labels: enhancement, backend

#8768 Do not fetch connectome file list for volume layer without fallback
  frontend/javascripts/viewer/view/right-border-tabs/connectome_tab/connectome_settings.tsx
  unreleased_changes/8768.md
Labels: bug, frontend

#8772 Allow guest users from trial orgas
  app/models/user/User.scala
  unreleased_changes/8772.md
Labels: backend

#8774 [Admin Views] Use `useWkSelector` instead of mapStateToProps
  frontend/javascripts/admin/dataset/dataset_add_remote_view.tsx
  frontend/javascripts/admin/dataset/dataset_add_view.tsx
  frontend/javascripts/admin/project/project_list_view.tsx
  frontend/javascripts/admin/scripts/script_create_view.tsx
  frontend/javascripts/admin/task/task_annotation_view.tsx
  frontend/javascripts/admin/user/user_list_view.tsx
Labels: frontend

#8750 Refactored several React class components as functional components
  frontend/javascripts/components/disable_generic_dnd.ts
  frontend/javascripts/components/fixed_expandable_table.tsx
  frontend/javascripts/components/highlightable_row.tsx
  frontend/javascripts/components/loop.ts
  frontend/javascripts/components/select_experience_domain.tsx
  frontend/javascripts/components/text_with_description.tsx
  frontend/javascripts/libs/shortcut_component.ts
Labels: frontend

#8739 Update React Router to v6
  frontend/javascripts/admin/account/account_password_view.tsx
  frontend/javascripts/admin/account/account_settings_view.tsx
  frontend/javascripts/admin/auth/accept_invite_view.tsx
  frontend/javascripts/admin/auth/finish_reset_password_view.tsx
  frontend/javascripts/admin/auth/login_view.tsx
  frontend/javascripts/admin/auth/registration_view.tsx
  frontend/javascripts/admin/auth/start_reset_password_view.tsx
  frontend/javascripts/admin/auth/verify_email_view.tsx
  frontend/javascripts/admin/dataset/dataset_add_remote_view.tsx
  frontend/javascripts/admin/dataset/dataset_add_view.tsx
  frontend/javascripts/admin/dataset/dataset_upload_view.tsx
  frontend/javascripts/admin/dataset/dataset_url_import.tsx
  frontend/javascripts/admin/onboarding.tsx
  frontend/javascripts/admin/organization/organization_danger_zone_view.tsx
  frontend/javascripts/admin/organization/organization_notifications_view.tsx
  frontend/javascripts/admin/organization/organization_overview_view.tsx
  frontend/javascripts/admin/organization/organization_view.tsx
  frontend/javascripts/admin/project/project_create_view.tsx
  frontend/javascripts/admin/project/project_list_view.tsx
  frontend/javascripts/admin/scripts/script_create_view.tsx
  frontend/javascripts/admin/task/task_create_form_view.tsx
  frontend/javascripts/admin/task/task_create_view.tsx
  frontend/javascripts/admin/task/task_list_view.tsx
  frontend/javascripts/admin/tasktype/task_type_create_view.tsx
  frontend/javascripts/admin/tasktype/task_type_list_view.tsx
  frontend/javascripts/admin/voxelytics/task_list_view.tsx
  frontend/javascripts/admin/voxelytics/workflow_view.tsx
  frontend/javascripts/components/redirect.tsx
  frontend/javascripts/components/secured_route.tsx
  frontend/javascripts/dashboard/advanced_dataset/dataset_action_view.tsx
  frontend/javascripts/dashboard/dashboard_view.tsx
  frontend/javascripts/dashboard/dataset/dataset_collection_context.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_delete_tab.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_sharing_tab.tsx
  frontend/javascripts/dashboard/dataset/dataset_settings_view.tsx
  frontend/javascripts/dashboard/dataset_view.tsx
  frontend/javascripts/dashboard/publication_details_view.tsx
  frontend/javascripts/libs/persistence.ts
  frontend/javascripts/libs/with_blocker_hoc.tsx
  frontend/javascripts/libs/with_router_hoc.tsx
  frontend/javascripts/main.tsx
  frontend/javascripts/navbar.tsx
  frontend/javascripts/router.tsx
  frontend/javascripts/router/page_not_found_view.tsx
  frontend/javascripts/router/route_wrappers.tsx
  frontend/javascripts/router/router.tsx
  frontend/javascripts/viewer/controller.tsx
  frontend/javascripts/viewer/view/action_bar_view.tsx
  frontend/javascripts/viewer/view/layouting/tracing_layout_view.tsx
  package.json
  unreleased_changes/8739.md
  yarn.lock
Labels: enhancement, frontend, dependencies

#8752 Refactor OnboardingView to functional component with hooks
  frontend/javascripts/admin/onboarding.tsx
  frontend/javascripts/admin/welcome_ui.tsx
Labels: frontend

#8786 Only use d/f switching / dynamic space direction for d/f
  frontend/javascripts/test/reducers/flycam_reducer.spec.ts
  frontend/javascripts/viewer/controller/combinations/move_handlers.ts
  frontend/javascripts/viewer/controller/viewmodes/plane_controller.tsx
  frontend/javascripts/viewer/model/actions/flycam_actions.ts
  frontend/javascripts/viewer/model/reducers/flycam_reducer.ts
  unreleased_changes/8786.md
Labels: bug, frontend

#8740 Make l4_sample public in test database
  frontend/javascripts/test/backend-snapshot-tests/__snapshots__/annotations.e2e.ts.snap
  test/db/dataSets.csv
Labels: testing

#8757 Truncate action log to avoid json string decoding overflow
  frontend/javascripts/admin/rest_api.ts
  frontend/javascripts/viewer/view/version_list.tsx
  unreleased_changes/8757.md
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/annotation/TSAnnotationService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/controllers/TSAnnotationController.scala
  webknossos-tracingstore/conf/tracingstore.latest.routes
Labels: backend

#8793 Fix moving dashboard folders
  app/controllers/FolderController.scala
  app/models/folder/Folder.scala
  conf/messages
  unreleased_changes/8793.md
Labels: bug, backend

#8741 Stricter Checks on Paths in DataSources
  conf/messages
  test/e2e/End2EndSpec.scala
  util/src/main/scala/com/scalableminds/util/io/PathUtils.scala
  util/src/main/scala/com/scalableminds/util/io/ZipIO.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/DataSourceController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/controllers/ExportsController.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/datavault/FileSystemDataVault.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataLayer.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/models/datasource/DataSource.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/BinaryDataServiceHolder.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DSUsedStorageService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/connectome/ConnectomeFileService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/connectome/Hdf5ConnectomeFileService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/mapping/AgglomerateService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/mapping/MappingService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/mesh/Hdf5MeshFileService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/mesh/MeshFileService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/segmentindex/Hdf5SegmentIndexFileService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/segmentindex/SegmentIndexFileService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/uploading/UploadService.scala
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/storage/RemoteSourceDescriptorService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/files/TempFileService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/editablemapping/EditableMappingService.scala
  webknossos-tracingstore/app/com/scalableminds/webknossos/tracingstore/tracings/volume/VolumeTracingService.scala
Labels: backend

#8778 Update Tanstack-query to v5
  frontend/javascripts/admin/onboarding.tsx
  frontend/javascripts/dashboard/dataset/dataset_collection_context.tsx
  frontend/javascripts/dashboard/dataset/queries.tsx
  frontend/javascripts/dashboard/folders/details_sidebar.tsx
  frontend/javascripts/main.tsx
  frontend/javascripts/viewer/view/action-bar/private_links_view.tsx
  frontend/javascripts/viewer/view/version_list.tsx
  package.json
  yarn.lock
Labels: frontend, dependencies

#8806 Add link to avatar dropdown to link to email change view
  frontend/javascripts/navbar.tsx
  unreleased_changes/8806.md
Labels: frontend

#8804 When determining mag realpaths, treat schemeless uris as local
  webknossos-datastore/app/com/scalableminds/webknossos/datastore/services/DataSourceService.scala
Labels: bug, backend

#8801 Prevent dragging tree while renaming
  frontend/javascripts/viewer/view/right-border-tabs/segments_tab/segments_view.tsx
  frontend/javascripts/viewer/view/right-border-tabs/trees_tab/tree_hierarchy_renderers.tsx
  frontend/javascripts/viewer/view/right-border-tabs/trees_tab/tree_hierarchy_view.tsx
  unreleased_changes/8801.md
Labels: bug, frontend

#8810 Pass annotationId to create animation job mesh parameters
  frontend/javascripts/viewer/view/action-bar/create_animation_modal.tsx
Labels: frontend, worker
